<template>

	<section class="card col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">


		<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('event')" :header_title=header_title
		               :message=message></editor-header>

		<section class="card-body " v-show="is_page_loaded">

			<form @submit.prevent="validateBeforeSubmit">


				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-xs-12 col-sm-4 col-form-label">ID</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" v-model="event.id" class="form-control integer_input" readonly>
					</div>
				</div>


				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="name">Name<span class="required"> * </span></label>
					<div class="col-xs-12 col-sm-8">
						<input id="name" v-validate="'required|max:255'" v-model="event.name"
						       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('name') }" name="name"
						       type="text" placeholder="Enter unique name of event">
						<span v-show="vueErrorsList.has('name')" class="text-danger">{{ vueErrorsList.first('name') }}</span>
					</div>
				</div>



				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="at_time">At time<span class="required"> * </span></label>
					<!--event.at_time::{{ event.at_time }}-->
					<div class="col-xs-12 col-sm-8 pt-3">
						<div class="input_with_btn_at_right mb-5">
							<!--v-validate="'required'"-->

							<!--format="'YYYY-MM-DD hh:mm'"-->
							<datetime
									type="datetime"
									:hour-step="1"
									v-model="event.at_time"
									:minute-step="5"
									:format="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' }"
									:week-start="0"
									auto
							></datetime>

							<!--<date-picker id="at_time" v-model="event.at_time" :config="datePickerConfigArray"></date-picker>-->
							<!--<el-tag v-bind:style="getIsPastColor(event.at_time_is_past)" v-show="event.at_time_is_past">&nbsp;&nbsp;&nbsp;&nbsp;</el-tag>-->
						</div>
					</div>
					<div v-show="vueErrorsList.has('at_time')" class="text-danger col-xs-12 col-sm-offset-4 col-sm-8">
						{{ vueErrorsList.first('at_time') }}
					</div>
				</div>


				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="duration">Duration
						<small>(in minutes)</small>
						<span class="required"> * </span></label>
					<div class="col-xs-12 col-sm-8">
						<input id="duration" v-validate="'required|numeric|min:1|max:6000'" v-model="event.duration"
						       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('duration') }" name="duration"
						       type="text" placeholder="Enter duration(in minutes) of event">
						<span v-show="vueErrorsList.has('duration')" class="text-danger">{{ vueErrorsList.first('duration') }}</span>
					</div>
				</div>


				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="access">Access <span class="required"> * </span></label>
					<div class="col-xs-12 col-sm-8">
						<div class="input_with_btn_at_right">
							<select id="access" name="access" v-validate="'required'" :class="{ 'form-control':true, 'errors': vueErrorsList.has('access') }"
							        v-model="event.access">
								<option value=""> -Select access- </option>
								<option v-for="nextAccess, index in eventAccessesSelectionList" v-bind:value="nextAccess.key">{{ nextAccess.label }}
								</option>
							</select>
						</div>
						<span v-show="vueErrorsList.has('access')" class="text-danger">{{ vueErrorsList.first('access') }}</span>
					</div>
				</div>


				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="task_id">Task
						<small class="form-text text-muted">Optional</small>
					</label>
					<div class="col-xs-12 col-sm-8">
						<v-select id="task_id" name="task_id" v-model="selection_task_id" :options=tasksSelectionList></v-select>
						<span v-show="vueErrorsList.has('task_id')" class="text-danger">{{ vueErrorsList.first('task_id') }}</span>
					</div>
				</div>


				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="event_content">Description<span class="required"> * </span>
						<br>
						<small style="font-weight: normal">Markdown format</small>
					</label>
					<div class="col-xs-12 col-sm-8">
						<markdown-editor :content="event.description" :editor_type="'event'" :unique_id="event_id"
						                 :how_short_help_text=true :show_full_help_link=true></markdown-editor>
					</div>
				</div>


				<div class="form-row mb-5">

					<label class="col-xs-12 col-sm-4 col-form-label">
						Participants
						<span class="required"> * </span>
						<a data-toggle="a_link" v-on:click="toggleSelectedActiveUsersBlockIsVisible">
							<i class="fa fa-angle-down a_link" style="font-size:14px;"></i>
						</a>
					</label>

					<div class="col-xs-12 col-sm-8 pt-3">
						Selected {{ selected_active_users_count }} user(s) from {{ activeUsersSelectionArray.length }} active users.

						<div :class="{ 'collapse show ':true, 'in': users_in_event_visible , 'out': !users_in_event_visible }">

							<fieldset>
								<legend>Members</legend>

								<div class="row p-0 m-5">
									<p class=" text-muted">You can invite one or more user(s) to this event.</p>
									<div class="col-xs-12 col-sm-4">
										<input name="participating_filter" type="radio" value="All" v-model="participating_in_the_event_filter"> All
									</div>
									<div class="col-xs-12 col-sm-4">
										<input name="participating_filter" type="radio" value="Only_Participating" v-model="participating_in_the_event_filter">
										Only participating
									</div>
									<div class="col-xs-12 col-sm-4">
										<input name="participating_filter" type="radio" value="Only_Not_Participating" v-model="participating_in_the_event_filter">
										Only not participating
									</div>
								</div>

								<div v-if="errorsList.eventUsersArray" class="text-danger ">{{ errorsList.eventUsersArray[0] }}</div>

								<div v-for="nextActiveUser, index in filteredActiveParticipatingUsersArray" v-bind:id="nextActiveUser.id"
								     class="col-xs-12 ">
									<div class="row p-3">
										<label class="col-xs-12 col-sm-4 col-form-label text-right">{{ nextActiveUser.name }} : </label>
										<div class="col-xs-12 col-sm-4">
											<el-checkbox v-model="nextActiveUser.is_checked" size="medium" border>
												<span v-if="nextActiveUser.is_checked">Invited</span>
											</el-checkbox>
										</div>
									</div>
								</div>
							</fieldset>

						</div>
					</div>


				</div>

				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-xs-12 col-sm-4 col-form-label">Created at</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" v-model="event.created_at_label" class="form-control" readonly>
					</div>
				</div>

				<editor-buttons :submit_label="submit_label" cancel_label="Cancel" :cancel_link="'#/admin/events'" :is_page_updating="is_page_updating"></editor-buttons>

			</form>
		</section> <!-- class="card-body" -->
	</section>
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    import vSelect from 'vue-select'

    Vue.component('v-select', vSelect) // https://github.com/sagalbot/vue-select


    import Datetime from 'vue-datetime'
    // You need a specific loader for CSS files
    import 'vue-datetime/dist/vue-datetime.css'
    Vue.use(Datetime)

//    import datePicker from 'vue-bootstrap-datetimepicker';  // https://github.com/ankurk91/vue-bootstrap-datetimepicker
//
//    import 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';
//
//    Vue.use(datePicker);
    Vue.component('markdown-editor', require('../../components/lib/MarkdownEditor.vue'));
    Vue.component('editor-header', require('../../components/lib/EditorHeader.vue'));
    Vue.component('editor-buttons', require('../../components/lib/EditorButtons.vue'));

    export default {
        created() {
            if (this.$route.params.id == "new") {
                this.default_date = this.$route.params.default_date
//	            alert( "default_date::"+var_dump(this.default_date) )
                this.is_insert = true
                this.event_id = "new"
                this.event.at_time = this.default_date
                this.submit_label = "Add"
                this.users_in_event_visible = true
            } else {
                this.event_id = this.$route.params.id
                this.participating_in_the_event_filter = 'Only_Participating'
            }

            if (typeof this.event_id == "undefined") {
                this.event_id = this.debugging_id
            }

            bus.$on('MarkdownEditorModifiedEvent', (editor_content, editor_type, unique_id) => {
//                if (editor_type == 'event' && unique_id == this.event.id) {
                if (editor_type == 'event' && ( ( unique_id == this.event.id && !this.is_insert ) || ( unique_id == "new" && this.is_insert ) )) {
                    this.event.description = editor_content;
                }
            })


//            alert( "window.CURRENT_LANG::"+(window.CURRENT_LANG) )
            this.$validator.localize(window.CURRENT_LANG, {
                attributes: {
                    event_content: 'description',
                    selection_task_id: 'task',
                }
            });

        },

        mixins: [appMixin],
        components: {
//            datePicker
        },


        mounted() {
            this.loadEventDictionaries();
            if (this.is_insert) { // retrieve row for editing
                this.setEventDefaultValue();
            }
            this.setAppTitle(this.header_title, false);
            bus.$emit('pageOpenedEvent', 'events', 'editor', true, []);
        }, // mounted() {

        props: {
            debugging_id: {
                type: Number,
                required: false,
                default: -1,
            },

        },


        data: function () {
            return {
                is_page_loaded: false,
                is_page_updating: false,
                is_insert: false,
                default_date: '',
                submit_label: "Update",
                tasksSelectionList: [],
                selection_task_id: {key: '', label: ' -Select Task- '},
                event_id: null,
                event: {
                    name: '',
                    description: '',
                },
                eventAccessesSelectionList: [],
                message: '',
                errorsList: [],
//                datePickerConfigArray: {
//                    format: 'YYYY-MM-DD hh:mm',
//                    useCurrent: false,
//                },
                activeUsersSelectionArray: [],
                eventAssignedForUsersArray: [],
                users_in_event_visible: false,
                participating_in_the_event_filter: 'All',

            }
        }, // data: function () {

        computed: {

            selected_active_users_count() {
                var ret = 0
                this.activeUsersSelectionArray.map((activeUsersSelection, index) => {
                    if (activeUsersSelection.is_checked) {
                        ret++;
                    }
                });
                return ret
            },

            filteredActiveParticipatingUsersArray: function () {
                if (this.participating_in_the_event_filter == 'All' || this.participating_in_the_event_filter == "") {
                    return this.activeUsersSelectionArray;
                }
                var filteredRetArray = []
                this.activeUsersSelectionArray.map((nextFilteredUser, index) => {
                    var is_show_row = false
                    if (this.participating_in_the_event_filter == 'Only_Participating' && ( nextFilteredUser.is_checked )) {
                        is_show_row = true
                    }
                    if (this.participating_in_the_event_filter == 'Only_Not_Participating' && ( !nextFilteredUser.is_checked )) {
                        is_show_row = true
                    }
                    if (is_show_row) {
                        filteredRetArray[filteredRetArray.length] = nextFilteredUser;
                    }
                });
                return filteredRetArray
            }, // filteredActiveParticipatingUsersArray: function () {

            header_title: function () {
                if (!this.is_insert) return "Edit event";
                return "Add event";
            },

        }, // computed: {


        methods: {

            loadEvent() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/events/' + this.$route.params.id).then((response) => {
                    this.is_page_loaded = true
                    this.event = response.data.event;
                    this.tasksSelectionList.map((nextTaskSelection, index) => {
                        if (nextTaskSelection.key == this.event.task_id) {
                            this.selection_task_id = {key: this.event.task_id, label: nextTaskSelection.label};
                        }
                    });

                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, app);
                });
            }, // loadEvent() {

            loadEventDictionaries() {
                this.is_page_loaded = false

                axios.get(window.API_VERSION_LINK + '/events_dictionaries/' + this.$route.params.id).then((response) => {
                    this.is_page_loaded = true
                    this.eventAccessesSelectionList = response.data.eventAccessesSelectionList;
                    this.tasksSelectionList = response.data.tasksSelectionList;

                    this.activeUsersSelectionArray = response.data.activeUsersSelectionArray;
                    this.eventAssignedForUsersArray = response.data.eventAssignedForUsersArray;
                    if (!this.is_insert) { // retrieve row for editing only after all dictionaries are loaded
                        this.loadEvent();
                    }

                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadEventDictionaries() {

            setEventDefaultValue() {
                this.event.access = 'U';
            }, //setEventDefaultValue() {


            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateEvent()
                    } else {
                        bus.$emit('editorValidationFail', "event", this.event_id);
                        this.showPopupMessage('Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' event. ', 'error');
                    }
                })
            }, // validateBeforeSubmit() {

            updateEvent() {
                this.participating_in_the_event_filter = "All"
                this.is_page_updating = true
                var eventUsersArray = [];

                this.activeUsersSelectionArray.map((nextActiveUsersSelection, index) => {
                    if (nextActiveUsersSelection.is_checked) {
                        eventUsersArray[eventUsersArray.length] = nextActiveUsersSelection.id;
                    }
                });

                this.event.eventUsersArray = eventUsersArray
                if (typeof this.selection_task_id == "object" && typeof this.selection_task_id.key != "undefined") {
                    this.event.task_id = this.selection_task_id.key
                }

                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: window.API_VERSION_LINK + '/events' + ( !this.is_insert ? "/" + this.event_id : ''),
                    data: this.event,
                }).then((response) => {
                    this.is_page_updating = false
                    this.$router.push({path: '/admin/events'});
                    this.showPopupMessage('Event ' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully. ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    if (typeof error.response.data.errors.eventUsersArray == 'object') {
                        this.users_in_event_visible = true
                    }
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' event. ', 'error');
                });

            }, // updateEvent() {

            toggleSelectedActiveUsersBlockIsVisible() {
                this.users_in_event_visible = !this.users_in_event_visible
            },

        } // methods: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>
