<template>
	<section class="card">


		<listing-header :show_loading_image=is_page_loaded :rows_count=rows_count :current_page=current_page :itemsList="eventsList" :header_icon="getHeaderIcon('event')"
		                :header_title=header_title :message=message :item_title="'row'" :right_add_button_link="'editEvent'"></listing-header>

		<section class="card-body" v-if="is_page_loaded && eventsList.length">

				<table class="table table-striped text-primary table-responsive">
					<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Access</th>
						<th>At time</th>
						<th>Task</th>
						<th>Description</th>
						<th>Created at</th>
						<th width="100">&nbsp;</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="nextEvent, index in eventsList">
						<td class="integer_cell">{{ nextEvent.id }}</td>
						<td>
							{{ nextEvent.name }}
							<span class="text-muted">
									<small> ( Has {{ nextEvent.event_users_count }} participants )</small>
								</span>
						</td>
						<td>{{ nextEvent.access_label }}</td>
						<td>
							<span v-bind:style="getIsPastColor(nextEvent.at_time_is_past)">&nbsp;{{ nextEvent.at_time_label }}</span>
							<small> ( {{ nextEvent.duration }} min )</small>
						</td>
						<td>{{ nextEvent.task_name }}</td>
						<td>{{ concatStr(nextEvent.description, 100) }}</td>
						<td class="datetime_cell">{{ nextEvent.created_at_label }}</td>

						<td>
							<router-link :to="{name: 'editEvent', params: {id: nextEvent.id}}">
								<i class="fa fa-edit mr-3" title="Edit event"></i>
							</router-link>
							<a v-on:click="removeEvent(nextEvent.id, nextEvent.name, index)">
								<i class="fa fa-remove a_link" title="Delete event"></i>
							</a>
						</td>
					</tr>

					</tbody>
				</table>

				<listing-pagination :current="current_page" :total="rows_count" :items_per_page="per_page" :show_next_prior_buttons=false
				                    @paginationPageChangedEvent="loadEventList"></listing-pagination>


		</section>
	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    Vue.component('listing-pagination', require('../../components/lib/ListingPagination.vue'));
    Vue.component('listing-header', require('../../components/lib/ListingHeader.vue'));

    export default {
        data: function () {
            return {
                header_title: 'Events',
                is_page_loaded: false,
                eventsList: [],
                message: '',
                rows_count: 0,
                per_page: 10,
                current_page: 1,
                order_by: 'created_at',
                order_direction: 'desc'
            }
        }, // data: function () {

        mixins: [appMixin],

        created() {
        },

        mounted() {
            this.loadEventList(1, this.order_by, this.order_direction)
        }, // mounted() {

        methods: {

            loadEventList(page, order_by, order_direction) {
                this.message = '';
                this.is_page_loaded = false

                if (typeof order_by == "undefined") {
                    order_by = this.order_by
                }
                if (typeof order_direction == "undefined") {
                    order_direction = this.order_direction
                }
                var params_str = this.getPaginationParams(page, order_by, order_direction, true)
                this.current_page = page
                axios.get(window.API_VERSION_LINK + '/events' + params_str).then((response) => {
                    this.is_page_loaded = true
                    this.eventsList = response.data.eventsList;
                    this.setAppTitle(this.header_title, false);
                    this.rows_count = response.data.rows_count;
                    this.current_page = page
                    this.per_page = response.data.per_page
                    bus.$emit('pageOpenedEvent', 'events', 'listing', true, []);
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadEventList(page) {

            removeEvent(id, event_name, index) {
                this.message = '';
                this.confirmMsg("Do you want to delete '" + event_name + "' event ?", () => {
                    axios.delete(window.API_VERSION_LINK + '/events/' + id).then((response) => {
                        this.loadEventList(1, this.order_by, this.order_direction)
                        this.showPopupMessage('Event deleted successfully. ', 'success');
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting event. ', 'error');
                        this.showRunTimeError(error, this);
                    });
                });

            }, //removeEvent(id, event_name, index) {

        } // methods: {
    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>
