<template>
	<section>

		<h4>Related events on this task</h4>

		<div v-if="relatedEventsList.length > 0" v-cloak>
			<ul class="list-group">

				<li v-for="nextRelatedEvent, index in relatedEventsList" class="list-group-item">
					<router-link :to="{name: 'editEvent', params: {id: nextRelatedEvent.id} }" >
						{{ nextRelatedEvent.name }}
					</router-link>

					<p :class="nextRelatedEvent.at_time_is_past">
					{{ nextRelatedEvent.access_label }}, starts at {{ nextRelatedEvent.at_time_label}},
					duration {{ convertMinsToHrsMins( nextRelatedEvent.duration) }} <br>
					<p class="text-info" v-if="nextRelatedEvent.description">{{ concatStr(nextRelatedEvent.description, 100) }}</p>
				</li>

			</ul>
		</div>


	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';


    export default {
        props: {
            filter_id: {
                required: false,
            },
            request_type: {
                type: String,
                required: true,
            },

        },

        mixins: [appMixin],

        mounted() {
            this.loadRelatedUserEventsList()
        },  // mounted() {

        data() {
            return {
                relatedEventsList: {},
            }
        }, // data(){


        methods: {

            loadRelatedUserEventsList() {
                axios.get(window.API_VERSION_LINK + '/load_related_events_list/' + this.request_type + '/' + this.filter_id).then((response) => {
                    this.relatedEventsList = response.data.relatedEventsList;
                    bus.$emit('setRelatedUserEventsListCountEvent', this.relatedEventsList.length );
                }).catch((error) => {
                    this.showPopupMessage('Error loading related user events listing.', 'error');
                    this.showRunTimeError(error, this);
                });
            }, // loadRelatedUserEventsList() {

        } // methods:{

    }

</script>

<style scoped lang="css">
	[v-cloak] { display: none; }
</style>
