<template>
	<section class="card col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">

		<listing-header :show_progress_circular=!is_page_loaded :rows_count=0 :current_page=0 :itemsList="[]"
		                :header_icon="getHeaderIcon('not_found')" :header_title="'Page not found'" :no_data_found_label="''"
		                :message=message :item_title="''" :parent_component_key="'page_not_found'" :show_loading_image="!is_page_loaded"></listing-header>

		<div class="card-title pl-1 pt-3 mb-0">
			<h4>
				The requested "{{ invalid_url }}" page not found.
			</h4>
			<h5>
				<router-link :to="{ name: 'dashboardIndex' }">Dashboard</router-link>
			</h5>
		</div>


	</section> <!-- class="card-body" -->
</template>

<script>

    import {bus} from '../app';
    import appMixin from '../appMixin';

    export default {
        mixins: [appMixin],

        data: () => ({
            api_admin_version_link: '', /* THE PAGE DATA BLOCK */
            is_page_loaded: false,
            invalid_url: "",
            message: '',
        }),

        created() {
            this.is_page_loaded = true;
            this.api_admin_version_link = window.API_ADMIN_VERSION_LINK;
            this.invalid_url = this.$route.params.invalid_url
        }, // created() {

        mounted() {
            this.is_page_loaded= false;
        },
    }


</script>


