<template>
	<section class="card p-3 ">

		<div class="card-body" v-if="user">

			<h3 class="card-title">
				<span><img :src="user_profile_thumbnail_image_url"></span>&nbsp;
				{{ user.first_name }} {{ user.last_name }} ( {{ user.name }} )
			</h3>
			<div v-if="users_groups_text" class="card-subtitle">
				<h5 v-html="'Member of groups : '+users_groups_text"></h5>
			</div>
			<div class="col-xs-12 col-sm-6">
				<p class="card-text">
					<strong>About: </strong> Web Designer / UI
				</p>

				<p class="card-text">
					<strong>Email: </strong> {{ user.email }}
				</p>

				<p class="card-text">
					<strong>Status: </strong> {{ user.status_label }}
				</p>

				<p class="card-text">
					<strong>Phone: </strong> {{ user.phone }}
				</p>

				<p class="card-text">
					<strong>Website: </strong> {{ user.website }}
				</p>

				<p class="card-text">
					<strong>
						Contract start: </strong> {{ user.contract_start_label }}
					(
					<timeago :since="user.contract_start" :auto-update="60"></timeago>
					)
				</p>

				<p class="card-text">
					<strong>Contract end: </strong> {{ user.contract_end_label }}
					(
					<timeago :since="user.contract_end" :auto-update="60"></timeago>
					)
				</p>

				<p class="card-text">
					<strong>Created at: </strong> {{ user.created_at_label }}
				</p>

			</div>


			<div class="card p-3">
				<h4 class="card-subtitle">Skills: </h4>
				<table class="table table-responsive">
					<tr v-for="nextUserSkill, index in userSkillsList">
						<td>
							<span v-if="nextUserSkill.rating > 6">
								<el-tag type="success">{{ nextUserSkill.skill }}</el-tag>
							</span>

							<span v-if="nextUserSkill.rating <= 5 && nextUserSkill.rating > 2">
								<el-tag type="info">{{ nextUserSkill.skill }}</el-tag>
							</span>

							<span v-if="nextUserSkill.rating <= 2  && nextUserSkill.rating > 0 ">
								<el-tag type="warning">{{ nextUserSkill.skill }}</el-tag>
							</span>

							<span v-if="nextUserSkill.rating == 0 ">
								<el-tag type="danger">{{ nextUserSkill.skill }}</el-tag>
							</span>
						</td>

						<td class="p-3">
							<span class="">{{ nextUserSkill.rating }}</span>
						</td>
					</tr>
				</table>
			</div>


		</div> <!-- class="card-body" -->


		<multiple-file-uploading-block :data_source_type="'user_profile_documents'" :unique_id="user.id" :permit_select_and_upload_files="false" :permit_delete_document="false"
		    :uploadDocumentItemsList="true" :item_title="'profile document'" :dataSourceParametersArray="dataSourceParametersArray"
			:is_page_loaded="true" :show_categories_selector="false"
			:show_public_accesses_selector="false" :show_info_selector="false"
			:no_data_found_label="'No files found'"
			:header_title="'Public documents'">
		</multiple-file-uploading-block>


		<div class="card" v-if="taskAssignedToUsersList.length> 0">

			<h4 class="card-subtitle">Assigned to tasks</h4>
			<table class="table table-responsive">
				<thead>
				<th>Task</th>
				<th>Status</th>
				<th>Type</th>
				<th>Date start/end</th>
				</thead>
				<tbody>

				<tr v-for="nextTaskAssignedToUser, index in taskAssignedToUsersList">
					<td v-bind:style="getPriorityColor(nextTaskAssignedToUser.task_priority)">
						<router-link :to="{ name: 'taskOperation', params: { id: nextTaskAssignedToUser.id } }">
							{{ nextTaskAssignedToUser.task_name }}
						</router-link>
					</td>
					<td>{{ nextTaskAssignedToUser.task_status_label }}/{{ nextTaskAssignedToUser.status_label }}</td>
					<td>{{ nextTaskAssignedToUser.user_task_type_name }}</td>
					<td>{{ nextTaskAssignedToUser.task_date_start_label }}=>{{ nextTaskAssignedToUser.task_date_end_label }}</td>
				</tr>

				</tbody>

			</table>

		</div> <!-- class="card" -->


	</section> <!-- class="card p-3" -->

</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    import VueTimeago from 'vue-timeago'  // https://github.com/egoist/vue-timeago
    Vue.use(VueTimeago, {
        name: 'timeago', // component name, `timeago` by default
        locale: 'en-US',
        locales: {
            // you will need json-loader in webpack 1
            'en-US': require('vue-timeago/locales/en-US.json')
        }
    })


    export default {
        mixins: [appMixin],

        props: {
            user: {
                type: Object,
                required: true,
            },

            users_groups_text: {
                type: String,
                required: false,
            },

            user_profile_thumbnail_image_url: {
                type: String,
                default: '',
                required: false,
            },

        },

        data: function () {
            return {
                dataSourceParametersArray: Array({parameter_name: 'public_access', parameter_value: 'P'}),
                userSkillsList: [],
                taskAssignedToUsersList: [], // tsk_task_assigned_to_users
                header_title: "User's profile"
            }
        },

        created() {
        },

        mounted() {
            this.loadSkillsList()
            this.loadTaskAssignedToUsersList()
            this.setAppTitle(this.header_title, false);
            bus.$emit('pageOpenedEvent', 'user_profile', 'public', true, []);
        }, // mounted() {


        methods: {

            loadSkillsList() {
                axios.get(window.API_VERSION_LINK + '/load_user_skills/').then((response) => {
                    this.userSkillsList = response.data.userSkillsList;
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        if (error.response.data.error_code == 11) {
                            this.showPopupMessage(error.response.data.message, 'error');
                            this.$router.push({path: '/'});
                        }
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, //loadSkillsList() {

            loadTaskAssignedToUsersList() {
                axios.get(window.API_VERSION_LINK + '/load_task_assigned_to_users_lists/').then((response) => {
                    this.taskAssignedToUsersList = response.data.taskAssignedToUsersList;
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, this);
                });
            }, //loadTaskAssignedToUsersList() {

        },

    }
</script>

<style scoped lang="css">

	/*@import url(http://fonts.googleapis.com/css?family=Lato:400,700);*/
	.profile_preview {
		min-height: 355px;
		display: inline-block;
		background-color: $ background_color;
	}

	figcaption.ratings {
		margin-top: 20px;
	}

	figcaption.ratings a {
		color: #f1c40f;
		font-size: 11px;
	}

	figcaption.ratings a:hover {
		color: #f39c12;
		text-decoration: none;
	}

	.divider {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	.emphasis {
		border-top: 4px solid transparent;
	}

	.emphasis:hover {
		border-top: 4px solid #1abc9c;
	}

	.emphasis h2 {
		margin-bottom: 0;
	}

	span.skill_badge {
		background: #1abc9c;
		border-radius: 1px;
		color: #f5f5f5;
		font-weight: bold;
		padding: 4px 4px 6px 4px;
		margin: 5px 5px 5px 30px;
	}
</style>

