<template>
	<section class="card p-3">


		<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('profile')"
		               :header_title='header_title+" "+page_title' :message=message></editor-header>

		<div class="card-body " v-if="is_page_loaded && user">




			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#tab_details">Details</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#tab_documents">Documents/Images</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#tab_skills">Skills</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#tab_preview">Preview </a>
				</li>
			</ul>

			<div class="tab-content">
				<!--in active-->
				<div id="tab_details" class="tab-pane container fade pt-3">

					<form v-on:submit.prevent="validateBeforeSubmit()" class="p-5">

						<!--<div class="form-row mb-3" v-if="!is_insert">-->
						<!--<label class="col-xs-12 col-sm-4 col-form-label">ID</label>-->
						<!--<div class="col-xs-12 col-sm-8">-->
						<!--<input type="text" v-model="event.id" class="form-control integer_input" readonly>-->
						<!--</div>-->
						<!--</div>-->

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="user.id" class="form-control integer_input" readonly>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Name</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="user.name" class="form-control string_input" readonly>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Email</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="user.email" class="form-control string_input" readonly>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Status</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="user.status_label" class="form-control string_input" readonly>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">First name</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-validate="'required|max:50|alpha'" v-model="user.first_name" class="form-control string_input"
								       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('first_name') }" name="first_name">
								<span v-show="vueErrorsList.has('first_name')" class="text-danger">{{ vueErrorsList.first('first_name') }}</span>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Last name</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-validate="'required|max:50|alpha'" v-model="user.last_name" class="form-control string_input"
								       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('last_name') }" name="last_name">
								<span v-show="vueErrorsList.has('last_name')" class="text-danger">{{ vueErrorsList.first('last_name') }}</span>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Phone</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-validate="'required|max:50'" v-model="user.phone" class="form-control string_input"
								       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('phone') }" name="phone">
								<span v-show="vueErrorsList.has('phone')" class="text-danger">{{ vueErrorsList.first('phone') }}</span>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Website</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-validate="'required|max:50'" v-model="user.website" class="form-control string_input"
								       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('website') }" name="website">
								<span v-show="vueErrorsList.has('website')" class="text-danger">{{ vueErrorsList.first('website') }}</span>
							</div>
						</div>


						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Language <span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<select id="lang" name="lang" v-validate="'required'" :class="{ 'form-control':true, 'errors': vueErrorsList.has('label') }"
								        v-model="user.lang">
									<option value=""> -Select language- </option>
									<option v-for="nextLang, index in langsArray" v-bind:value="nextLang.key">{{ nextLang.label }}
									</option>
								</select>
								<span v-show="vueErrorsList.has('lang')" class="text-danger">{{ vueErrorsList.first('lang') }}</span>
							</div>
						</div>


						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Submit message by enter <span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<select id="submit_message_by_enter" name="submit_message_by_enter" v-validate="'required'"
								        :class="{ 'form-control':true, 'errors': vueErrorsList.has('submit_message_by_enter') }" v-model="user.submit_message_by_enter">
									<option value=""> -Select submit message by enter- </option>
									<option v-for="nextSubmitMessageByEnter, index in submitMessageByEntersArray" v-bind:value="nextSubmitMessageByEnter.key">
										{{ nextSubmitMessageByEnter.label }}
									</option>
								</select>
								<span v-show="vueErrorsList.has('submit_message_by_enter')" class="text-danger">{{ vueErrorsList.first('submit_message_by_enter') }}</span>
							</div>
						</div>


						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Color</label>
							<div class="col-xs-12 col-sm-8">
								<div class="input_with_btn_at_right">
									<input type="text" v-validate="'required'" v-model="user_color" class="form-control string_input" maxlength="50"
									       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('user_color') }" name="color">
									<el-color-picker v-model="user_color" show-alpha size="medium"></el-color-picker>
								</div>
								<span v-show="vueErrorsList.has('color')" class="text-danger">{{ vueErrorsList.first('color') }}</span>
							</div>
						</div>


						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Background color</label>
							<div class="col-xs-12 col-sm-8">
								<div class="input_with_btn_at_right">
									<input type="text" name="background_color" v-validate="'required'" v-model="user_background_color" class="form-control string_input"
									       maxlength="50" :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('user_background_color') }">
									<el-color-picker v-model="user_background_color" show-alpha size="medium"></el-color-picker>
								</div>
								<span v-show="vueErrorsList.has('background_color')" class="text-danger">{{ vueErrorsList.first('background_color') }}</span>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Subscription to newsletters</label>
							<div class="col-xs-12 col-sm-8">
								<el-checkbox v-model="user.subscription_to_newsletters" size="medium" border>
									<span v-if="user.subscription_to_newsletters">You are subscribed to newsletters</span>
								</el-checkbox>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label">Show online status</label>
							<div class="col-xs-12 col-sm-8">
								<el-checkbox v-model="user.show_online_status" size="medium" border>
									<span v-if="user.show_online_status">Your online status would be visible</span>
								</el-checkbox>
							</div>
						</div>

						<editor-buttons submit_label="Update" cancel_label="Cancel" cancel_link="dashboard" :is_page_updating="is_page_updating"></editor-buttons>

					</form>

				</div> <!-- <div id="details" -->


				<div id="tab_documents" class="tab-pane container active pt-3"> <!-- fade -->

					<multiple-file-uploading-block :data_source_type="data_source_type" :unique_id="user.id" :documentItemsList="documentCategoriesList"
					                               :uploadDocumentItemsList="true" :item_title="item_title"
					                               :uploadedDocumentsExtensionsArray="uploadedDocumentsExtensionsArray"
					                               :documentPublicAccessesArray="documentPublicAccessesArray" :is_page_loaded="is_page_loaded"
					                               :show_categories_selector="true"
					                               :show_public_accesses_selector="true" :show_info_selector="true"
					                               :no_data_found_label="'No files found'"
					                               :header_title="'Documents of your profile'"
					></multiple-file-uploading-block>

				</div> <!-- <div id="documents" -->

				<div id="tab_skills" class="tab-pane container fade pt-3"> <!--  in active -->

					<form v-on:submit.prevent="updateUserSkills()" class="p-5">
						<p class="text-info">Fill your skills rating from 0(no skills) till 10(guru): </p>


						<div v-for="nextUserSkill, index in userSkillsList" class="form-row mb-3">

							<div class="col-xs-12 col-sm-6 text-right">
								<span v-if="nextUserSkill.rating > 6">
									<el-tag type="success"><span v-html="nextUserSkill.skill"></span></el-tag>
								</span>

								<span v-if="nextUserSkill.rating <= 5 && nextUserSkill.rating > 2">
									<el-tag type="info"><span v-html="nextUserSkill.skill"></span></el-tag>
								</span>

								<span v-if="nextUserSkill.rating <= 2  && nextUserSkill.rating > 0 ">
									<el-tag type="warning"><span v-html="nextUserSkill.skill"></span></el-tag>
								</span>

								<span v-if="nextUserSkill.rating == 0 ">
									<el-tag type="danger"><span v-html="nextUserSkill.skill"></span></el-tag>
								</span>
							</div>

							<div class="col-xs-12 col-sm-6">
								<div class="">
									<select v-bind:id="'user_skill_' + nextUserSkill.skill" v-model="nextUserSkill.rating" class="form-control select_skill_option">
										<option value=""> -Select skill- </option>
										<option v-for="nextSkillOption, index in userSkillOptionsValueArray" v-bind:value="nextSkillOption.key">{{ nextSkillOption.label }}
										</option>
									</select>
								</div>
							</div>

						</div>
						<!--skill-->

						<editor-buttons submit_label="Update" cancel_label="Cancel" cancel_link="dashboard" :is_page_updating="is_page_updating"></editor-buttons>

						<div class="card m-3">

								<div class="input_with_btn_at_right">
									<label for="new_user_skill" class="col-xs-12 col-sm-4 col-form-label">New user skill</label>
									<div class="col-xs-12 col-sm-8">
										<input name="new_user_skill" id="new_user_skill" ref="new_user_skill" type="text"
										       placeholder="Enter new user skill (till 100 symbols)"
										       class="form-control string_input" autocomplete="off">
										<button class=" btn btn-primary" @click.prevent="addUserSkill()">
											<i class="fa fa-save"></i>&nbsp;Add
										</button>
									</div>

								</div>

						</div>


					</form>

				</div>  <!-- div id="skills" -->

				<!-- in active -->
				<div id="tab_preview" class="tab-pane container fade pt-3">
					<public-profile-preview :data_source_type="data_source_type" :unique_id="user.id" :user="user" :users_groups_text="users_groups_text"
					                        :user_profile_thumbnail_image_url="user_profile_thumbnail_image_url"></public-profile-preview>
				</div>

			</div> <!-- <div class="tab-content"> -->

		</div>

	</section>
</template>


<script>

    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    Vue.component('multiple-file-uploading-block', require('../../components/lib/MultipleFileUploadingBlock.vue'));
    Vue.component('editor-header', require('../../components/lib/EditorHeader.vue'));
    Vue.component('public-profile-preview', require('../../components/user_profiles/PublicProfilePreview.vue'));
    Vue.component('editor-buttons', require('../../components/lib/EditorButtons.vue'));

    export default {
        mixins: [appMixin],

        created() {
            bus.$on('UserProfileIsSetEvent', (username, site_name) => {
                this.page_title = username + " of " + site_name;
            })

            this.$validator.localize(window.CURRENT_LANG, {
                attributes: {
                    submit_message_by_enter: 'Submit message by enter',
                    lang: 'Language',
                    background_color: 'Background color',
                    color: 'Color',
                    first_name: 'First name ',
                    last_name: 'Last name ',
                }
            });

        },

        mounted() {
            this.loadUserProfile();
            this.loadUserSkillsList();
            bus.$on('reloadMultipleFileUploadingBlockEvent', (data_source_type, unique_id, params_str) => { // unique_id:user.id,
//                alert(
//                    "reloadMultipleFileUploadingBlockEvent  data_source_type::"+var_dump(data_source_type)
//	            + "  unique_id::"+unique_id+" params_str::"+params_str+"  this.data_source_type:"+this.data_source_type)
                if (this.data_source_type == data_source_type && this.user.id == unique_id) {
                    this.loadUserProfileDocumentsList(params_str)
                }
//                this.relatedUser_chats_list_count= relatedUser_chats_list_count
            })


//                     bus.$emit( 'deleteMultipleFileRowEvent', this.data_source_type, this.unique_id );

            bus.$on('deleteMultipleFileRowEvent', (data_source_type, unique_id, id) => { // unique_id:user.id,
//                alert(
//                    "deleteMultipleFileRowEvent  data_source_type::"+var_dump(data_source_type)
//	            + "  unique_id::"+unique_id+"  this.data_source_type:"+this.data_source_type)
                if (this.data_source_type == data_source_type && this.user.id == unique_id) {
                    axios.delete(window.API_VERSION_LINK + '/user_profile_document_destroy/' + id).then((response) => {
//                        this.itemDocumentsList.splice(index, 1);
                        bus.$emit('reloadMultipleFileUploadingBlockEvent', this.data_source_type, this.user.id);
                        this.showPopupMessage(this.Capitalize(this.item_title) + ' deleted successfully. ', 'success');
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting ' + this.item_title + '. ', 'error');
                        this.showRunTimeError(error, this);
                    });

//                    this.loadUserProfileDocumentsList(params_str)
                }
//                this.relatedUser_chats_list_count= relatedUser_chats_list_count
            })

            //                 bus.$emit( 'updateMultipleFileUploadingBlockEvent', this.data_source_type, this.unique_id, this.uploadedDataArray );

            bus.$on('updateMultipleFileUploadingBlockEvent', (data_source_type, unique_id, uploadedDataArray, config) => { // unique_id:user.id,
//                alert("updateMultipleFileUploadingBlockEvent  data_source_type::" + var_dump(data_source_type)
//                    + "  unique_id::" + unique_id + "  this.data_source_type:" + this.data_source_type + "  uploadedDataArray::" + uploadedDataArray)
                axios.post(window.API_VERSION_LINK + '/user_profiles_documents_upload', uploadedDataArray, config).then((response) => {
                    this.is_page_updating = false
                    /*
										this.message = '';
										this.errorsList = [];
										this.uploadedDataArray = new FormData();
										this.itemsForUploadingList = [];
										this.is_page_updating= false
										$("#uploadedItemDocuments").val('')

										if ( this.data_source_type == 'user_chat_message_documents' ) {
											console.log("newUserChatAddedEvent response.data.user_chat_message_id::")
											console.log( response.data.user_chat_message_id )

											bus.$emit('newUserChatAddedEvent', {
												'user_chat_message_id': response.data.user_chat_message_id,
												'user_chat_id': this.parent_item_id,
												'author_user_id': this.logged_user_id,
												'author_name': this.logged_username,
												'text': response.data.upload_text_result,
												'message_type' : 'U',
												'is_top': '',
												'created_at': this.getNowDateTime()
											});

											console.log("newUserChatAddedEvent WITH DOCS SENT::")
										}
					*/

//alert( "user_profiles_documents_upload done::"+var_dump() )
                    bus.$emit('reloadMultipleFileUploadingBlockEvent', this.data_source_type, this.user.id);
//                    bus.$emit( 'reloadFileUploadingDocumentsListEvent', { data_source_type:this.data_source_type, parent_item_id:this.parent_item_id } );
                    this.showPopupMessage('File(s) successfully uploaded. ', 'success');
                }).catch((error) => {
                    bus.$emit('showMultipleFileUploadingBlockErrorEvent', this.data_source_type, this.user.id, error);
                    this.showPopupMessage('There were errors uploading file(s). ', 'error');
                });

                /*
								if ( this.data_source_type == data_source_type && this.user.id == unique_id) {
									axios.delete(window.API_VERSION_LINK + '/user_profile_document_destroy/' + id ).then((response) => {
				//                        this.itemDocumentsList.splice(index, 1);
										bus.$emit( 'reloadMultipleFileUploadingBlockEvent', this.data_source_type, this.user.id );
										this.showPopupMessage( this.Capitalize(this.item_title) + ' deleted successfully. ', 'success' );
									}).catch((error) => {
										this.showPopupMessage( 'Error deleting ' + this.item_title+'. ', 'error');
										this.showRunTimeError(error, this);
									});

				//                    this.loadUserProfileDocumentsList(params_str)
								}
				*/
//                this.relatedUser_chats_list_count= relatedUser_chats_list_count
            })


        }, // mounted() {


        data: function () {
            return {
                header_title: "Edit user's profile for",
                item_title: 'profile document',
                users_groups_text: '',
//                show_loading_image : false,
                is_page_loaded: false,
                is_page_updating: false,
                page_title: 'Default page title',
                user: {},
                user_background_color: '',
                user_color: '',
                langsArray: [],
                submitMessageByEntersArray: [],
                userSkillsList: [],
                data_source_type: 'user_profile_documents',
                documentCategoriesList: [],
                documentPublicAccessesArray: [],
                uploadedDocumentsExtensionsArray: [],
                userSkillOptionsValueArray: [],
                user_profile_thumbnail_image_url: '',
                message: '',
            }
        }, // data: function () {

        computed: {}, // computed: {


        methods: {

            loadUserProfileDocumentsList(params_str) {
//                alert( "loadUserProfileDocumentsList!!! params_str::"+var_dump(params_str) )
                if (typeof params_str == "undefined") params_str = '';
                // to load user profile documents and trigger event for MultipleFileUploading Block
                axios.get(window.API_VERSION_LINK + '/load_user_profile_documents?' + params_str).then((response) => {
                    let itemDocumentsList = response.data.userProfileDocumentsList;
//                    alert( "itemDocumentsList::"+var_dump(itemDocumentsList) )
                    //             bus.$on('setMultipleFileUploadingBlockItemDocumentsListEvent', (data_source_type, unique_id, itemDocumentsList) => {
                    // user profile documents are loaded trigger event for MultipleFileUploading Block to show these data
                    bus.$emit('setMultipleFileUploadingBlockItemDocumentsListEvent', this.data_source_type, this.user.id, itemDocumentsList);
                }).catch((error) => {
                    this.showRunTimeError(error, this);
                });
            }, //loadUserProfileDocumentsList() {

            loadUserProfile() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/user_profiles/').then((response) => {
                    this.is_page_loaded = true


                    this.user = response.data.user;
                    this.user.subscription_to_newsletters = this.user.subscription_to_newsletters == 'Y';
                    this.user.show_online_status = this.user.show_online_status == 'Y';

//                    alert( "loadUserProfile  this.user.id::"+var_dump( this.user.id ) )
                    // when current user is loaded trigger event to load user profile documents and show them in MultipleFileUploading Block
                    bus.$emit('reloadMultipleFileUploadingBlockEvent', this.data_source_type, this.user.id);

                    this.user_background_color = response.data.user.background_color;
                    this.user_color = response.data.user.color;
                    this.users_groups_text = response.data.users_groups_text;
                    this.setAppTitle(this.header_title, false);

                    this.langsArray = response.data.langsArray;
                    this.submitMessageByEntersArray = response.data.submitMessageByEntersArray;
                    this.documentCategoriesList = response.data.documentCategoriesList;
                    this.documentPublicAccessesArray = response.data.documentPublicAccessesArray;
                    this.uploadedDocumentsExtensionsArray = response.data.uploadedDocumentsExtensionsArray;
                    this.userSkillOptionsValueArray = response.data.userSkillOptionsValueArray;
                    this.user_profile_thumbnail_image_url = response.data.user_profile_thumbnail_image_url;
                    bus.$emit('pageOpenedEvent', 'user_profile', 'edit', true, []);
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, //loadUserProfile() {

            loadUserSkillsList() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/load_user_skills?get_all_skills=1').then((response) => {
                    this.is_page_loaded = true
                    this.userSkillsList = response.data.userSkillsList;
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, //loadUserSkillsList() {


            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateUserProfileDetails()
                    } else {
                        bus.$emit('editorValidationFail', this.data_source_type, this.user.id);
                        this.showPopupMessage('Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' user\'s profile. ', 'error');
                    }
                })
            }, // validateBeforeSubmit() {

            updateUserProfileDetails() {
                this.is_page_updating = true
                var user = this.user;

                this.user_background_color = user.background_color = this.formatColor(this.user_background_color)
//                user.background_color = this.formatColor(this.user_background_color)
                this.user_color = user.color = this.formatColor(this.user_color)
//	                            alert( "user.background_color::"+var_dump(user.background_color) )
//	                            alert( "user.color::"+var_dump(user.color) )

//	            alert( "updateUserProfileDetails user::"+var_dump(user) )
                axios.post(window.API_VERSION_LINK + '/user_profiles', user).then((response) => {
                    this.message = false
                    this.is_page_updating = false
                    this.showPopupMessage('User\'s profile updated successfully. ', 'success');
                    bus.$emit('UserProfileIsSetEvent', user.first_name + ' ' + user.last_name, response.data.site_name);
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error updating user\'s profile. ', 'error');
                });

            }, // updateUserProfileDetails() {


            updateUserSkills() {
//                alert( "updateUserSkills::"+var_dump(1) )
                this.is_page_updating = true
                var userSkillsArray = []; // Список выбранных эюзеров
                $('.select_skill_option').each(function (i, obj) {
                    var userSkill = {}
                    userSkill.skill = obj.id;    //user_skill
                    userSkill.rating = obj.value;
                    userSkillsArray[userSkillsArray.length] = userSkill
                });

                axios.post(window.API_VERSION_LINK + '/user_skills_update', userSkillsArray).then((response) => {
                    this.message = false
                    this.is_page_updating = false
                    this.showPopupMessage('User\'s skills updated successfully. ', 'success');
                    this.loadUserSkillsList();
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error updating user\'s skills. ', 'error');
                });

            }, // updateUserSkills() {


            addUserSkill() {
                var new_user_skill = this.$refs.new_user_skill.value;
                axios.post(window.API_VERSION_LINK + '/add_new_user_skill', {new_user_skill: new_user_skill}).then((response) => {
                    this.message = false
                    this.is_page_updating = false
                    this.showPopupMessage('New user\'s skill was added successfully! You can set rating to this new user\'s skill ', 'success');
                    this.loadUserSkillsList();
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error updating user\'s skills. ', 'error');
                });

            },


        } // methods: {


    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
