<template>
	<div>


		<div class="card">
			<ul class="list-group">
				<li>
					| <router-link :to="{ name: 'sourceViewer' }">
					<i class="fa fa-bolt"></i> sourceViewer
				</router-link>

					<!--{path: '/admin/source_viewer/:filename/:ext', component: SourceViewer, name: 'sourceViewer'},-->

					<router-link :to="{ name: 'sourceViewerContainer', params: { filename: 'app/Http/Controllers/DashboardController.php', ext: 'php' } }" >DashboardController.php</router-link>
					<!--<router-link :to="{ name: 'sourceViewer', params: { filename: 'app/Http/Controllers/DashboardController.php', ext: 'php' } }" >DashboardController.php</router-link>-->
					<!--<router-link :to="{ name: 'sourceViewer', params: { filename: 'app/Http/Controllers/DashboardController.php', ext: 'php' } }" >DashboardController.php</router-link>-->

					<!--<a class="a_link" @click="viewSourcePage('app/Http/Controllers/DashboardController.php','php')">app/Http/Controllers/DashboardController.php</a>-->
				</li>
				<li>
					<router-link :to="{ name: 'sourceViewerContainer', params: { filename: 'storage/logs/sql_tracing.txt', ext: 'sql' } }" >sql_tracing.txt</router-link>
					<!--<a class="a_link" @click="viewSourcePage('/_wwwroot/lar/tasks/storage/logs/sql_tracing.txt','sql')">/_wwwroot/lar/tasks/storage/logs/sql_tracing.txt</a>-->
				</li>
				<li>
					<a class="a_link" @click="viewSourcePage('resources/assets/js/components/tasks/TasksIndex.vue','vue')">resources/assets/js/components/tasks/TasksIndex.vue</a>
				</li>
				<li>
					<a class="a_link" @click="viewSourcePage('resources/views/layouts/app.blade.php','blade')">resources/views/layouts/app.blade.php</a>
				</li>

			</ul>
		</div>

	</div>


</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';


    export default {

        mixins: [appMixin],

	    mounted() {
//            alert( "resources/assets/js/components/dashboard/AppDescription.vue::"+var_dump(-9) )
	    },
	    
        data: function () {
            return {
                header_title: 'Test',

            }

        },

        methods: {
            viewSourcePage(filename, file_type) {
//                alert( "viewSourcePage  filename::"+var_dump(filename)+"  file_type::"+var_dump(file_type) )
                this.$router.push({name: 'sourceViewer', params: { src_file: filename, file_type: file_type } } );
//                this.src_file= this.$route.params.src_file
//                this.file_type= this.$route.params.file_type

                // router.push({ name: 'user', params: { userId: 123 }})

            }, // loadUserWeatherLocationsList() {
        }, // methods: {



        created() {
        },


    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>


<style scoped lang="css">
	[v-cloak] {
		display: none;
	}
</style>
