<template>
	<section>

<!--
		<h3>resources/assets/js/components/dashboard/DashboardIndex.vue</h3>

		<example-component></example-component>



		<form class="needs-validation" novalidate>
			<div class="form-row">
				<div class="col-md-4 mb-3">
					<label for="validationCustom01">First name</label>
					<input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
					<div class="valid-feedback">
						Looks good!
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<label for="validationCustom02">Last name</label>
					<input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
					<div class="valid-feedback">
						Looks good!
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<label for="validationCustomUsername">Username</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroupPrepend">@</span>
						</div>
						<input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
						<div class="invalid-feedback">
							Please choose a username.
						</div>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label for="validationCustom03">City</label>
					<input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
					<div class="invalid-feedback">
						Please provide a valid city.
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<label for="validationCustom04">State</label>
					<input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
					<div class="invalid-feedback">
						Please provide a valid state.
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<label for="validationCustom05">Zip</label>
					<input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
					<div class="invalid-feedback">
						Please provide a valid zip.
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
					<label class="form-check-label" for="invalidCheck">
						Agree to terms and conditions
					</label>
					<div class="invalid-feedback">
						You must agree before submitting.
					</div>
				</div>
			</div>
			<button class="btn btn-primary" type="submit">Submit form</button>
		</form>
-->


		
		<!--is_debug::{{ is_debug }}-->
		<!-- USER EVENTS BY DAY DIALOG MODAL START-->

		<div class="modal fade" id="user_events_by_day_dialog" tabindex="-1" role="dialog" aria-labelledby="user_events_by_day_dialog_label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="user_events_by_day_dialog_label"> You have {{ eventUsersByDayArray.length }} event(s) on {{ view_day_formatted }} :</h4>
					</div>

					<div class="modal-body">
						<div v-if="eventUsersByDayArray">


							<ul class="list-group" v-if="eventUsersByDayArray">
								<li v-for="nextEventUsersByDay, index in eventUsersByDayArray" class="p-3">
									<span v-if="is_admin || is_manager">
										<a @click='eventUserEdit(nextEventUsersByDay.event_id, index)' class="control_link">
											<i class="fa fa-edit mr-3" title="Edit event info"></i>
										</a>&nbsp;
									</span>
									<span v-bind:style="getIsPastColor(nextEventUsersByDay.event_at_time_is_past)">
										{{ nextEventUsersByDay.event_id }}={{ nextEventUsersByDay.title }}
									</span>
									<p class="text-info">
										starts at {{ nextEventUsersByDay.start_time_label }} till {{ nextEventUsersByDay.end_time_label }}, {{ nextEventUsersByDay.event_access_label }}
									</p>
									
								</li>
							</ul>

							<p class="text-info" v-if="eventUsersByDayArray.length == 0">
								You have no events on {{ view_day_formatted }}
							</p>

							<div v-if="( is_admin || is_manager ) && day_is_past!= 'is_past' " class="p-3">
								<a @click='eventUserNew()' class="control_link">
									<i class="fa fa-calendar mr-3" title="Add new event"></i>Add new event
								</a>&nbsp;
							</div>

						</div>
					<!-- modal-body -->

					<div class="modal-footer">
						<div class="row float-right">
							<div class="btn-group">
								<button type="button"  @click.prevent="cancelUserEventsByDayDialog()" class="btn btn-cancel-action">
									<i class="fa fa-remove"></i>&nbsp;Cancel
								</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- USER EVENTS BY DAY DIALOG MODAL END -->

		<div class="card">

			<!-- default_block::{{ default_block }} -->

			<div v-if="is_ref_name_debug">
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<h1>Space</h1>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			<hr>
			</div>

			<listing-header :show_loading_image=is_page_loaded :header_icon="getHeaderIcon('dashboard')" :header_title=header_title :message=message :no_data_found_label="''"
			                :right_icon="'fa fa-sync'" :parent_component_key="'dashboard'"	></listing-header>
			<!-- <i class="fa fa-sync" title="Refresh"  @click="loadDashboardData"></i> -->

			<section class="card-body" v-if="is_page_loaded">


				<div class="row">
					<!-- is_ref_name_debug::{{ is_ref_name_debug }}<br>-->
					<!-- is_debug::{{ is_debug}}<br> -->
					<!-- is_admin::{{ is_admin }};;;is_manager::{{ is_manager }};;-->


					<fieldset>
						<legend>Your tasks</legend>

						<div class="col-sm-4">
							<div class="" id="accordion_new_assigned_tasks">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_new_assigned_tasks" href="#collapse_accordion_new_assigned_tasks">
												New Assigned Tasks({{ assigningTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_new_assigned_tasks" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextAssigningTasksAssignedToUser, index in assigningTasksAssignedToUserList" class="list-group-item"
											    v-bind:style="getPriorityColor(nextAssigningTasksAssignedToUser.task_priority)">
										        <span v-if="is_debug">
													task_id={{ nextAssigningTasksAssignedToUser.task_id }};{{ nextAssigningTasksAssignedToUser.id }}=
										        </span>
												{{ nextAssigningTasksAssignedToUser.task_name }},
												<span v-if="nextAssigningTasksAssignedToUser.is_leader_label">You are </span>{{nextAssigningTasksAssignedToUser.is_leader_label}}
												<span v-if="nextAssigningTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextAssigningTasksAssignedToUser.task_date_start_label }}=>{{nextAssigningTasksAssignedToUser.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextAssigningTasksAssignedToUser.id } }" target="_blank">
													<span v-if="is_debug">task_id # {{ nextAssigningTasksAssignedToUser.task_id
														}} ( subtask # {{ nextAssigningTasksAssignedToUser.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="" id="accordion_processing_assigned_tasks">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_processing_assigned_tasks" href="#collapse_accordion_processing_assigned_tasks">
												Processing Tasks({{ processingTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_processing_assigned_tasks" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextProcessingTasksAssignedToUser, index in processingTasksAssignedToUserList" class="list-group-item"
											    v-bind:style="getPriorityColor(nextProcessingTasksAssignedToUser.task_priority)"
											    :key="'next_processing_tasks_assigned_to_user_'+nextProcessingTasksAssignedToUser.id">
										        <span v-if="is_debug">
													task_id={{ nextProcessingTasksAssignedToUser.task_id }};{{nextProcessingTasksAssignedToUser.id }}=
										        </span>
												{{ nextProcessingTasksAssignedToUser.task_name }},
												<span v-if="nextProcessingTasksAssignedToUser.is_leader_label">You are </span>{{nextProcessingTasksAssignedToUser.is_leader_label}}
												<span v-if="nextProcessingTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextProcessingTasksAssignedToUser.task_date_start_label }}=>{{nextProcessingTasksAssignedToUser.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextProcessingTasksAssignedToUser.id } }">
													<span v-if="is_debug">task_id # {{ nextProcessingTasksAssignedToUser.task_id
														}} ( subtask # {{ nextProcessingTasksAssignedToUser.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="" id="accordion_cancelled_assigned_tasks">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_cancelled_assigned_tasks" href="#collapse_accordion_cancelled_assigned_tasks">
												Checking Tasks({{ checkingTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_cancelled_assigned_tasks" class="panel-collapse collapse out">
										<ul class="list-group">
											<li v-for="nextCheckingTasksAssignedToUser, index in checkingTasksAssignedToUserList" class="list-group-item"
											    v-bind:style="getPriorityColor(nextCheckingTasksAssignedToUser.task_priority)">
										        <span v-if="is_debug">
													task_id={{ nextCheckingTasksAssignedToUser.task_id }};{{nextCheckingTasksAssignedToUser.id }}=
										        </span>
												{{ nextCheckingTasksAssignedToUser.task_name }},
												<span v-if="nextCheckingTasksAssignedToUser.is_leader_label">You are </span>{{nextCheckingTasksAssignedToUser.is_leader_label}}
												<span v-if="nextCheckingTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextCheckingTasksAssignedToUser.task_date_start_label }}=>{{nextCheckingTasksAssignedToUser.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextCheckingTasksAssignedToUser.id } }">
													<span v-if="is_debug">task_id # {{ nextCheckingTasksAssignedToUser.task_id }} ( subtask # {{ nextCheckingTasksAssignedToUser.id
														}} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>

					</fieldset>   <!-- Your tasks &ndash;-->
				</div>


				<div class="row" v-if="tasksAssignedToUserAsTeamLeaderAssigningList.length > 0 || tasksAssignedToUserAsTeamLeaderProcessingList.length > 0 || tasksAssignedToUserAsTeamLeaderCheckingList.length > 0 ">
					<fieldset>
						<legend>Your tasks as team leader</legend>


						<div class="col-sm-4">
							<div class="" id="accordion_new_assigned_tasks_as_team_leader_assigning">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_new_assigned_tasks_as_team_leader_assigning"
											   href="#collapse_accordion_new_assigned_tasks_as_team_leader_assigning">
												{{ tasksAssignedToUserAsTeamLeaderAssigningList.length}} assigning task{{ pluralize(tasksAssignedToUserAsTeamLeaderAssigningList.length,'','s') }}
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_new_assigned_tasks_as_team_leader_assigning" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextTaskAssignedToUserAsTeamLeaderAssigning, index in tasksAssignedToUserAsTeamLeaderAssigningList" class="list-group-item"
											    v-bind:style="getPriorityColor(nextTaskAssignedToUserAsTeamLeaderAssigning.task_priority)">
										        <span v-if="is_debug">
													task_id={{nextTaskAssignedToUserAsTeamLeaderAssigning.task_id }}; {{nextTaskAssignedToUserAsTeamLeaderAssigning.id }}=
										        </span>
												{{ nextTaskAssignedToUserAsTeamLeaderAssigning.task_name }},
												<span v-if="nextTaskAssignedToUserAsTeamLeaderAssigning.is_leader_label">You are </span>{{nextTaskAssignedToUserAsTeamLeaderAssigning.is_leader_label}}
												<span v-if="nextTaskAssignedToUserAsTeamLeaderAssigning.is_leader_label">,</span>&nbsp;
												{{nextTaskAssignedToUserAsTeamLeaderAssigning.task_date_start_label }}=>{{nextTaskAssignedToUserAsTeamLeaderAssigning.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextTaskAssignedToUserAsTeamLeaderAssigning.id } }">
													<span v-if="is_debug">task_id # {{ nextTaskAssignedToUserAsTeamLeaderAssigning.task_id
														}} ( subtask # {{ nextTaskAssignedToUserAsTeamLeaderAssigning.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>


						<div class="col-sm-4">
							<div class="" id="accordion_new_assigned_tasks_as_team_leader_processing">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_new_assigned_tasks_as_team_leader_processing"
											   href="#collapse_accordion_new_assigned_tasks_as_team_leader_processing">
												{{ tasksAssignedToUserAsTeamLeaderProcessingList.length}} processing task{{ pluralize(tasksAssignedToUserAsTeamLeaderProcessingList.length,'','s') }}
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_new_assigned_tasks_as_team_leader_processing" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextTaskAssignedToUserAsTeamLeaderProcessing, index in tasksAssignedToUserAsTeamLeaderProcessingList" class="list-group-item"
											    v-bind:style="getPriorityColor(nextTaskAssignedToUserAsTeamLeaderProcessing.task_priority)">
										        <span v-if="is_debug">
												task_id={{nextTaskAssignedToUserAsTeamLeaderProcessing.task_id }}; {{nextTaskAssignedToUserAsTeamLeaderProcessing.id }}=
										        </span>
												{{ nextTaskAssignedToUserAsTeamLeaderProcessing.task_name }},
												<span v-if="nextTaskAssignedToUserAsTeamLeaderProcessing.is_leader_label">You are </span>{{nextTaskAssignedToUserAsTeamLeaderProcessing.is_leader_label}}
												<span v-if="nextTaskAssignedToUserAsTeamLeaderProcessing.is_leader_label">,</span>&nbsp;
												{{nextTaskAssignedToUserAsTeamLeaderProcessing.task_date_start_label }}=>{{nextTaskAssignedToUserAsTeamLeaderProcessing.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextTaskAssignedToUserAsTeamLeaderProcessing.id } }">
													<span v-if="is_debug">task_id # {{ nextTaskAssignedToUserAsTeamLeaderProcessing.task_id
														}} ( subtask # {{ nextTaskAssignedToUserAsTeamLeaderProcessing.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>


						<div class="col-sm-4">
							<div class="" id="accordion_new_assigned_tasks_as_team_leader_checking">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_new_assigned_tasks_as_team_leader_checking"
											   href="#collapse_accordion_new_assigned_tasks_as_team_leader_checking">
												{{ tasksAssignedToUserAsTeamLeaderCheckingList.length}} checking task{{ pluralize(tasksAssignedToUserAsTeamLeaderCheckingList.length,'','s') }}
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_new_assigned_tasks_as_team_leader_checking" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextTaskAssignedToUserAsTeamLeaderChecking, index in tasksAssignedToUserAsTeamLeaderCheckingList" class="list-group-item"
											    v-bind:style="getPriorityColor(nextTaskAssignedToUserAsTeamLeaderChecking.task_priority)">
										        <span v-if="is_debug">
													task_id={{nextTaskAssignedToUserAsTeamLeaderChecking.task_id }}; {{nextTaskAssignedToUserAsTeamLeaderChecking.id }}=
										        </span>
												{{ nextTaskAssignedToUserAsTeamLeaderChecking.task_name }},
												<span v-if="nextTaskAssignedToUserAsTeamLeaderChecking.is_leader_label">You are </span>{{nextTaskAssignedToUserAsTeamLeaderChecking.is_leader_label}}
												<span v-if="nextTaskAssignedToUserAsTeamLeaderChecking.is_leader_label">,</span>&nbsp;
												{{nextTaskAssignedToUserAsTeamLeaderChecking.task_date_start_label }}=>{{nextTaskAssignedToUserAsTeamLeaderChecking.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextTaskAssignedToUserAsTeamLeaderChecking.id } }">
													<span v-if="is_debug">task_id # {{ nextTaskAssignedToUserAsTeamLeaderChecking.task_id
														}} ( subtask # {{ nextTaskAssignedToUserAsTeamLeaderChecking.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>



					</fieldset>   <!-- Your tasks as team leader &ndash;-->
				</div>


				<div class="row" v-if="is_admin">
					<!--is_admin::{{ is_admin }};;;is_manager::{{ is_manager }};;&ndash;-->
					<fieldset>
						<legend>Tasks for all users</legend>

						<div class="col-md-12">
							<p class="text-info">As <b>admin</b>, you have access to all tasks</p>
							<div class="" id="accordion_all_assigned_tasks">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_all_assigned_tasks" href="#collapse_accordion_all_assigned_tasks">
												New Assigned Tasks({{ forAdminAssigningTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_all_assigned_tasks" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextForAdminAssigningTasksAssignedToUser, index in forAdminAssigningTasksAssignedToUserList" class="list-group-item"
											    v-bind:style="getPriorityColor(nextForAdminAssigningTasksAssignedToUser.task_priority)">
												<router-link :to="{name: 'userProfileView', params: {id: nextForAdminAssigningTasksAssignedToUser.user_id} }">
													{{nextForAdminAssigningTasksAssignedToUser.user_id }}={{ nextForAdminAssigningTasksAssignedToUser.user_first_name
													}} {{ nextForAdminAssigningTasksAssignedToUser.user_last_name }},
												</router-link>&nbsp;&nbsp;
												<span v-if="is_debug">
													task_id={{ nextForAdminAssigningTasksAssignedToUser.task_id }};{{nextForAdminAssigningTasksAssignedToUser.id }}=
										        </span>
												{{ nextForAdminAssigningTasksAssignedToUser.task_name }},
												<span v-if="nextForAdminAssigningTasksAssignedToUser.is_leader_label">You are </span>{{nextForAdminAssigningTasksAssignedToUser.is_leader_label}}
												<span v-if="nextForAdminAssigningTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextForAdminAssigningTasksAssignedToUser.task_date_start_label }}=>{{nextForAdminAssigningTasksAssignedToUser.task_date_end_label
												}}
												<router-link :to="{ name: 'taskOperation', params: { id: nextForAdminAssigningTasksAssignedToUser.id } }">
													<span v-if="is_debug">task_id # {{ nextForAdminAssigningTasksAssignedToUser.task_id
														}} ( subtask # {{ nextForAdminAssigningTasksAssignedToUser.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div> <!-- Assigning tasks &ndash;-->


						<div class="col-md-12">
							<div class="" id="accordion_all_processing_tasks">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_all_processing_tasks" href="#collapse_accordion_all_processing_tasks">
												Processing Tasks({{ forAdminProcessingTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_all_processing_tasks" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextForAdminProcessingTasksAssignedToUser, index in forAdminProcessingTasksAssignedToUserList" class="list-group-item"
											    v-bind:style="getPriorityColor(nextForAdminProcessingTasksAssignedToUser.task_priority)">
												<router-link :to="{name: 'userProfileView', params: {id: nextForAdminProcessingTasksAssignedToUser.user_id} }">
													{{nextForAdminProcessingTasksAssignedToUser.user_id }}={{ nextForAdminProcessingTasksAssignedToUser.user_first_name
													}} {{ nextForAdminProcessingTasksAssignedToUser.user_last_name }},
												</router-link>&nbsp;&nbsp;
												<span v-if="is_debug">
													task_id={{ nextForAdminProcessingTasksAssignedToUser.task_id }};{{nextForAdminProcessingTasksAssignedToUser.id }}=
										        </span>
												{{ nextForAdminProcessingTasksAssignedToUser.task_name }},
												<span v-if="nextForAdminProcessingTasksAssignedToUser.is_leader_label">You are </span>{{nextForAdminProcessingTasksAssignedToUser.is_leader_label}}
												<span v-if="nextForAdminProcessingTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextForAdminProcessingTasksAssignedToUser.task_date_start_label
												}}=>{{nextForAdminProcessingTasksAssignedToUser.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextForAdminProcessingTasksAssignedToUser.id } }">
													<span v-if="is_debug">task_id # {{ nextForAdminProcessingTasksAssignedToUser.task_id
														}} ( subtask # {{ nextForAdminProcessingTasksAssignedToUser.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div> <!-- Processing tasks &ndash;-->


						<div class="col-md-12">
							<div class="" id="accordion_all_checking_tasks">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_all_checking_tasks" href="#collapse_accordion_all_checking_tasks">
												Checking Tasks({{ forAdminCheckingTasksAssignedToUserList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_all_checking_tasks" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextForAdminCheckingTasksAssignedToUser, index in forAdminCheckingTasksAssignedToUserList" class="list-group-item"
											    v-bind:style="getPriorityColor(nextForAdminCheckingTasksAssignedToUser.task_priority)">
												<router-link :to="{name: 'userProfileView', params: {id: nextForAdminCheckingTasksAssignedToUser.user_id} }">
													{{nextForAdminCheckingTasksAssignedToUser.user_id }}={{ nextForAdminCheckingTasksAssignedToUser.user_first_name
													}} {{ nextForAdminCheckingTasksAssignedToUser.user_last_name }},
												</router-link>&nbsp;&nbsp;
												<span v-if="is_debug">
													task_id={{ nextForAdminCheckingTasksAssignedToUser.task_id }};{{nextForAdminCheckingTasksAssignedToUser.id }}=
										        </span>
												{{ nextForAdminCheckingTasksAssignedToUser.task_name }},
												<span v-if="nextForAdminCheckingTasksAssignedToUser.is_leader_label">You are </span>{{nextForAdminCheckingTasksAssignedToUser.is_leader_label}}
												<span v-if="nextForAdminCheckingTasksAssignedToUser.is_leader_label">,</span>&nbsp;
												{{nextForAdminCheckingTasksAssignedToUser.task_date_start_label }}=>{{nextForAdminCheckingTasksAssignedToUser.task_date_end_label }}
												<router-link :to="{ name: 'taskOperation', params: { id: nextForAdminCheckingTasksAssignedToUser.id } }">
													<span v-if="is_debug">task_id # {{ nextForAdminCheckingTasksAssignedToUser.task_id
														}} ( subtask # {{ nextForAdminCheckingTasksAssignedToUser.id }} )</span>
													Open
												</router-link>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div> <!-- Checking tasks &ndash;-->


					</fieldset>   <!-- All tasks &ndash;-->


					<fieldset>
						<legend>Your Chats</legend>
						<div class="col-md-12">
							<div class="" id="accordion_your_active_user_chats_lists">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_your_active_user_chats_lists"
											   href="#collapse_accordion_your_active_user_chats_lists">
												Active chats({{ yourActiveUserChatsList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_your_active_user_chats_lists" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextYourActiveUserChat, index in yourActiveUserChatsList" class="list-group-item">

												<router-link :to="{name: 'runUserChat', params: {id: nextYourActiveUserChat.id} }" target='_blank'>
													{{nextYourActiveUserChat.id }}={{ nextYourActiveUserChat.name }}
												</router-link>

												<span v-if="nextYourActiveUserChat.user_chat_messages_count_by_user_id > 0">, {{
                                                    nextYourActiveUserChat.user_chat_messages_count_by_user_id}} your messages</span>
												<span v-if="nextYourActiveUserChat.user_chat_messages_count > 0">, {{ nextYourActiveUserChat.user_chat_messages_count}} messages</span>
												<span v-if="nextYourActiveUserChat.user_chat_participants_count > 0">, {{ nextYourActiveUserChat.user_chat_participants_count }}
												participants</span>
												<router-link :to="{name: 'userProfileView', params: {id: nextYourActiveUserChat.manager_id} }">
													, Managed by {{ nextYourActiveUserChat.manager_name}}
												</router-link>

											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-12">
							<div class="" id="accordion_your_closed_user_chats_lists">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_your_closed_user_chats_lists" href="#collapse_accordion_your_closed_user_chats_lists">
												Closed chats({{ yourClosedUserChatsList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_your_closed_user_chats_lists" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextYourClosedUserChat, index in yourClosedUserChatsList" class="list-group-item">

												<router-link :to="{name: 'runUserChat', params: {id: nextYourClosedUserChat.id} }" target='_blank'>
													{{nextYourClosedUserChat.id }}={{ nextYourClosedUserChat.name }}
												</router-link>

												<span v-if="nextYourClosedUserChat.user_chat_messages_count_by_user_id > 0">, {{
                                                    nextYourClosedUserChat.user_chat_messages_count_by_user_id}} your messages</span>
												<span v-if="nextYourClosedUserChat.user_chat_messages_count > 0">, {{ nextYourClosedUserChat.user_chat_messages_count}} messages</span>
												<span v-if="nextYourClosedUserChat.user_chat_participants_count > 0">, {{ nextYourClosedUserChat.user_chat_participants_count }}
												participants</span>
												<router-link :to="{name: 'userProfileView', params: {id: nextYourClosedUserChat.manager_id} }">
													, Managed by {{ nextYourClosedUserChat.manager_name}}
												</router-link>

											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>
					</fieldset>   <!-- All Chats &ndash;-->


					<fieldset>

						<div v-if="is_ref_name_debug">
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<h1>SPACE</h1>
						<hr>
						<hr>
						<hr>
						<hr>
						<hr>
						<hr>
						<hr>
						<hr>
						<hr>
						<hr>
						<hr>
						</div>
						<legend>Chats for all users</legend>
						<div class="col-md-12">
							<p class="text-info">As <b>admin</b>, you have access to all chats</p>
							<div class="" id="accordion_active_user_chats_lists">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											<a data-toggle="collapse" data-parent="#accordion_active_user_chats_lists" href="#collapse_accordion_active_user_chats_lists">
												Active chats({{ activeUserChatsList.length}})
											</a>
										</h4>
									</div>
									<div id="collapse_accordion_active_user_chats_lists" class="panel-collapse collapse out">
										<ul class="list-group">

											<li v-for="nextActiveUserChat, index in activeUserChatsList" class="list-group-item">

												<router-link :to="{name: 'runUserChat', params: {id: nextActiveUserChat.id} }" target='_blank'>
													{{nextActiveUserChat.id }}={{ nextActiveUserChat.name }}
												</router-link>

												<span v-if="nextActiveUserChat.user_chat_messages_count > 0">, {{ nextActiveUserChat.user_chat_messages_count}} messages</span>
												<span v-if="nextActiveUserChat.user_chat_participants_count > 0">, {{ nextActiveUserChat.user_chat_participants_count }}
												participants</span>
												<router-link :to="{name: 'userProfileView', params: {id: nextActiveUserChat.manager_id} }">
													, Managed by {{ nextActiveUserChat.manager_name}}
												</router-link>

											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>
					</fieldset>   <!-- All Chats &ndash;-->


				</div> <!-- &ndash;-->


				<fieldset>

					<div v-if="is_ref_name_debug">
						<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					</div>
					<legend>Your calendar</legend>
					&nbsp;<i class="glyphicon glyphicon-list-alt" title="Add Dummy user's events for current month" @click="recalcUserEvents(1)">Add Dummy user's events</i>
					<!--<div class="page" ref="porto">&ndash;-->
						<!--<div class="comp-full-calendar test-fc">&ndash;-->
							<!--<events-calendar :eventsArray="yourEventUsersArray" :editable="true"></events-calendar>&ndash;-->
						<!--</div>&ndash;-->

					<!--</div>&ndash;-->


					<!--<!--{{ 'porto' | goToNamedRef }}&ndash;-->-->
					<div class="page" ref="london">
						London page
					</div>
					<div class="page" ref="porto">
						Porto page
					</div>


				</fieldset>   <!-- Your calendar &ndash;-->


				<div class="col-md-12 pt-5">
					<a class="a_link" v-on:click="toggleResourcesBlockIsVisible">
						<i class="fa fa-angle-down a_link" style="font-size:14px;"></i>
					</a>
					<fieldset v-if="resources_block_is_visible">
						<legend>App resources</legend>
						<div class="col-md-12">
							<ul class="list-group">
								<li>
									<a href=" https://www.bootply.com/new" class="a_link" target="_blank">
										https://www.bootply.com/new
									</a>
								</li>


								<li>
									<a href="https://fontawesome.com/" class="a_link" target="_blank">
										https://fontawesome.com/
									</a>
								</li>


								<li>
									<a href="https://getbootstrap.com/docs/3.3/components/" class="a_link" target="_blank">
										https://getbootstrap.com/docs/4.1/components/
									</a>
								</li>

								<li>
									<a href="http://bootstrap-4.ru/docs/4.1/migration/" class="a_link" target="_blank">
										http://bootstrap-4.ru/docs/4.1/migration/
									</a>
								</li>

								<li>
									<a href="fontawesome icons gallery" class="a_link" target="_blank">
										https://fontawesome.com/icons?d=gallery
									</a>
								</li>

								<li>
									<a href="https://adamwathan.me/2016/01/04/composing-reusable-modal-dialogs-with-vuejs/" class="a_link" target="_blank">
										Composing Reusable Modal Dialogs with Vue.js
									</a>
								</li>
								<li>
									<a href="https://murze.be/building-a-realtime-dashboard-powered-by-laravel-and-vue-2017-edition" class="a_link" target="_blank">
										Building a realtime dashboard powered by Laravel and Vue (2017 edition)
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/watch?v=53AoDB7vcbU" class="a_link" target="_blank">
										1 Open Weather Map API
									</a>
								</li>
								<li>
									<a href="https://vuejs.org/v2/examples/todomvc.html" class="a_link" target="_blank">
										TodoMVC Example
									</a>
								</li>
								<li>
									<a href="http://eliteadmin.themedesigner.in/demos/eliteadmin/chat.html" class="a_link" target="_blank">
										eliteadmin chat
									</a>
								</li>
								<li>
									<a href="https://github.com/vuejs/awesome-vue" class="a_link" target="_blank">
										awesome-vue list
									</a>
								</li>
								<li>
									<a href="https://github.com/richardtallent/vue-simple-calendar#calendar-event-properties" class="a_link" target="_blank">
										vue-simple-calendar
									</a>
								</li>
								<li>
									<a href="http://localhost/info.php" class="a_link" target="_blank">
										info.php
									</a>
								</li>
								<li>
									<a href="http://localhost/phpmyadmin/db_structure.php?server=1&db=tasks_work&token=ed96d0d39be55671ac9c488a4e6217ef" class="a_link"
									   target="_blank">
										phpmyadmin
									</a>
								</li>
								<li>
									<a href="http://local-csvp.com/dashboard/index" class="a_link" target="_blank">
										local-csvp.com/dashboard
									</a>
								</li>


							</ul>
						</div>
					</fieldset>


				</div> <!-- App resources &ndash;-->


				<div v-if="is_ref_name_debug">
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<h1>Space</h1>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
				</div>


			</section>

		</div>
		</div>


	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    Vue.component('listing-header', require('../../components/lib/ListingHeader.vue'));
    Vue.component('events-calendar-wrapper', require('../../components/lib/EventsCalendarWrapper.vue'));


    export default {
        data: function () {
            return {
                header_title: 'Dashboard',
                is_page_loaded: false,
                assigningTasksAssignedToUserList: [],
                checkingTasksAssignedToUserList: [],
                processingTasksAssignedToUserList: [],

                tasksAssignedToUserAsTeamLeaderAssigningList: [],
                tasksAssignedToUserAsTeamLeaderProcessingList: [],
                tasksAssignedToUserAsTeamLeaderCheckingList: [],

                forAdminAssigningTasksAssignedToUserList: [],
                forAdminProcessingTasksAssignedToUserList: [],
                forAdminCheckingTasksAssignedToUserList: [],

                activeUserChatsList: [],
                yourActiveUserChatsList: [],
                yourClosedUserChatsList: [],
                yourEventUsersArray: [],

                message: '',
                default_block: '',
                loggedUserProfile: {},
                loggedUserInGroups: [],
                is_admin: false,
                is_manager: false,
                resources_block_is_visible: false,
                is_debug: false,
                is_ref_name_debug: false,
                eventUsersByDayArray : [],
                view_day_formatted : '',
                view_day_formatted_pickdate : '',
                day_is_past : '',

//                events: [
//                    {
//                        title: 'Event1',
//                        start: '2018-03-01 12:30:00',
//                        end: '2018-03-01 16:30:00'
//                    },
//                    {
//                        title: 'Event2',
//                        start: '2018-03-03 17:30:00',
//                        end: '2018-03-04 21:30:00'
//                    }
//                ],

            }

        },

        mixins: [appMixin],

        created() {

//            alert( "resources/assets/js/components/dashboard/DashboardIndex.vue::"+(-9) )
//	        console.log("this.$root::")
//	        console.log(this.$root)
//            alert( "++created resources/assets/js/components/dashboard/DashboardIndex.vue::"+(-1) )
//            alert( "'notify-me'::"+var_dump(111) )
//                data: {
//                    title: 'The pygmy team :)',
//                    text: 'this is my notification'
//                }
//
//            });
        },

        mounted() {
            this.default_block = this.$route.params.default_block // https://stackoverflow.com/questions/42645964/vue-js-anchor-to-div-within-the-same-component
//            alert( " created this.default_block:: "+this.default_block+"  this.$route.params ::"+var_dump(this.$route.params) )
//            this.goToNamedRef('porto', Vue)




            this.loadDashboardData()

/*
            bus.$on('moveToRefEvent', (ref_name) => {
                console.log("moveToRefEvent ref_name::")
                console.log( ref_name )
                console.log("moveToRefEvent this.$refs::")
                console.log( typeof this.$refs )


                var element = ''
                if ( ref_name == 'porto' ) {

                    console.log("+++this::")
                    console.log( this )

                    console.log("+++!!!this.$refs::") // I show printscreen below
                    console.log( this.$refs )

                    console.log("++++!!!ref_name::")
                    console.log( ref_name )
                    element= this.$refs[ref_name]

                }
                console.log("?????? element::")
                console.log(element);

                if ( typeof element!= "undefined") {
                    var top = element.offsetTop;
                    console.log("INSIDE top::")
                    console.log( top )

                    window.scrollTo(0, top);
                }

                // this.refsArray= this.$refs

            })
*/

            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUserProfile, loggedUserInGroups) => {
//                console.log("this.loggedUserProfile::");
//                console.log(this.loggedUserProfile);
//
//                console.log("this.loggedUserProfile.loggedUserInGroups::");
//                console.log(this.loggedUserProfile);

//                alert( "UserProfileIsSetEvent loggedUserInGroups::"+var_dump(loggedUserInGroups) )
                this.page_title = username + " of " + site_name;
                this.loggedUserProfile = loggedUserProfile;
                this.loggedUserInGroups = loggedUserInGroups;
//                alert( "this.loggedUserProfile::"+var_dump(this.loggedUserProfile) )

                this.is_admin = this.checkUserGroupAccess(this.loggedUserInGroups, "Admin")
//                alert( "this.is_admin::"+(this.is_admin) )

                this.is_manager = this.checkUserGroupAccess(this.loggedUserInGroups, "Manager")
//                alert( "this.is_manager::"+(this.is_manager) )
            })

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'dashboard') {
                    this.loadDashboardData()
                }
            })

            bus.$on('userEventsCalendarClickEvent', (date) => {
//                alert(" resources/assets/js/components/dashboard/DashboardIndex.vue userEventsCalendarClickEvent date::" + var_dump(date))
                axios.get(window.API_VERSION_LINK + '/user_events_by_day_user_id/' + date + '/5').then((response) => {
                    this.is_page_loaded = true
                    this.eventUsersByDayArray = response.data.eventUsersByDayArray;
                    this.view_day_formatted = response.data.view_day_formatted;
                    this.view_day_formatted_pickdate = response.data.view_day_formatted_pickdate;
                    this.day_is_past = response.data.day_is_past;
                    $("#user_events_by_day_dialog").modal('show');
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            })
//	        var s= this.conditions();
//            alert( "s::"+var_dump(s) )
        }, // mounted() {


        methods: {

            eventUserEdit (event_id, index) {
	            var url= window.DASHBOARD_HOME_URL + '/admin/dashboard#/admin/events/edit/'+event_id
                var win = window.open(url, '_blank');
                win.focus();
            },

            eventUserNew () {
	            var url= window.DASHBOARD_HOME_URL + '/admin/dashboard#/admin/events/edit/new/'+encodeURIComponent(this.view_day_formatted_pickdate)
//	            alert( url )
                var win = window.open(url, '_blank');
                win.focus();
            },

            cancelUserEventsByDayDialog () {
                $("#user_events_by_day_dialog").modal('hide');
            },

	        // 'events_added_count' => $events_added_count, 'event_users_added_count'=
            recalcUserEvents(only_current_user) {
                this.confirmMsg("Do you want to add dummy user's events for current month ?", () => {
                    axios.get(window.API_VERSION_LINK + '/recalc_user_events/' + only_current_user, {only_current_user: only_current_user}).then((response) => {
//                        alert("response.data::" + var_dump(response.data))
                        this.loadDashboardData();
                        this.showPopupMessage('Dummy user\'s events : '+( response.data.events_added_count+"/"+ response.data.event_users_added_count) + ' rows added. ',
	                        'success');
                    }).catch((error) => {
                        this.is_page_updating = false
                        this.showRunTimeError(error, this);
                        this.showPopupMessage('Error adding dummy user\'s events. ', 'error');
                    });
                });


            },

            toggleResourcesBlockIsVisible() {
                this.resources_block_is_visible = !this.resources_block_is_visible
            },

            loadDashboardData() {
                this.message = '';
                this.is_page_loaded = false

                axios.get(window.API_VERSION_LINK + '/dashboard_profile_data').then((response) => {
                    alert( "response.data::"+var_dump(response.data) )
                    if (response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true

                    this.yourEventUsersArray = response.data.yourEventUsersArray;
//                    return;
                    this.assigningTasksAssignedToUserList = response.data.assigningTasksAssignedToUserList;
                    this.processingTasksAssignedToUserList = response.data.processingTasksAssignedToUserList;
                    this.checkingTasksAssignedToUserList = response.data.checkingTasksAssignedToUserList;

                    this.tasksAssignedToUserAsTeamLeaderAssigningList = response.data.tasksAssignedToUserAsTeamLeaderAssigningList;
                    this.tasksAssignedToUserAsTeamLeaderProcessingList = response.data.tasksAssignedToUserAsTeamLeaderProcessingList;
                    this.tasksAssignedToUserAsTeamLeaderCheckingList = response.data.tasksAssignedToUserAsTeamLeaderCheckingList;

                    this.forAdminAssigningTasksAssignedToUserList = response.data.forAdminAssigningTasksAssignedToUserList;
                    this.forAdminProcessingTasksAssignedToUserList = response.data.forAdminProcessingTasksAssignedToUserList;
                    this.forAdminCheckingTasksAssignedToUserList = response.data.forAdminCheckingTasksAssignedToUserList;
                    this.activeUserChatsList = response.data.activeUserChatsList;
                    this.yourActiveUserChatsList = response.data.yourActiveUserChatsList;
                    this.yourClosedUserChatsList = response.data.yourClosedUserChatsList;
                    this.setAppTitle(this.header_title, false);
                    bus.$emit('pageOpenedEvent', 'dashboard', 'listing', true, []);
//                    bus.$emit('moveToRefEvent', 'porto' );

//                    alert( "this.forAdminAssigningTasksAssignedToUserList::"+var_dump(this.forAdminAssigningTasksAssignedToUserList) )
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadDashboardData() {


            // menuIconsArray
            /*
						async conditions(city) {
							city= 'London';
							const query = `select item.condition from weather.forecast where woeid in (select woeid from geo.places(1) where text='${city}') and u='c'`;

							const response = await this.performQuery(query);

							alert( "response::"+var_dump(response) )
							return response.data.query.results.channel.item.condition;
						},

						async performQuery(query) {
							const endpoint = `https://query.yahooapis.com/v1/public/yql?q=${query}&format=json`;

							return await axios.get(endpoint);
						},
			*/

        }, // methods: {


    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '-->');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>


