<template>
	<section class="card ">


		<!--assigningTasksAssignedToUserList::{{ assigningTasksAssignedToUserList }}<br>-->

		<!--processingTasksAssignedToUserList::{{ processingTasksAssignedToUserList }}<br>-->
		<!--checkingTasksAssignedToUserList::{{ checkingTasksAssignedToUserList }}<br>-->


		<fieldset> <!-- FIELDSET YOUR TASKS BLOCK BEGIN -->
			<legend>Your tasks</legend>

			<div id="accordion_your_tasks">


				<div class="card" v-show="assigningTasksAssignedToUserList.length > 0">
					<div class="card-header" id="heading_assigning_tasks_your_tasks">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapse_assigning_tasks_your_tasks" aria-expanded="true"
							        aria-controls="collapse_assigning_tasks_your_tasks">
								<strong>New Assigned Tasks({{ assigningTasksAssignedToUserList.length}})</strong>
							</button>
						</h5>
					</div>

					<div id="collapse_assigning_tasks_your_tasks" class="collapse show" aria-labelledby="heading_assigning_tasks_your_tasks" data-parent="#accordion">

						<!--style="min-width: 100%;" -->

						<div class="card" v-for="nextAssigningTasksAssignedToUser, index in assigningTasksAssignedToUserList"
						     v-bind:style="getPriorityColor(nextAssigningTasksAssignedToUser.task_priority)">
							<section class="ml-5 mr-5">
								<h4>{{ nextAssigningTasksAssignedToUser.task_name }}
									{{ nextAssigningTasksAssignedToUser.task_priority}}</h4>

								<p v-if="nextAssigningTasksAssignedToUser.is_leader_label" class="text-primary">{{nextAssigningTasksAssignedToUser.is_leader_label}}</p>

								<p class="card-text">
									{{nextAssigningTasksAssignedToUser.task_date_start_label }}=>{{nextAssigningTasksAssignedToUser.task_date_end_label }}
								</p>

								<p class="card-text">
									<router-link :to="{ name: 'taskOperation', params: { id: nextAssigningTasksAssignedToUser.id } }" target="_blank" class="card-link">
													<span v-if="is_debug">task_id # {{ nextAssigningTasksAssignedToUser.task_id
														}} ( subtask # {{ nextAssigningTasksAssignedToUser.id }} )
														task_priority::{{ nextAssigningTasksAssignedToUser.task_priority }}
													</span>
										Open
									</router-link>
								</p>

							</section>
						</div>

					</div>
				</div>  <!-- <div class="card" v-show="assigningTasksAssignedToUserList.length > 0"> -->


				<div class="card" v-show="processingTasksAssignedToUserList.length > 0">
					<div class="card-header" id="heading_processing_tasks">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_processing_tasks" aria-expanded="false"
							        aria-controls="collapse_processing_tasks">
								Processing Tasks({{ processingTasksAssignedToUserList.length}})
							</button>
						</h5>
					</div>
					<div id="collapse_processing_tasks" class="collapse" aria-labelledby="heading_processing_tasks" data-parent="#accordion">
						<div class="card" v-for="nextProcessingTasksAssignedToUser, index in processingTasksAssignedToUserList"
						     v-bind:style="getPriorityColor(nextProcessingTasksAssignedToUser.task_priority)">
							<section class="ml-5 mr-5">
								<h4>{{ nextProcessingTasksAssignedToUser.task_name }}</h4>

								<p v-if="nextProcessingTasksAssignedToUser.is_leader_label" class="text-primary">{{nextProcessingTasksAssignedToUser.is_leader_label}}</p>

								<p class="card-text">
									{{nextProcessingTasksAssignedToUser.task_date_start_label }}=>{{nextProcessingTasksAssignedToUser.task_date_end_label }}
								</p>

								<p class="card-text">
									<router-link :to="{ name: 'taskOperation', params: { id: nextProcessingTasksAssignedToUser.id } }" target="_blank" class="card-link">
													<span v-if="is_debug">task_id # {{ nextProcessingTasksAssignedToUser.task_id
														}} ( subtask # {{ nextProcessingTasksAssignedToUser.id }} )
														task_priority::{{ nextProcessingTasksAssignedToUser.task_priority }}
													</span>
										Open
									</router-link>
								</p>

							</section>
						</div>
					</div>
				</div>  <!-- <div class="card" v-show="processingTasksAssignedToUserList.length > 0"> -->


				<div class="card" v-show="checkingTasksAssignedToUserList.length > 0">
					<div class="card-header" id="heading_checking_tasks">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_checking_tasks" aria-expanded="false"
							        aria-controls="collapse_checking_tasks">
								Checking Tasks({{ checkingTasksAssignedToUserList.length}})
							</button>
						</h5>
					</div>
					<div id="collapse_checking_tasks" class="collapse" aria-labelledby="heading_checking_tasks" data-parent="#accordion">
						<div class="card" v-for="nextCheckingTasksAssignedToUser, index in checkingTasksAssignedToUserList"
						     v-bind:style="getPriorityColor(nextCheckingTasksAssignedToUser.task_priority)">
							<section class="ml-5 mr-5">
								<h4>{{ nextCheckingTasksAssignedToUser.task_name }}</h4>

								<p v-if="nextCheckingTasksAssignedToUser.is_leader_label" class="text-primary">{{nextCheckingTasksAssignedToUser.is_leader_label}}</p>

								<p class="card-text">
									{{nextCheckingTasksAssignedToUser.task_date_start_label }}=>{{nextCheckingTasksAssignedToUser.task_date_end_label }}
								</p>

								<p class="card-text">
									<router-link :to="{ name: 'taskOperation', params: { id: nextCheckingTasksAssignedToUser.id } }" target="_blank" class="card-link">
													<span v-if="is_debug">task_id # {{ nextCheckingTasksAssignedToUser.task_id
														}} ( subtask # {{ nextCheckingTasksAssignedToUser.id }} )
														task_priority::{{ nextCheckingTasksAssignedToUser.task_priority }}
													</span>
										Open
									</router-link>
								</p>

							</section>
						</div>
					</div>
				</div> <!-- <div class="card" v-show="checkingTasksAssignedToUserList.length > 0"> -->


			</div> <!-- <div id=accordion_your_tasks> -->


		</fieldset> <!-- FIELDSET YOUR TASKS BLOCK END -->


		<!--tasksAssignedToUserAsTeamLeaderAssigningList::{{ tasksAssignedToUserAsTeamLeaderAssigningList }}<br>-->
		<!--forAdminProcessingTasksAssignedToUserList::{{ forAdminProcessingTasksAssignedToUserList }}<br>-->
		<!--forAdminCheckingTasksAssignedToUserList::{{ forAdminCheckingTasksAssignedToUserList }}<br>-->


		<fieldset>  <!-- FIELDSET YOUR TASKS AS TEAM LEADER BLOCK BEGIN -->
			<legend>Your tasks as team leader</legend>

			<div id="accordion_your_tasks_as_team_leader">

				<div class="card" v-show="tasksAssignedToUserAsTeamLeaderAssigningList.length > 0">
					<div class="card-header" id="heading_assigning_tasks_your_tasks_as_team_leader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapse_assigning_tasks_your_tasks_as_team_leader" aria-expanded="true"
							        aria-controls="collapse_assigning_tasks_your_tasks_as_team_leader">
								<strong>New Assigned Tasks({{ tasksAssignedToUserAsTeamLeaderAssigningList.length}})</strong>
							</button>
						</h5>
					</div>

					<div id="collapse_assigning_tasks_your_tasks_as_team_leader" class="collapse show" aria-labelledby="heading_assigning_tasks_your_tasks_as_team_leader"
					     data-parent="#accordion">

						<div class="card" v-for="nextTaskAssignedToUserAsTeamLeaderAssigning, index in tasksAssignedToUserAsTeamLeaderAssigningList"
						     v-bind:style="getPriorityColor(nextTaskAssignedToUserAsTeamLeaderAssigning.task_priority)">
							<section class="ml-5 mr-5">

								<h4>{{ nextTaskAssignedToUserAsTeamLeaderAssigning.task_name }}{{ nextTaskAssignedToUserAsTeamLeaderAssigning.task_priority}}</h4>

								<p v-if="nextTaskAssignedToUserAsTeamLeaderAssigning.is_leader_label" class="text-primary">
									{{nextTaskAssignedToUserAsTeamLeaderAssigning.is_leader_label}}</p>

								<p class="card-text">
									{{nextTaskAssignedToUserAsTeamLeaderAssigning.task_date_start_label }}=>{{nextTaskAssignedToUserAsTeamLeaderAssigning.task_date_end_label }}
								</p>

								<p class="card-text">
									<router-link :to="{ name: 'taskOperation', params: { id: nextTaskAssignedToUserAsTeamLeaderAssigning.id } }" target="_blank" class="card-link">
													<span v-if="is_debug">task_id # {{ nextTaskAssignedToUserAsTeamLeaderAssigning.task_id
														}} ( subtask # {{ nextTaskAssignedToUserAsTeamLeaderAssigning.id }} )
														task_priority::{{ nextTaskAssignedToUserAsTeamLeaderAssigning.task_priority }}
													</span>
										Open
									</router-link>
								</p>

							</section>
						</div>

					</div>
				</div>  <!-- <div class="card" v-show="tasksAssignedToUserAsTeamLeaderAssigningList.length > 0"> -->


				<div class="card" v-show="tasksAssignedToUserAsTeamLeaderProcessingList.length > 0">
					<div class="card-header" id="heading_processing_tasks_your_tasks_as_team_leader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapse_processing_tasks_your_tasks_as_team_leader" aria-expanded="true"
							        aria-controls="collapse_processing_tasks_your_tasks_as_team_leader">
								<strong>Processing Tasks({{ tasksAssignedToUserAsTeamLeaderProcessingList.length}})</strong>
							</button>
						</h5>
					</div>

					<div id="collapse_processing_tasks_your_tasks_as_team_leader" class="collapse show" aria-labelledby="heading_processing_tasks_your_tasks_as_team_leader"
					     data-parent="#accordion">

						<div class="card" v-for="nextTaskAssignedToUserAsTeamLeaderProcessing, index in tasksAssignedToUserAsTeamLeaderProcessingList"
						     v-bind:style="getPriorityColor(nextTaskAssignedToUserAsTeamLeaderProcessing.task_priority)">
							<section class="ml-5 mr-5">

								<h4>{{ nextTaskAssignedToUserAsTeamLeaderProcessing.task_name }}{{ nextTaskAssignedToUserAsTeamLeaderProcessing.task_priority}}</h4>

								<p v-if="nextTaskAssignedToUserAsTeamLeaderProcessing.is_leader_label" class="text-primary">
									{{nextTaskAssignedToUserAsTeamLeaderProcessing.is_leader_label}}</p>

								<p class="card-text">
									{{nextTaskAssignedToUserAsTeamLeaderProcessing.task_date_start_label }}=>{{nextTaskAssignedToUserAsTeamLeaderProcessing.task_date_end_label }}
								</p>

								<p class="card-text">
									<router-link :to="{ name: 'taskOperation', params: { id: nextTaskAssignedToUserAsTeamLeaderProcessing.id } }" target="_blank" class="card-link">
													<span v-if="is_debug">task_id # {{ nextTaskAssignedToUserAsTeamLeaderProcessing.task_id
														}} ( subtask # {{ nextTaskAssignedToUserAsTeamLeaderProcessing.id }} )
														task_priority::{{ nextTaskAssignedToUserAsTeamLeaderProcessing.task_priority }}
													</span>
										Open
									</router-link>
								</p>

							</section>
						</div>

					</div>
				</div> <!-- <div class="card" v-show="tasksAssignedToUserAsTeamLeaderProcessingList.length > 0"> -->


				<div class="card" v-show="tasksAssignedToUserAsTeamLeaderCheckingList.length > 0">
					<div class="card-header" id="heading_checking_tasks_your_tasks_as_team_leader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapse_checking_tasks_your_tasks_as_team_leader" aria-expanded="true"
							        aria-controls="collapse_checking_tasks_your_tasks_as_team_leader">
								<strong>Checking Tasks({{ tasksAssignedToUserAsTeamLeaderCheckingList.length}})</strong>
							</button>
						</h5>
					</div>

					<div id="collapse_checking_tasks_your_tasks_as_team_leader" class="collapse show" aria-labelledby="heading_checking_tasks_your_tasks_as_team_leader"
					     data-parent="#accordion">

						<div class="card" v-for="nextTaskAssignedToUserAsTeamLeaderChecking, index in tasksAssignedToUserAsTeamLeaderCheckingList"
						     v-bind:style="getPriorityColor(nextTaskAssignedToUserAsTeamLeaderChecking.task_priority)">
							<section class="ml-5 mr-5">

								<h4>{{ nextTaskAssignedToUserAsTeamLeaderChecking.task_name }}{{ nextTaskAssignedToUserAsTeamLeaderChecking.task_priority}}</h4>

								<p v-if="nextTaskAssignedToUserAsTeamLeaderChecking.is_leader_label" class="text-primary">
									{{nextTaskAssignedToUserAsTeamLeaderChecking.is_leader_label}}</p>

								<p class="card-text">
									{{nextTaskAssignedToUserAsTeamLeaderChecking.task_date_start_label }}=>{{nextTaskAssignedToUserAsTeamLeaderChecking.task_date_end_label }}
								</p>

								<p class="card-text">
									<router-link :to="{ name: 'taskOperation', params: { id: nextTaskAssignedToUserAsTeamLeaderChecking.id } }" target="_blank" class="card-link">
													<span v-if="is_debug">task_id # {{ nextTaskAssignedToUserAsTeamLeaderChecking.task_id
														}} ( subtask # {{ nextTaskAssignedToUserAsTeamLeaderChecking.id }} )
														task_priority::{{ nextTaskAssignedToUserAsTeamLeaderChecking.task_priority }}
													</span>
										Open
									</router-link>
								</p>

							</section>
						</div>

					</div>
				</div>   <!-- <div class="card" v-show="tasksAssignedToUserAsTeamLeaderCheckingList.length > 0"> -->


			</div> <!-- <div id="accordion_your_tasks_as_team_leader"> -->


		</fieldset> <!-- FIELDSET YOUR TASKS AS TEAM LEADER BLOCK END -->


		<fieldset>  <!-- FIELDSET YOUR TASKS FOR ALL USERS BLOCK BEGIN -->
			<legend>Tasks for all users</legend>

			<div id="accordion_your_tasks_for_all_users">

				<div class="card" v-show="forAdminAssigningTasksAssignedToUserList.length > 0">
					<div class="card-header" id="heading_assigning_tasks_your_tasks_for_all_users">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapse_assigning_tasks_your_tasks_for_all_users" aria-expanded="true"
							        aria-controls="collapse_assigning_tasks_your_tasks_for_all_users">
								<strong>New Assigned Tasks({{ forAdminAssigningTasksAssignedToUserList.length}})</strong>
							</button>
						</h5>
					</div>

					<div id="collapse_assigning_tasks_your_tasks_for_all_users" class="collapse show" aria-labelledby="heading_assigning_tasks_your_tasks_for_all_users"
					     data-parent="#accordion">

						<div class="card" v-for="nextForAdminAssigningTasksAssignedToUser, index in forAdminAssigningTasksAssignedToUserList"
						     v-bind:style="getPriorityColor(nextForAdminAssigningTasksAssignedToUser.task_priority)">
							<section class="ml-5 mr-5">

								<p class="card-text">
									<router-link :to="{name: 'userProfileView', params: {id: nextForAdminAssigningTasksAssignedToUser.user_id} }"  target="_blank" class="card-link">
										<span v-if="is_debug">{{nextForAdminAssigningTasksAssignedToUser.user_id }}=</span>
										{{ nextForAdminAssigningTasksAssignedToUser.user_first_name
										}} {{ nextForAdminAssigningTasksAssignedToUser.user_last_name }}
									</router-link>&nbsp;&nbsp;
								</p>

								<h4>{{ nextForAdminAssigningTasksAssignedToUser.task_name }}{{ nextForAdminAssigningTasksAssignedToUser.task_priority}}</h4>

								<p v-if="nextForAdminAssigningTasksAssignedToUser.is_leader_label" class="text-primary">
									{{nextForAdminAssigningTasksAssignedToUser.is_leader_label}}</p>

								<p class="card-text">
									{{nextForAdminAssigningTasksAssignedToUser.task_date_start_label }}=>{{nextForAdminAssigningTasksAssignedToUser.task_date_end_label }}
								</p>

								<p class="card-text">
									<router-link :to="{ name: 'taskOperation', params: { id: nextForAdminAssigningTasksAssignedToUser.id } }" target="_blank" class="card-link">
													<span v-if="is_debug">task_id # {{ nextForAdminAssigningTasksAssignedToUser.task_id
														}} ( subtask # {{ nextForAdminAssigningTasksAssignedToUser.id }} )
														task_priority::{{ nextForAdminAssigningTasksAssignedToUser.task_priority }}
													</span>
										Open
									</router-link>
								</p>

							</section>
						</div>

					</div>
				</div>  <!-- <div class="card" v-show="forAdminAssigningTasksAssignedToUserList.length > 0"> -->
			</div>


		</fieldset>  <!-- FIELDSET YOUR TASKS FOR ALL USERS BLOCK END -->


	</section> <!-- class="card" -->
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    Vue.component('editor-header', require('../../components/lib/EditorHeader.vue'));
    Vue.component('editor-buttons', require('../../components/lib/EditorButtons.vue'));
    export default {
        created() {

        },

        mixins: [appMixin],

        mounted() {
            this.default_block = this.$route.params.default_block // https://stackoverflow.com/questions/42645964/vue-js-anchor-to-div-within-the-same-component
//            alert( " created this.default_block:: "+this.default_block+"  this.$route.params ::"+var_dump(this.$route.params) )
//            this.goToNamedRef('porto', Vue)
            this.loadDashboardData()
        }, // mounted() {


        data: function () {
            return {
                header_title: 'Dashboard',
                is_page_loaded: false,
                assigningTasksAssignedToUserList: [],
                checkingTasksAssignedToUserList: [],
                processingTasksAssignedToUserList: [],

                tasksAssignedToUserAsTeamLeaderAssigningList: [],
                tasksAssignedToUserAsTeamLeaderProcessingList: [],
                tasksAssignedToUserAsTeamLeaderCheckingList: [],

                forAdminAssigningTasksAssignedToUserList: [],
                forAdminProcessingTasksAssignedToUserList: [],
                forAdminCheckingTasksAssignedToUserList: [],

                activeUserChatsList: [],
                yourActiveUserChatsList: [],
                yourClosedUserChatsList: [],
                yourEventUsersArray: [],

                message: '',
                default_block: '',
                loggedUserProfile: {},
                loggedUserInGroups: [],
                is_admin: false,
                is_manager: false,
                resources_block_is_visible: false,
                is_debug: true,
                is_ref_name_debug: false,
                eventUsersByDayArray: [],
                view_day_formatted: '',
                view_day_formatted_pickdate: '',
                day_is_past: '',

            }
        }, // data: function () {

        computed: {}, // computed: {


        methods: {

            loadDashboardData() {
                this.message = '';
                this.is_page_loaded = false

                axios.get(window.API_VERSION_LINK + '/dashboard_profile_data').then((response) => {
//                    alert( "response.data::"+var_dump(response.data) )
                    if (response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true

                    this.yourEventUsersArray = response.data.yourEventUsersArray;
//                    return;
                    this.assigningTasksAssignedToUserList = response.data.assigningTasksAssignedToUserList;
                    this.processingTasksAssignedToUserList = response.data.processingTasksAssignedToUserList;
                    this.checkingTasksAssignedToUserList = response.data.checkingTasksAssignedToUserList;

                    this.tasksAssignedToUserAsTeamLeaderAssigningList = response.data.tasksAssignedToUserAsTeamLeaderAssigningList;
                    this.tasksAssignedToUserAsTeamLeaderProcessingList = response.data.tasksAssignedToUserAsTeamLeaderProcessingList;
                    this.tasksAssignedToUserAsTeamLeaderCheckingList = response.data.tasksAssignedToUserAsTeamLeaderCheckingList;

                    this.forAdminAssigningTasksAssignedToUserList = response.data.forAdminAssigningTasksAssignedToUserList;
                    this.forAdminProcessingTasksAssignedToUserList = response.data.forAdminProcessingTasksAssignedToUserList;
                    this.forAdminCheckingTasksAssignedToUserList = response.data.forAdminCheckingTasksAssignedToUserList;
                    this.activeUserChatsList = response.data.activeUserChatsList;
                    this.yourActiveUserChatsList = response.data.yourActiveUserChatsList;
                    this.yourClosedUserChatsList = response.data.yourClosedUserChatsList;
                    this.setAppTitle(this.header_title, false);
                    bus.$emit('pageOpenedEvent', 'dashboard', 'listing', true, []);
//                    bus.$emit('moveToRefEvent', 'porto' );

//                    alert( "this.forAdminAssigningTasksAssignedToUserList::"+var_dump(this.forAdminAssigningTasksAssignedToUserList) )
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadDashboardData() {


        } // methods: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '-->');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
