/* color of button */

/* background color of cancel button */

/* background color of previos button */

/* $indent for image : margin, padding */

.test-device {
  background: url(/images/TasksBs4/test-device/sm.png) center center no-repeat;
  border: 0px dotted #2D27B6;
}

#wrapper {
  border: none;
  padding: 10px;
  margin: 0 0;
}

.user_todo_listing {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px dotted lightgray;
}

/* MODAL DIALOGS BLOCK START */

.modal-dialog {
  max-width: 720px;
  max-height: 820px;
  margin-top: 60px;
  background-color: white;
}

.modal-content {
  min-width: 640px;
  min-height: 820px;
  padding: 0.5em;
  margin: 0;
  /* text-align: center; */
  /* align-content: center; */
  background-color: white;
}

.modal-body {
  padding: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  max-height: 680px;
  border: 0px solid red;
  background-color: white;
}

.modal-dialog-3rows {
  max-width: 640px;
  max-height: 360px;
  position: relative;
  background-color: white;
  width: 640px;
  margin: 30px auto;
  margin-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.modal-content-3rows {
  min-width: 640px;
  min-height: 360px;
  padding: 0.5em;
  position: relative;
  background-color: white;
  border: 1px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-body-3rows {
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  max-height: 310px;
  border: 0px solid red;
  background-color: white;
}

.modal-dialog-4rows {
  max-width: 720px;
  max-height: 420px;
  position: relative;
  background-color: white;
  width: 640px;
  margin: 30px auto;
  margin-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.modal-content-4rows {
  min-width: 640px;
  min-height: 420px;
  padding: 0.5em;
  position: relative;
  background-color: white;
  border: 1px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-body-4rows {
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  max-height: 380px;
  border: 0px solid red;
  background-color: white;
}

.modal-dialog-7rows {
  max-width: 640px;
  max-height: 820px;
  position: relative;
  background-color: white;
  width: 640px;
  margin: 30px auto;
  margin-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.modal-content-7rows {
  min-width: 640px;
  min-height: 820px;
  /* border: 0px red; */
  padding: 0.5em;
  /* text-align: center; */
  position: relative;
  background-color: white;
  border: 1px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-content-full-width {
  min-width: 768px;
  min-height: 1000px;
  border: 0px red;
  padding: 0.5em;
  margin: auto;
  margin-top: 30px;
  background-color: white;
}

.modal-dialog-full-width {
  max-width: 768px;
  max-height: 1000px;
  margin-top: 30px;
  background-color: white;
}

.modal-body-full-width {
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  max-height: 940px;
  border: 0px solid red;
  background-color: white;
}

.modal-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.modal-title {
  font-size: large;
}

/* MODAL DIALOGS BLOCK END */

