/* color of button */

/* background color of cancel button */

/* background color of previos button */

/* $indent for image : margin, padding */

.test-device {
  background: url(/images/TasksBs4/test-device/xs600.png) center center no-repeat;
  border: 0 dotted #E90E0E;
}

.user_todo_listing {
  max-height: 880px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px dotted lightgray;
}

/* FORMS BLOCK START */

#wrapper {
  border: none;
  padding: 8px;
  margin: 0 0;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-group {
  margin-left: 0;
  margin-right: 0;
}

.white-box,
.col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

/* FORMS BLOCK END */

/* MODAL DIALOGS BLOCK START */

.modal-dialog {
  /* width: 800px; */
  max-width: 580px;
  max-height: 940px;
  margin-top: 30px !important;
}

.modal-content {
  min-width: 580px;
  min-height: 940px;
  /* border: 0px red; */
  padding: 0.5em;
  margin: 0;
  background-color: white;
}

.modal-body {
  padding: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 800px;
  border-bottom-color: white;
}

.modal-dialog-3rows {
  max-width: 520px;
  max-height: 440px;
  position: relative;
  margin: auto;
  margin-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.modal-content-3rows {
  min-width: 540px;
  min-height: 440px;
  padding: 0.5em;
  position: relative;
  background-color: white;
  border: 5px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-body-3rows {
  padding: 0.5em;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  border: 0px solid red;
  background-color: white;
}

.modal-dialog-4rows {
  max-width: 520px;
  max-height: 910px;
  position: relative;
  margin: auto;
  margin-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.modal-dialog-7rows {
  max-width: 520px;
  max-height: 840px;
  position: relative;
  margin: auto;
  margin-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.modal-title {
  font-size: medium;
}

.modal-content-4rows {
  min-width: 540px;
  min-height: 910px;
  padding: 0.5em;
  position: relative;
  background-color: white;
  border: 5px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-content-7rows {
  min-width: 540px;
  min-height: 840px;
  /* border: 0px red; */
  padding: 0.5em;
  /* text-align: center; */
  position: relative;
  background-color: white;
  border: 5px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

/*
.modal-dialog-full-width {
  padding:  $indent_sm;
  width: 590px;
  background-color: $background_color;
  margin: 20px auto;
}


.modal-content-full-width {
  width: 590px;
  border: 0 magenta;
  padding: $indent_xs_2;
  margin: 0;
} */

.modal-content-full-width {
  min-width: 600px;
  min-height: 980px;
  border: 0px red;
  padding: 0.5em;
  margin: auto;
  background-color: white;
}

.modal-dialog-full-width {
  max-width: 600px;
  max-height: 980px;
  margin-top: 20px;
  background-color: white;
}

.modal-body-full-width {
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  max-height: 840px;
  border: 0px solid red;
  background-color: white;
}

.modal-body {
  padding: 0.3em;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  max-height: 800px;
  border: 0px solid red;
  background-color: white;
}

.modal-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* MODAL DIALOGS BLOCK END */

