<template>
	<section class="card col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">

		<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('user_task_type')" :header_title=header_title
		               :message=message></editor-header>

		<section class="card-body">
			<form @submit.prevent="validateBeforeSubmit">

				<!--<div class="form-row mb-3" v-if="!is_insert">-->
				<!--<label class="col-xs-12 col-sm-4 col-form-label">ID</label>-->
				<!--<div class="col-xs-12 col-sm-8">-->
				<!--<input type="text" v-model="event.id" class="form-control integer_input" readonly>-->
				<!--</div>-->
				<!--</div>-->

				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-xs-12 col-sm-4 col-form-label">ID</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" v-model="userTaskType.id" class="form-control integer_input" readonly>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="name">Name<span class="required"> * </span></label>
					<div class="col-xs-12 col-sm-8">
						<input name="name" id="name" v-validate="'required|max:50'" type="text" v-model="userTaskType.name" :class="{ 'form-control':true, 'input': true,
								'text-danger': vueErrorsList.has('name') }" placeholder="Enter unique name of user's task type">
						<span v-show="vueErrorsList.has('name')" class="text-danger">{{ vueErrorsList.first('name') }}</span>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="user_task_type_content">Description<span class="required"> * </span><br>
						<small style="font-weight: normal">Markdown format</small>
					</label>
					<div class="col-xs-12 col-sm-8">
						<markdown-editor :content="userTaskType.description" :editor_type="'user_task_type'" :unique_id="user_task_type_id" :how_short_help_text=true
						                 :show_full_help_link=true :show_validation_span="true"></markdown-editor>
					</div>
				</div>


				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-xs-12 col-sm-4 col-form-label">Created at</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" v-model="userTaskType.created_at_label" class="form-control" readonly>
					</div>
				</div>

				<editor-buttons :submit_label="submit_label" cancel_label="Cancel" :cancel_link="'#/admin/user_task_types'" :is_page_updating="is_page_updating"></editor-buttons>
				
			</form>

		</section> <!-- class="card-body" -->


	</section>  <!-- class="card" -->

</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    Vue.component('markdown-editor', require('../../components/lib/MarkdownEditor.vue'));
    Vue.component('editor-header', require('../../components/lib/EditorHeader.vue'));
    Vue.component('editor-buttons', require('../../components/lib/EditorButtons.vue'));

    export default {
        created() {
            if (this.$route.params.id == "new") {
                this.is_insert = true
                this.user_task_type_id = "new"
                this.submit_label = "Add"
            } else {
                this.user_task_type_id = this.$route.params.id
            }
            bus.$on('MarkdownEditorModifiedEvent', (editor_content, editor_type, unique_id) => {
//                alert( "MarkdownEditorModifiedEvent  editor_content::"+(editor_content) +"  editor_type::"+editor_type + "  unique_id::"+unique_id )
                if (editor_type == 'user_task_type' && ( ( unique_id == this.userTaskType.id && !this.is_insert ) || ( unique_id == "new" && this.is_insert ) )) {
                    this.userTaskType.description = editor_content;
                }
            })
            this.$validator.localize(window.CURRENT_LANG, {
                attributes: {
                    user_task_type_content: 'description',
                }
            });

        },

        mixins: [appMixin],

        mounted() {
//            alert( "mounted this.$route.params.id::"+(this.$route.params.id) +"  user_task_type_id::"+this.user_task_type_id + "  this.is_insert::"+this.is_insert )
            if (!this.is_insert) { // retrieve row for editing
                this.loadUserTaskType();
            } else {
                this.is_page_loaded = true
            }
            this.setAppTitle(this.header_title, false);
            bus.$emit('pageOpenedEvent', 'user_task_types', 'editor', true, []);
        }, // mounted() {


        data: function () {
            return {
                is_page_loaded: false,
                is_page_updating: false,
                is_insert: false,
                submit_label: "Update",
                user_task_type_id: null,
                userTaskType: {
                    name: '',
                    description: '',
                },
                message: '',
            }
        },

        computed: {

            header_title: function () {
                if (!this.is_insert) return "Edit user type task";
                return "Add user type task";
            },

        }, // computed: {


        methods: {

            loadUserTaskType() {
//                alert( "loadUserTaskType  this.user_task_type_id::"+(this.user_task_type_id) )
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/user_task_types/' + this.user_task_type_id).then((response) => {
                    this.is_page_loaded = true
//	                alert( "response.data.userTaskType::"+var_dump(response.data.userTaskType) )
                    this.userTaskType = response.data.userTaskType;
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadUserTaskType() {

            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateUserTaskType()
                    } else {
                        bus.$emit('editorValidationFail', 'user_task_type', this.user_task_type_id);
                        this.showPopupMessage('Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' user\'s task type. ', 'error');
                    }
                })
            }, // validateBeforeSubmit() {

            updateUserTaskType() {
                this.is_page_updating = true
//	            alert( "this.is_insert::"+(this.is_insert) )
                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: window.API_VERSION_LINK + '/user_task_types' + ( !this.is_insert ? "/" + this.user_task_type_id : ''),
                    data: this.userTaskType,
                }).then((response) => {
                    this.is_page_updating = false
                    this.$router.push({path: '/admin/user_task_types'});
                    this.showPopupMessage('User\'s task type ' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully. ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' user\'s task type. ', 'error');
                });

            } // updateUserTaskType() {

        }
    }
</script>
