<template>
	<section>

		<h4 >Operations on this task</h4>
		<div v-if="is_debug">
			taskOperationHistoryList{{ taskOperationHistoryList}}
		</div>

		<div v-if="taskOperationHistoryList.length > 0" class="task_operation_history_block">
			<ul class="list-group">

				<li v-for="nextTaskOperationHistory, index in taskOperationHistoryList" class="list-group-item">
					<span v-if="show_operation_username">
					<router-link :to="{name: 'userProfileView', params: {id: nextTaskOperationHistory.user_id} }" >
						{{ showFullUserName(nextTaskOperationHistory.username, nextTaskOperationHistory.first_name, nextTaskOperationHistory.last_name) }},
					</router-link>
					</span>
					<span v-if="show_prior_status">from {{ nextTaskOperationHistory.prior_status_label}} to </span>
					<b>{{ nextTaskOperationHistory.status_label }}</b> on
					{{ nextTaskOperationHistory.created_at_label }}
					<p class="text-info">
						<span v-html="nl2br(nextTaskOperationHistory.info)"></span>
					</p>
				</li>

			</ul>
		</div>

	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    export default {
        props: {
            filter_id: {
                required: false,
            },
            request_type: {
                type: String,
                required: true,
            },
            show_prior_status: {
                type: Boolean,
                required: false,
                default: false
            },
            show_operation_username: {
                type: Boolean,
                required: false,
                default: true
            },

        },

        mixins: [appMixin],

        mounted() {
            this.loadTaskOperationsHistory()

            bus.$on('refreshTaskOperationEvent', (filter_id, request_type) => {
                if ( this.request_type == request_type && ( ( this.filter_id == filter_id  ) ) ) {
                    this.loadTaskOperationsHistory()
                }
            })

        },  // mounted() {

        data() {
            return {
                taskOperationHistoryList: {},
                is_debug: false,
            }
        }, // data(){

        methods: {

            loadTaskOperationsHistory() {
                axios.post(window.API_VERSION_LINK + '/load_task_operations_history/' + this.request_type + '/' + this.filter_id).then((response) => {
                    this.taskOperationHistoryList = response.data.taskOperationHistoryList;
                    bus.$emit('setTaskOperationHistoryListCountEvent', this.taskOperationHistoryList.length );
                }).catch((error) => {
                    this.showPopupMessage('Error loading task\' operations history.', 'error');
                    this.showRunTimeError(error, this);
                });
            }, // loadTaskOperationsHistory() {
	        
        } // methods:{

    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>

<style scoped lang="css">
	[v-cloak] { display: none; }

	.task_operation_history_block {
		max-height: 480px;
		overflow-y: scroll;
		padding: 5px;
		border: 1px dotted grey;
	}
</style>