<template>
	<section>

		<h4 >Status changes on this task</h4>
		<div v-if="is_debug">
			taskStatusChangesHistoryList{{ taskStatusChangesHistoryList}}
		</div>

		<div v-if="taskStatusChangesHistoryList.length > 0">
			<ul class="list-group">

				<li v-for="nextTaskStatusChangesHistory, index in taskStatusChangesHistoryList" class="list-group-item">
					<span v-if="show_status_change_username">
					<router-link :to="{name: 'userProfileView', params: {id: nextTaskStatusChangesHistory.user_id} }" >
						{{ showFullUserName(nextTaskStatusChangesHistory.username, nextTaskStatusChangesHistory.first_name, nextTaskStatusChangesHistory.last_name) }},
					</router-link>
					</span>
					<span v-if="show_prior_status">{{ nextTaskStatusChangesHistory.prior_status_label}}=></span>
					{{ nextTaskStatusChangesHistory.status_label}} on
					{{ nextTaskStatusChangesHistory.created_at_label}}<br>
					{{ nextTaskStatusChangesHistory.info}}
				</li>

			</ul>
		</div>

	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';


    export default {
        props: {
            filter_id: {
                required: false,
            },
            request_type: {
                type: String,
                required: true,
            },
            show_prior_status: {
                type: Boolean,
                required: false,
                default: false
            },
            show_status_change_username: {
                type: Boolean,
                required: false,
                default: true
            },

        },

        mixins: [appMixin],

        mounted() {
            this.loadTaskStatusChangesHistory()
            bus.$on('refreshTaskStatusEvent', (filter_id, request_type) => {
                if ( this.request_type == request_type && ( ( this.filter_id == filter_id  ) ) ) {
                    this.loadTaskStatusChangesHistory()
                }
            })
	        
        },  // mounted() {

        data() {
            return {
                taskStatusChangesHistoryList: {},
                is_debug: false,
            }
        }, // data(){

        methods: {

            loadTaskStatusChangesHistory() {
                axios.post(window.API_VERSION_LINK + '/load_task_status_changes_history/' + this.request_type + '/' + this.filter_id).then((response) => {
                    this.taskStatusChangesHistoryList = response.data.taskStatusChangesHistoryList;
                    bus.$emit('setTaskStatusChangesHistoryListCountEvent', this.taskStatusChangesHistoryList.length );
                }).catch((error) => {
                    this.showPopupMessage('Error loading task\'s status changes history.', 'error');
                    this.showRunTimeError(error, this);
                });
            }, // loadTaskStatusChangesHistory() {


        } // methods:{

    }


</script>

