<template>
	<section class="card ">

		<!-- CREATE USER CHAT FOR THIS TASK MODAL START -->
		<div class="modal fade" id="create-user-chat-for-this-task" tabindex="-1" role="dialog" aria-labelledby="create-user-chat-for-this-task-label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<!--newUserChat::{{ newUserChat }}-->
					<div class="modal-header">
						<h4 class="modal-title" id="create-user-chat-for-this-task-label">Create new chat for this task</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					</div>

					<div class="modal-body">

						<div v-if="new_user_chat_message" class="col-sm-12 text-danger">
							<center><span v-html="new_user_chat_message"></span></center>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label" for="new_user_chat_name">New chat's name<span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<input v-model="newUserChat.name" :class="{ 'form-control':true, 'input': true }" name="new_user_chat_name" id="new_user_chat_name"
								       type="text" placeholder="New user chat's name">
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label" for="new_user_chat_status">New chat's status
								<span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<input id="new_user_chat_status" type="text" v-model="newUserChat.status_label" class="form-control string_input" readonly>
							</div>
						</div>

						<div class="form-row mb-3">
							<!--taskSelectionList::{{ taskSelectionList }}<br>-->
							<!--selection_task_id::{{ selection_task_id }}-->
							<label class="col-xs-12 col-sm-4 col-form-label" for="new_user_chat_task_name">Task
							</label>
							<div class="col-xs-12 col-sm-8">
								<input id="new_user_chat_task_name" type="text" v-model="newUserChat.task_name" class="form-control string_input" readonly>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label" for="new_user_chat_content">Description <span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<markdown-editor :content="''" :editor_type="'new_user_chat'" :unique_id="task_id" :validate_textarea="false"
								                 :how_short_help_text=true :show_full_help_link=true></markdown-editor>
							</div>
						</div>

						<div v-for="nextActiveUser, index in filteredActiveParticipatingUsersArray" v-bind:id="nextActiveUser.id" class="col-xs-12 ">

							<div class="form-row mb-3">
								<label class="col-xs-12 col-sm-4 col-form-label text-right">
									{{ nextActiveUser.id }}=>{{ nextActiveUser.name }} :<br>
								</label>

								<div class="col-xs-12 col-sm-8">
									<select v-model="nextActiveUser.participant_status" class="form-control ">
										<option value="" selected> Select participation </option>
										<option v-for="nextUserChatParticipant, index in userChatParticipantStatusSelectionList"
										        v-bind:value="nextUserChatParticipant.key">{{ nextUserChatParticipant.label }}
										</option>
									</select>
								</div>

							</div>

						</div>

					</div> <!-- modal-body -->

					<div class="modal-footer">
						<div class="btn-group float-right">
							<span v-if="!chat_reopen_on_saving">&nbsp;Reopen New</span>
							<el-checkbox v-model="chat_reopen_on_saving" size="medium" border>
								<span v-if="chat_reopen_on_saving">Would be reopened on saving</span>
							</el-checkbox>

							<button type="button" @click.prevent="createUserChatForTask()" class="btn btn-primary mr-3">
								<i class="fa fa-save"></i>&nbsp;Create
							</button>
							<button type="button" @click="cancelUserChatForTask()" class="btn btn-cancel-action">
								<i class="fa fa-remove"></i>&nbsp;Cancel
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- CREATE USER CHAT FOR THIS TASK MODAL END -->


		<!-- CHANGE TASK STATUS MODAL START-->
		<div class="modal fade" id="change_task_status_dialog" tabindex="-1" role="dialog" aria-labelledby="change_task_status_dialog_label">
			<div class="modal-dialog" role="document">
				<div class="modal-content col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">


					<div class="modal-header">
						<h4 class="modal-title" id="change_task_status_dialog_label"> Changing status of this task</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>


					<div class="modal-body">
						<div v-if="change_task_status_dialog_to_status == 'A'">
							<p class="text-info p-3">
								Please, confirm, that you set status of this task to "Assigning",<br> so employees would have to accept/cancel their subtasks.
							</p>
						</div>
						<div v-if="change_task_status_dialog_to_status == 'C'">
							<p class="text-info p-3">
								Please, confirm, that you set status of this task to "Cancelled",<br> so employees would have to stop working on this task.
							</p>
						</div>
						<div v-if="change_task_status_dialog_to_status == 'P'">
							<p class="text-info p-3">
								Please, confirm, that you set status of this task to "Processing",<br> so employees would start working on this task.
							</p>
						</div>

						<div v-if="change_task_status_dialog_to_status == 'K'">
							<p class="text-info p-3">
								Please, confirm, that you set status of this task to "Checking",<br> so team leader of this task would check this task.
							</p>
						</div>

						<div v-if="change_task_status_dialog_to_status == 'O'">
							<p class="text-info p-3">
								Please, confirm, that you set status of this task to "Completed",<br> so employees would not continue working on this task.
							</p>
						</div>

						<div class="text-info p-3">
							You can add info
							<small class="form-text text-muted">Optional</small>
							<textarea rows="6" class="form-control" v-model="change_task_status_dialog_info"></textarea>
						</div>
					</div> <!-- modal-body -->


					<div class="modal-footer">
						<div class="btn-group float-right">
							<button type="button" @click.prevent="updateChangeTaskStatus()" class="btn btn-primary mr-3" >
								<i class="fa fa-save"></i>&nbsp;Change status
							</button>
							<button type="button" @click.prevent="cancelChangeTaskStatusDialog()" class="btn btn-cancel-action">
								<i class="fa fa-remove"></i>&nbsp;Cancel
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- CHANGE TASK STATUS MODAL END -->


		<!--newUserChat::{{ newUserChat }}-->
		<!--change_task_status_dialog_to_status::{{ change_task_status_dialog_to_status }};<br>-->
		<!--change_task_status_dialog_info::{{ change_task_status_dialog_info }};<br>-->
		<!--debugging_id::{{ debugging_id }};<br>-->
		<!--task::{{ task}}<br>-->
		<!--submit_label::{{ submit_label}}<br>-->
		<!--is_insert::{{ is_insert }}-->


		<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('task')" :header_title=header_title
		               :message=message></editor-header>

		<section class="card-body" v-if="is_page_loaded">


			<ul class="nav nav-tabs card-header-tabs">
				<!--userChatParticipantStatusSelectionList::{{ userChatParticipantStatusSelectionList}}-->
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#details">Details</a>
				</li>

				<li class="nav-item" v-if="!is_insert">
					<a class="nav-link" data-toggle="tab" href="#tab_task_status_changes_history">
						Status changes history
						<span v-if="task_status_changes_history_list_count">( {{ task_status_changes_history_list_count }} )</span>
					</a>
				</li>

				<li class="nav-item" v-if="!is_insert">
					<a class="nav-link" data-toggle="tab" href="#tab_task_operation_history">
						Operations history
						<span v-if="task_operation_history_list_count">( {{ task_operation_history_list_count }} )</span>
					</a>
				</li>

				<li class="nav-item" v-if="!is_insert">
					<a class="nav-link" data-toggle="tab" href="#tab_user_chats">
						Related chats
						<span v-if="relatedUser_chats_list_count">( {{ relatedUser_chats_list_count }} )</span>
					</a>
				</li>

				<li class="nav-item" v-if="!is_insert">
					<a class="nav-link" data-toggle="tab" href="#tab_events">
						Related events
						<span v-if="relatedUser_chats_list_count">( {{ relatedUser_chats_list_count }} )</span>
					</a>
				</li>
			</ul>

			<div class="tab-content">
				<div id="details" class="tab-pane container active pt-3">
					<form @submit.prevent="validateBeforeSubmit">

						<div class="form-row mb-3" v-if="!is_insert">
							<label class="col-xs-12 col-sm-4 col-form-label">ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="task.id" class="form-control integer_input" readonly>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label" for="name">Name<span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<input v-validate="'required|max:255'" v-model="task.name"
								       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('name') }" name="name" id="name"
								       type="text" placeholder="name">
								<span v-show="vueErrorsList.has('name')" class="text-danger">{{ vueErrorsList.first('name') }}</span>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label" for="category_id">Category<span class="required"> * </span></label>
							<!--selection_category_id:;{{ selection_category_id }}<br>-->
							<!--category_id:;{{ category_id }}<br>-->
							<!--vueErrorsList:{{ vueErrorsList }}-->
							<div class="col-xs-12 col-sm-8">
								<v-select data-vv-name="category_id" v-validate="'required'" id="category_id" name="category_id" v-model="selection_category_id"
								          :options=categoriesSelectionList></v-select>
								<!--<v-select data-vv-name="category_id" v-validate="'required'" id="category_id" name="category_id" v-model="selection_category_id"-->
								          <!--:options=categoriesSelectionList></v-select>-->
								<!--0000{{ vueErrorsList.first('category_id') }}111-->
								<span v-show="vueErrorsList.has('category_id')" class="text-danger">{{ vueErrorsList.first('category_id') }}</span>
							</div>
						</div>


						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label" for="priority">Priority <span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">

								<div class="input_with_btn_at_right">
									<select id="priority" name="priority" v-validate="'required'"
									        :class="{ 'form-control':true, 'errors': vueErrorsList.has('priority') }"
									        v-model="task.priority">
										<option value=""> -Select priority- </option>
										<option v-for="nextPriority, index in taskPrioritiesSelectionList" v-bind:value="nextPriority.key">{{ nextPriority.label }}
										</option>
									</select>

									<el-tag v-bind:style="priority_color">&nbsp;&nbsp;&nbsp;&nbsp;</el-tag>
								</div>
								<span v-show="vueErrorsList.has('priority')" class="text-danger">{{ vueErrorsList.first('priority') }}</span>
							</div>
						</div>

						<div class="form-row mb-3">

							<label class="col-xs-12 col-sm-4 col-form-label" for="status">Status <span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<div v-if="is_insert">
									<select id="status" name="status" v-validate="'required'" class="form-control" v-model="task.status">
										<option value=""> -Select status- </option>
										<option v-for="nextStatus, index in taskStatusSelectionList" v-bind:value="nextStatus.key">{{ nextStatus.label }}
										</option>
									</select>
									<p class="text-info">Adding new task you can set status only to "Draft" or "Assigning"</p>
								</div>

								<div v-if="!is_insert">
									<input type="text" v-model="task.status_label" class="form-control" readonly>

									<p class="text-info">
										{{ task.task_assigned_to_users_assigning_count }} assigning sub task(s),
										{{ task.task_assigned_to_users_processing_count }} processing sub task(s),
										{{ task.task_assigned_to_users_checking_count }} checking sub task(s),
									</p>

									<div class="p-3">
										<div class="row p-3" v-if="task.status != 'A' && task.status != 'C' && task.status != 'O'">
											<button class="btn btn-default-button" @click.prevent="changeTaskStatus('A','Assigning')"><i
													class="fa fa-check-circle"></i>&nbsp;Assigning
											</button>
											<h5 class="card-text pt-2">&nbsp;Set this task to "Assigning" status</h5>
										</div>

										<div class="row p-3" v-if="task.status != 'C' && task.status != 'C' && task.status != 'O'">
											<button class="btn btn-default-button" @click.prevent="changeTaskStatus('C','Cancelled')"><i
													class="fa fa-check-circle"></i>&nbsp;Cancelled
											</button>
											<h5 class="card-text pt-2">&nbsp;Set this task to "Cancelled" status</h5>
										</div>

										<div class="row p-3" v-if="task.status != 'P' && task.status != 'C' && task.status != 'O'">
											<button class="btn btn-default-button" @click.prevent="changeTaskStatus('P','Processing')"><i
													class="fa fa-check-circle"></i>&nbsp;Processing
											</button>
											<h5 class="card-text pt-2">&nbsp;Set this task to "Processing" status</h5>
										</div>

										<div class="row p-3" v-if="task.status != 'K' && task.status != 'C' && task.status != 'O'">
											<button class="btn btn-default-button" @click.prevent="changeTaskStatus('K','Checking')"><i
													class="fa fa-check-circle"></i>&nbsp;
												Checking
											</button>
											<h5 class="card-text pt-2">&nbsp;Set this task to "Checking" status</h5>
										</div>

										<div class="row p-3" v-if="task.status != 'O' && task.status != 'C' && task.status != 'O'">
											<button class="btn btn-default-button" @click.prevent="changeTaskStatus('O','Completed')"><i
													class="fa fa-check-circle"></i>&nbsp;Completed
											</button>
											<h5 class="card-text pt-2">&nbsp;Set this task to "Completed" status</h5>
										</div>

										<div class="row p-3" v-if="task.status == 'C'">
											<p class="text-info p-3">
												As this task was "Cancelled", employees can not work on this task.
											</p>
										</div>

										<div class="row p-3" v-if="task.status == 'O'">
											<p class="text-info p-3">
												As this task was "Completed", employees can not work on this task.
											</p>
										</div>

									</div>

								</div>

								<span v-show="vueErrorsList.has('status')" class="text-danger">{{ vueErrorsList.first('status') }}</span>
							</div>

						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label" for="needs_reports">Needs Reports <span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<select id="needs_reports" name="needs_reports" v-validate="'required'"
								        :class="{ 'form-control':true, 'errors': vueErrorsList.has('needs_reports') }" v-model="task.needs_reports">
									<option value=""> -Select needs reports- </option>
									<option v-for="nextNeedsReports, index in taskNeedsReportsSelectionList" v-bind:value="nextNeedsReports.key">
										{{ nextNeedsReports.label }}
									</option>
								</select>
								<span v-show="vueErrorsList.has('needs_reports')" class="text-danger">{{ vueErrorsList.first('needs_reports') }}</span>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label" for="needs_reports">Date start<span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8 pt-3">
								<datepicker v-model="task.date_start" id="date_start" :format="customFormatter" :required=true
								            :bootstrapStyling=true :clear-button=true></datepicker>
								<span v-show="vueErrorsList.has('date_start')" class="text-danger">{{ vueErrorsList.first('date_start') }}</span>
							</div>
						</div>


						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label" for="needs_reports">Date end<span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8 pt-3">
								<datepicker v-model="task.date_end" id="date_end" :format="customFormatter" :required=true :bootstrapStyling=true
								            :clear-button=true></datepicker>
								<span v-show="vueErrorsList.has('date_end')" class="text-danger">{{ vueErrorsList.first('date_end') }}</span>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-xs-12 col-sm-4 col-form-label" for="task_content">Description<span class="required"> * </span></label>
							<div class="col-xs-12 col-sm-8">
								<markdown-editor :content="task.description" :editor_type="'task'" :unique_id="task_id"
								                 :how_short_help_text=true :show_full_help_link=true></markdown-editor>
							</div>
						</div>


						<div class="form-row mb-3" v-if="!is_insert">
							<label class="col-xs-12 col-sm-4 col-form-label" for="needs_reports">Create chart for this task</label>
							<div class="col-xs-12 col-sm-8 pt-3">
								<button class="btn btn-default-button" @click.prevent="createChartForThisTask"><i class="fa fa-stack-exchange"></i>&nbsp;Select</button>
							</div>
						</div>



						<div class="form-row mb-3">


							Selected {{ selected_active_users_count }} user(s) from {{ activeUsersSelectionArray.length }} active users.
							<!--users_in_task_visible::{{ users_in_task_visible }}-->
							<p>
								<a class="a_link" v-on:click="toggleSelectedActiveUsersBlockIsVisible" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
									<i class="fa fa-angle-down a_link" title="Open/Hide preview"></i>
								</a>
							</p>
							<div class="collapse" id="collapseExample">


								<h5 class="card-title">Members</h5>

								<div class="row p-0 m-5">
									<p class=" text-muted">You can select only one user as leader of this task.</p>
									<div class="col-xs-12 col-sm-4">
										<input name="participating_filter" type="radio" value="All" v-model="participating_in_the_task_filter"> All
									</div>
									<div class="col-xs-12 col-sm-4">
										<input name="participating_filter" type="radio" value="Only_Participating" v-model="participating_in_the_task_filter">
										Only participating
									</div>
									<div class="col-xs-12 col-sm-4">
										<input name="participating_filter" type="radio" value="Only_Not_Participating" v-model="participating_in_the_task_filter">
										Only not participating
									</div>
								</div>






									<div v-if="errorsList.taskAssignedToUsersArray" class="card-subtitle mb-2 ml-3 text-danger">{{ errorsList.taskAssignedToUsersArray[0] }}</div>

									<div v-for="nextActiveUser, index in filteredActiveParticipatingUsersArray" v-bind:id="nextActiveUser.id" class="form-row mb-3 user_block">
											<label class="col-xs-12 col-sm-4 col-form-label text-right">

												<i v-popover="{ name: 'user_skills_'+nextActiveUser.id }" class="a_link">
													<i class="fa fa-info"></i>
												</i>
												<popover :name="'user_skills_'+nextActiveUser.id">
																	<span v-html="taskAssignedUserDetailsInfo(nextActiveUser) +' '+ concatStrings(nextActiveUser.userSkillsArray,
																			', ')"></span>
												</popover>
												<!--task_assigned_task_assigned_to_user_id::&nbsp;{{ nextActiveUser.task_assigned_task_assigned_to_user_id }}=>&nbsp;-->
												<!--user_id::&nbsp;{{ nextActiveUser.id }}=>-->
												{{nextActiveUser.name }}
											</label>

											<div class="col-xs-12 col-sm-4">
												<select class="form-control" v-model="nextActiveUser.task_assigned_status">
													<option value=""> Select participation </option>
													<option v-for="nextTaskAssignedToUsersStatus, index in taskAssignedToUsersStatusSelectionList"
													        v-bind:value="nextTaskAssignedToUsersStatus.key">{{ nextTaskAssignedToUsersStatus.label }}
													</option>
												</select>
											</div>

											<div class="col-xs-12 col-sm-4">
												<select class="form-control task_assigned_to_user_task_type" v-model="nextActiveUser.task_assigned_user_task_type_id">
													<option value=""> Select task type </option>
													<option v-for="nextUserTaskType, index in userTaskTypesSelectionList" v-bind:value="nextUserTaskType.key">
														{{ nextUserTaskType.label }}
													</option>
												</select>
											</div>

											<div class="col-xs-12 mt-3">
												<label class="col-xs-12 col-sm-4 col-form-label text-right">Description
													<small class="form-text text-muted"> Optional</small>
												</label>
												<div class="col-xs-12 col-sm-8">
                   								                    <textarea rows="4" class="form-control" placeholder="Enter subtask description for the selected user..."
							                                                  v-model="nextActiveUser.task_assigned_description"></textarea>
												</div>
											</div>


											<div class="col-xs-12 mt-3"
											     v-if="nextActiveUser.task_assigned_status_label || nextActiveUser.task_assigned_task_assigned_to_user_id">
												<label class="col-xs-12 col-sm-4 col-form-label text-right">Subtask status</label>
												<div class="col-xs-12 col-sm-8">
													<span><b>{{ nextActiveUser.task_assigned_status_label }}</b></span>
													<router-link :to="{ name: 'taskOperation', params: { id:nextActiveUser.task_assigned_task_assigned_to_user_id } }">
																		<span v-if="number_debugging">subtask_id # {{ nextActiveUser.task_assigned_task_assigned_to_user_id
																			}} ( subtask # {{ nextActiveUser.task_assigned_task_assigned_to_user_id }} )</span>
														Open
													</router-link>

												</div>
											</div>

									</div>

							</div>



<!--
							<h5 class="card-title">Participants<span class="required"> * </span></h5>
							<label class="col-xs-12 col-sm-4 col-form-label">
								Participants
								<span class="required"> * </span>
								<a data-toggle="a_link" v-on:click="toggleSelectedActiveUsersBlockIsVisible">
									<i class="fa fa-angle-down a_link" style="font-size:14px;"></i>
								</a>
							</label>
-->

							<!--<div class="col-xs-12 col-sm-8 collapse out " id="toggle_selected_active_users_count_block">-->
<!--							<div class="col-xs-12 col-sm-8 pt-3">
								Selected {{ selected_active_users_count }} user(s) from {{ activeUsersSelectionArray.length }} active users.

								<div :class="{ 'collapse show ':true, 'a_link':true, 'in': users_in_task_visible , 'out': !users_in_task_visible }">

									<fieldset>
										<legend>Members</legend>

										<div class="row p-0 m-5">
											<p class=" text-muted">You can select only one user as leader of this task.</p>
											<div class="col-xs-12 col-sm-4">
												<input name="participating_filter" type="radio" value="All" v-model="participating_in_the_task_filter"> All
											</div>
											<div class="col-xs-12 col-sm-4">
												<input name="participating_filter" type="radio" value="Only_Participating" v-model="participating_in_the_task_filter">
												Only participating
											</div>
											<div class="col-xs-12 col-sm-4">
												<input name="participating_filter" type="radio" value="Only_Not_Participating" v-model="participating_in_the_task_filter">
												Only not participating
											</div>
										</div>


										<div v-if="errorsList.taskAssignedToUsersArray" class="text-danger">{{ errorsList.taskAssignedToUsersArray[0] }}</div>

										<div v-for="nextActiveUser, index in filteredActiveParticipatingUsersArray" v-bind:id="nextActiveUser.id" class="col-xs-12 ">
											<div class="row user_block">
												<label class="col-xs-12 col-sm-4 col-form-label text-right">

													<i v-popover="{ name: 'user_skills_'+nextActiveUser.id }" class="a_link">
														<i class="fa fa-info"></i>
													</i>
													<popover :name="'user_skills_'+nextActiveUser.id">
																	<span v-html="taskAssignedUserDetailsInfo(nextActiveUser) +' '+ concatStrings(nextActiveUser.userSkillsArray,
																			', ')"></span>
													</popover>
													&lt;!&ndash;task_assigned_task_assigned_to_user_id::&nbsp;{{ nextActiveUser.task_assigned_task_assigned_to_user_id }}=>&nbsp;&ndash;&gt;
													&lt;!&ndash;user_id::&nbsp;{{ nextActiveUser.id }}=>&ndash;&gt;
													{{nextActiveUser.name }}
												</label>

												<div class="col-xs-12 col-sm-4">
													<select class="form-control" v-model="nextActiveUser.task_assigned_status">
														<option value=""> Select participation </option>
														<option v-for="nextTaskAssignedToUsersStatus, index in taskAssignedToUsersStatusSelectionList"
														        v-bind:value="nextTaskAssignedToUsersStatus.key">{{ nextTaskAssignedToUsersStatus.label }}
														</option>
													</select>
												</div>

												<div class="col-xs-12 col-sm-4">
													<select class="form-control task_assigned_to_user_task_type" v-model="nextActiveUser.task_assigned_user_task_type_id">
														<option value=""> Select task type </option>
														<option v-for="nextUserTaskType, index in userTaskTypesSelectionList" v-bind:value="nextUserTaskType.key">
															{{ nextUserTaskType.label }}
														</option>
													</select>
												</div>

												<div class="col-xs-12 mt-3">
													<label class="col-xs-12 col-sm-4 col-form-label text-right">Description
														<small class="form-text text-muted"> Optional</small>
													</label>
													<div class="col-xs-12 col-sm-8">
                   								                    <textarea rows="4" class="form-control" placeholder="Enter subtask description for the selected user..."
							                                                  v-model="nextActiveUser.task_assigned_description"></textarea>
													</div>
												</div>


												<div class="col-xs-12 mt-3"
												     v-if="nextActiveUser.task_assigned_status_label || nextActiveUser.task_assigned_task_assigned_to_user_id">
													<label class="col-xs-12 col-sm-4 col-form-label text-right">Subtask status</label>
													<div class="col-xs-12 col-sm-8">
														<span><b>{{ nextActiveUser.task_assigned_status_label }}</b></span>
														<router-link :to="{ name: 'taskOperation', params: { id:nextActiveUser.task_assigned_task_assigned_to_user_id } }">
																		<span v-if="number_debugging">subtask_id # {{ nextActiveUser.task_assigned_task_assigned_to_user_id
																			}} ( subtask # {{ nextActiveUser.task_assigned_task_assigned_to_user_id }} )</span>
															Open
														</router-link>

													</div>
												</div>

											</div>
										</div>
									</fieldset>

								</div>
							</div>

							-->

						</div>


						<div class="form-row mb-3" v-if="!is_insert">
							<label class="col-xs-12 col-sm-4 col-form-label">Created at</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="task.created_at_label" class="form-control" readonly>
							</div>
						</div>

						<div class="form-row mb-3" v-if="!is_insert">
							<label class="col-xs-12 col-sm-4 col-form-label">Updated at</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" v-model="task.updated_at_label" class="form-control" readonly>
							</div>
						</div>


						<editor-buttons :submit_label="submit_label" :cancel_label="'Cancel'" :cancel_link="'#/admin/tasks'"
						                :is_page_updating="is_page_updating"></editor-buttons>

						<a @click="removeTask" class="a_link" v-if="!is_insert">DELETE</a>
					</form>

				</div> <!-- <div id="details" -->

				<div id="tab_task_status_changes_history" class="tab-pane container fade pt-3" v-if="!is_insert">
					<task-status-changes-history :request_type="'by_task_id'" :filter_id="task_id" :show_prior_status="true" :show_operation_username="true">
					</task-status-changes-history>
				</div> <!-- <div id="tab_task_status_changes_history" -->

				<div id="tab_task_operation_history" class="tab-pane container fade pt-3 pt-3" v-if="!is_insert">
					<task-operation-history :request_type="'by_task_id'" :filter_id="task_id" :show_prior_status="true" :show_operation_username="true">
					</task-operation-history>
				</div> <!-- <div id="tab_task_operation_history" -->

				<div id="tab_user_chats" class="tab-pane container fade pt-3">
					<in-task-user-chats-listing :request_type="'by_task_id'" :filter_id="task_id" v-if="!is_insert">
					</in-task-user-chats-listing>
				</div> <!-- <div id="user-chats-listing" -->

				<div id="tab_events" class="tab-pane container fade">
					<in-task-events-listing :request_type="'by_task_id'" :filter_id="task_id" v-if="!is_insert">
					</in-task-events-listing>
				</div> <!-- <div id="in-task-events-listing" -->

			</div> <!-- <div class="tab-content"> -->


		</section>   <!-- class="card-body" -->


	</section> <!-- class="card" -->
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import Datepicker from 'vuejs-datepicker';

    import vSelect from 'vue-select'

    Vue.component('v-select', vSelect) // https://github.com/sagalbot/vue-select
    import moment from 'moment';


    Vue.component('markdown-editor', require('../../components/lib/MarkdownEditor.vue'));
    Vue.component('task-operation-history', require('../../components/tasks/TaskOperationHistory.vue'));
    Vue.component('task-status-changes-history', require('../../components/tasks/TaskStatusChangesHistory.vue')); // task-status-changes-history
    Vue.component('in-task-user-chats-listing', require('../../components/user_chats/InTaskUserChatsListing.vue'));
    //resources/assets/js/components/user_chats/UserChatsListing.vue
    Vue.component('in-task-events-listing', require('../../components/events/InTaskEventsListing.vue'));
    Vue.component('editor-header', require('../../components/lib/EditorHeader.vue'));
    Vue.component('editor-buttons', require('../../components/lib/EditorButtons.vue'));


    export default {
        components: {
            Datepicker
        },

        created() {
            if (this.$route.params.id == "new") {
                this.is_insert = true
                this.task_id = "new"
                this.users_in_task_visible = true
                this.submit_label = "Add"
            } else {
                this.task_id = this.$route.params.id
                this.participating_in_the_task_filter = 'Only_Participating'
            }

            if (typeof this.task_id == "undefined") {
                this.task_id = this.debugging_id
            }

            bus.$on('MarkdownEditorModifiedEvent', (editor_content, editor_type, unique_id) => {
//                alert( "MarkdownEditorModifiedEvent::"+(9) )
                if (editor_type == 'task' && ( ( unique_id == this.task.id && !this.is_insert ) || ( unique_id == "new" && this.is_insert ) )) {
                    this.task.description = editor_content;
                }

                if (editor_type == 'new_user_chat' && ( ( unique_id == this.task.id && !this.is_insert ) || ( unique_id == "new" && this.is_insert ) )) {
                    this.newUserChat.description = editor_content;
                }

                /*<markdown-editor :content="''" :editor_type="'new_user_chat'" :unique_id="task_id" :validate_textarea="false"
                 :how_short_help_text=true :show_full_help_link=true></markdown-editor>

<markdown-editor :content="task.description" :editor_type="'task'" :unique_id="task_id"
                 :how_short_help_text=true :show_full_help_link=true></markdown-editor>
*/
            })

            bus.$on('setTaskStatusChangesHistoryListCountEvent', (task_status_changes_history_list_count) => {
                this.task_status_changes_history_list_count = task_status_changes_history_list_count
            })

            bus.$on('setTaskOperationHistoryListCountEvent', (task_operation_history_list_count) => {
                this.task_operation_history_list_count = task_operation_history_list_count
            })

            bus.$on('setRelatedUserChatsListCountEvent', (relatedUser_chats_list_count) => {
                this.relatedUser_chats_list_count = relatedUser_chats_list_count
            })


            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUser, loggedUserInGroups) => {
                this.loggedUser = loggedUser;
                var is_admin = this.checkUserGroupAccess(loggedUserInGroups, "Admin")
                var is_manager = this.checkUserGroupAccess(loggedUserInGroups, "Manager")
                if (!is_admin && !is_manager) {
                    this.showPopupMessage('You have no access to tasks editor', 'error');
                    this.$router.push({path: '/admin/dashboard'});
                }
            })

            this.$validator.localize(window.CURRENT_LANG, {
                attributes: {
                    selection_category_id: 'category',
                    category_id: 'category',
                    needs_reports: 'needs reports',
                    task_content: 'description',
                    date_start: 'date start',
                    date_end: 'date end',
                }
            });
        }, // created() {

        mixins: [appMixin],

        mounted() {
            this.setAppTitle(this.header_title, false);
            bus.$emit('pageOpenedEvent', 'tasks', 'edit', true, []);
//            this.loadTaskDictionaries('create-user-chat-for-this-task-dialog');
            this.loadTaskDictionaries();
            if (this.is_insert) { // Add new row
                this.is_page_loaded = true
                this.setTaskDefaultValue();
            }
        },  // mounted() {

        props: {
            debugging_id: {
                type: Number,
                required: false,
                default: -1,
            },

        },

        data() {
            return {
                selected: null,
                is_page_loaded: false,
                is_page_updating: false,
                is_insert: false,
                submit_label: "Update",
                task_id: null,
                task: {
                    name: '',
                    description: '',
                    creator_id: '',
                    category_id: '',
                    priority: '',
                    status: '',
                    date_start: '',
                    date_end: '',
                    needs_reports: '',
                },
                selection_category_id: null,
                loggedUser: {},
                errorsList: [],
                taskNeedsReportsSelectionList: [],
                taskPrioritiesSelectionList: [],
                categoriesSelectionList: [],
                userTaskTypesSelectionList: [],
                taskStatusSelectionList: [],
                activeUsersSelectionArray: [],
//                taskAssignedToUsersArray: [],
                taskAssignedToUsersStatusSelectionList: [],
                task_status_changes_history_list_count: '',
                task_operation_history_list_count: '',
                relatedUser_chats_list_count: '',
                message: '',
                users_in_task_visible: false,
                change_task_status_dialog_to_status: '',
                change_task_status_dialog_info: '',
                number_debugging: true,
                newUserChat: {
                    name: '',
                    description: '',
                    task_id: '',
                    task_name: '',
                    status: 'A',
                    status_label: 'Active',
                    userChatParticipantsArray: [],
                },
                new_user_chat_message: '',
                userChatParticipantStatusSelectionList: [],
                userChatStatusSelectionList: [],
                taskSelectionList: [],
                selection_task_id: {key: '', label: ' -Select Task- '},
                participating_in_the_task_filter: 'All',
                chat_reopen_on_saving: false

            }
        }, // data(){


        computed: {

            filteredActiveParticipatingUsersArray: function () {
                if (this.participating_in_the_task_filter == 'All' || this.participating_in_the_task_filter == "") {
                    return this.activeUsersSelectionArray;
                }
                var filteredRetArray = []
                this.activeUsersSelectionArray.map((nextFilteredActiveParticipatingUser, index) => {
                    var is_show_row = false
                    if (this.participating_in_the_task_filter == 'Only_Participating' && ( nextFilteredActiveParticipatingUser.task_assigned_status == 'L' ||
                            nextFilteredActiveParticipatingUser.task_assigned_status == 'M' )) {
                        is_show_row = true
                    }
                    if (this.participating_in_the_task_filter == 'Only_Not_Participating' && ( nextFilteredActiveParticipatingUser.task_assigned_status == 'N' ||
                            nextFilteredActiveParticipatingUser.task_assigned_status == '' )) {
                        is_show_row = true
                    }
                    if (is_show_row) {
                        filteredRetArray[filteredRetArray.length] = nextFilteredActiveParticipatingUser;
                    }
                });
                return filteredRetArray
            }, // filteredActiveParticipatingUsersArray: function () {


            selected_active_users_count() {
                var ret = 0
                this.activeUsersSelectionArray.map((activeUsersSelection, index) => {
                    if (activeUsersSelection.task_assigned_status == 'M' || activeUsersSelection.task_assigned_status == 'L') {
                        ret++;
                    }
                });
                return ret
            },

            priority_color() {
                if (typeof settings_priorityColorsArray[this.task.priority] != 'undefined') {
                    return 'backgroundColor:' + settings_priorityColorsArray[this.task.priority]
                }
                return '#ccc'
            },

            header_title: function () {
                if (!this.is_insert) return "Edit task";
                return "Add task";
            },

        }, // computed: {


        methods: {

            taskAssignedUserDetailsInfo(nextActiveUser) {
                var dataArray = []
                if (typeof nextActiveUser.first_name != "undefined") {
                    dataArray[dataArray.length] = nextActiveUser.first_name + ' ' + ( typeof nextActiveUser.last_name ? nextActiveUser.last_name : '' )
                }
                if (typeof nextActiveUser.phone != "undefined" && this.trim(nextActiveUser.phone) != '') {
                    dataArray[dataArray.length] = nextActiveUser.phone
                }
                if (typeof nextActiveUser.website != "undefined" && this.trim(nextActiveUser.website) != '') {
                    dataArray[dataArray.length] = nextActiveUser.website
                }
                if (typeof nextActiveUser.contract_start_label != "undefined" && this.trim(nextActiveUser.contract_start_label) != '') {
                    dataArray[dataArray.length] = 'Contract start: ' + nextActiveUser.contract_start_label
                }
                if (typeof nextActiveUser.contract_end_label != "undefined" && this.trim(nextActiveUser.contract_end_label) != '') {
                    dataArray[dataArray.length] = 'Contract end: ' + nextActiveUser.contract_end_label
                }
                if (dataArray.length > 0) {
                    return this.concatStrings(dataArray, ', ') + '<br><br>';
                }
                return '';
            }, // taskAssignedUserDetailsInfo(nextActiveUser)

            removeTask() {
                this.message = '';
                this.confirmMsg("Do you want to delete '" + this.task.name + "' task ?", () => {
                    axios.delete(window.API_VERSION_LINK + '/tasks/' + this.task.id).then((response) => {
                        this.$router.push({path: '/admin/tasks'});
                        this.loadTasksList()
                    }).catch((error) => {
                        this.showRunTimeError(error, this);
                    });
                });
            }, //removeTask(id, task_name, index) {

            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateTask()
                    } else {
                        bus.$emit('editorValidationFail', "task", this.task_id);
                        this.showPopupMessage('Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' task. ', 'error');
                    }
                })
            }, // validateBeforeSubmit() {

            updateTask() {
//                this.is_page_updating = true
                this.participating_in_the_task_filter = "All"
	            // selection_category_id
//	            console.log("this.selection_category_id::")
//	            console.log( typeof this.selection_category_id )
//	            console.log( this.selection_category_id )


                if (typeof this.selection_category_id == "object" && typeof this.selection_category_id.key != "undefined") {
                    this.task.category_id = this.selection_category_id.key
                }


                this.task.creator_id = this.loggedUser.id
                this.task.date_start = this.dateToMySqlFormat(this.task.date_start)
                this.task.date_end = this.dateToMySqlFormat(this.task.date_end)



                this.task.taskAssignedToUsersArray = this.activeUsersSelectionArray
//                console.log("this.activeUsersSelectionArray::")
//                console.log(this.activeUsersSelectionArray)
//
//	            console.log("this.task::")
//	            console.log( this.task )

//	            return;
                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: window.API_VERSION_LINK + '/tasks' + ( !this.is_insert ? "/" + this.task_id : ''),
                    data: this.task,
                }).then((response) => {
                    this.is_page_updating = false
                    this.$router.push({path: '/admin/tasks'});
                    this.errorsList = []
                    this.showPopupMessage('Task ' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully. ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    console.log("error.response.data::")
                    console.log(error.response.data)

                    if (typeof error.response.data.taskAssignedToUsersArray == 'object') {
                        this.users_in_task_visible = true
                    }
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' task. ', 'error');
                });

            }, // updateTask() {


            changeTaskStatus(to_status, to_status_label) {
                this.change_task_status_dialog_to_status = to_status;
                this.change_task_status_dialog_info = '';
                $("#change_task_status_dialog").modal('show');

            }, // changeTaskStatus(to_status,to_status_label) {

            updateChangeTaskStatus() {
//                alert( "updateChangeTaskStatus this.change_task_status_dialog_to_status::"+var_dump(this.change_task_status_dialog_to_status) )
                axios.post(window.API_VERSION_LINK + '/change_task_status/' + this.task_id, {
                    'to_status': this.change_task_status_dialog_to_status, 'info':
                    this.change_task_status_dialog_info
                }).then((response) => {
//                    alert( "response::"+var_dump(response.data) )
                    var to_status_label = response.data.to_status_label
                    this.task = response.data.task
                    this.task_was_completed = true;
                    this.is_page_updating = false
                    this.message = ''
                    this.change_task_status_dialog_to_status = ''
                    this.change_task_status_dialog_info = '';
                    bus.$emit('refreshTaskStatusEvent', this.task_id, 'by_task_id');

                    this.showPopupMessage('The status of this task was changes to \'' + to_status_label + '\' successfully.', 'success');
                    $("#change_task_status_dialog").modal('hide');
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showPopupMessage('Error changing status of this task.', 'error');
                    this.showRunTimeError(error, this);
                });

            }, // changeTaskStatus(to_status,to_status_label) {

            cancelChangeTaskStatusDialog: function () {
                $("#change_task_status_dialog").modal('hide');
            },

            setTaskDefaultValue() {
                this.task.name = '';
                this.task.description = '';
                this.task.priority = '0';
                this.task.status = '';
                this.task.date_start = moment(new Date()).format('YYYY-MM-DD');
                this.task.date_end = moment(this.addDaysToDate(15)).format('YYYY-MM-DD');
                this.task.needs_reports = '';
            }, //setTaskDefaultValue() {

            loadTask() {
                this.is_page_loaded = false
//                alert( "this.task_id::"+(this.task_id) )
                axios.get(window.API_VERSION_LINK + '/tasks/' + this.task_id).then((response) => {
//                    alert( "response::"+var_dump(response.data) )
                    this.is_page_loaded = true
                    this.task = response.data.task;
//                    this.categoriesSelectionList = response.data.categoriesSelectionList;
//                    alert( "this.categoriesSelectionList::"+var_dump(this.categoriesSelectionList) )
                    this.categoriesSelectionList.map((nextCategorySelection, index) => {
                        if (nextCategorySelection.key == this.task.category_id) {
//                            alert( "FOUND::"+var_dump() )
//                            alert( "nextCategorySelection::"+var_dump(nextCategorySelection) )
                            this.selection_category_id = {key: this.task.category_id, label: nextCategorySelection.label};
//                            selection_category_id:{ key: '', label:  ' -Select Category- '},

//                            selected: {id: 3, label: 'bar'},
                        }
                    });

                }).catch((error) => {
//                    alert( "+++error.response::"+var_dump(error.response) + "  error.response.data::"+var_dump(error.response.data) )
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/admin/tasks'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, app);
                });
            }, // loadTask() {

            loadTaskDictionaries(action_to_run) {
                this.is_page_loaded = false

//                alert("loadTaskDictionaries  action_to_run::" + (action_to_run))
                axios.get(window.API_VERSION_LINK + '/tasks_dictionaries/' + this.task_id).then((response) => {
//                    alert("loadTaskDictionaries  response.data::" + var_dump(response.data))
                    this.is_page_loaded = true
                    this.taskStatusSelectionList = response.data.taskStatusSelectionList;
                    this.taskPrioritiesSelectionList = response.data.taskPrioritiesSelectionList;
                    this.taskNeedsReportsSelectionList = response.data.taskNeedsReportsSelectionList;
                    this.categoriesSelectionList = response.data.categoriesSelectionList;
                    this.userTaskTypesSelectionList = response.data.userTaskTypesSelectionList;
                    this.activeUsersSelectionArray = response.data.activeUsersSelectionArray;
                    this.taskAssignedToUsersStatusSelectionList = response.data.taskAssignedToUsersStatusSelectionList;
                    this.userChatParticipantStatusSelectionList = response.data.userChatParticipantStatusSelectionList;
                    this.userChatStatusSelectionList = response.data.userChatStatusSelectionList;
                    this.taskSelectionList = response.data.taskSelectionList;

                    if (action_to_run == "create-user-chat-for-this-task-dialog") {
                        if (this.is_insert) return; // only for edited task

                        this.participating_in_the_task_filter = "Only_Participating"
                        this.newUserChat.task_id = this.task.id
                        this.newUserChat.task_name = this.task.name
                        $("#create-user-chat-for-this-task").modal('show');
                        this.showPopupMessage('Before opening this dialog you have to save this task !', 'warning');
                    }

                    if (!this.is_insert) { // retrieve row for editing only after all dictionaries are loaded
                        this.loadTask();
                    }

                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/admin/tasks'});
                    }
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                });
            }, // loadTaskDictionaries() {

            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD ');
            },

            createChartForThisTask() {
                this.loadTaskDictionaries("create-user-chat-for-this-task-dialog");
            },


            createUserChatForTask() {
                var userChatParticipantsArray = []
                this.filteredActiveParticipatingUsersArray.map((nextActiveParticipatingUser, index) => {
                    if (nextActiveParticipatingUser.participant_status != '') {
                        var ActiveParticipatingUserItem = {
                            key: nextActiveParticipatingUser.id, label: nextActiveParticipatingUser.name,
                            participant_status: nextActiveParticipatingUser.participant_status
                        }
                        userChatParticipantsArray[userChatParticipantsArray.length] = ActiveParticipatingUserItem
                    }
                });

                this.newUserChat.userChatParticipantsArray = userChatParticipantsArray
                this.newUserChat.task_id = this.task.id
                axios({
                    method: 'post',
                    url: window.API_VERSION_LINK + '/user_chats',
                    data: this.newUserChat,
                }).then((response) => {
                    this.is_page_updating = false
                    this.showPopupMessage('Chat added successfully. ', 'success');
                    $("#create-user-chat-for-this-task").modal('hide');
                    this.new_user_chat_message = '';

                    if (this.chat_reopen_on_saving) {
                        this.$router.push({path: '/admin/user_chats/edit/' + response.data.userChat.id});
                    }
                }).catch((error) => {
                    this.is_page_updating = false
                    var new_user_chat_message = '';
                    var errorsArray = Object.values(error.response.data.errors)
                    errorsArray.map((next_error, index) => {
                        new_user_chat_message = new_user_chat_message + next_error + "<br>  "
                    });
                    this.new_user_chat_message = new_user_chat_message;
                    this.showPopupMessage('Error adding chat. ', 'error');

                });


            },

            cancelUserChatForTask() {
                $("#create-user-chat-for-this-task").modal('hide');
            },

            toggleSelectedActiveUsersBlockIsVisible() {
                this.users_in_task_visible = !this.users_in_task_visible
            },

        } // methods:{

    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>

