<template>
	<section>

		<h4>Related chats on this task</h4>
		<div v-if="is_debug">
			relatedUserChatsList{{ relatedUserChatsList}}
		</div>

		<div v-if="relatedUserChatsList.length > 0" v-cloak>
			<ul class="list-group">

				<li v-for="nextRelatedUserChat, index in relatedUserChatsList" class="list-group-item">
					<router-link :to="{name: 'editUserChat', params: {id: nextRelatedUserChat.id} }" >
						{{ nextRelatedUserChat.name }}
					</router-link>
					<br>{{ nextRelatedUserChat.status_label}}, on
					{{ nextRelatedUserChat.created_at_label}} with {{ concatStr(nextRelatedUserChat.user_chat_messages_count, 100) }} messages

					<p class="text-info" v-if="nextRelatedUserChat.description">{{ concatStr(nextRelatedUserChat.description, 100) }}</p>

				</li>

			</ul>
		</div>


	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';


    export default {
        props: {
            filter_id: {
                required: false,
            },
            request_type: {
                type: String,
                required: true,
            },

        },

        mixins: [appMixin],

        mounted() {
            this.loadRelatedUserChatsList()
        },  // mounted() {

        data() {
            return {
                relatedUserChatsList: {},
                is_debug: false,
            }
        }, // data(){


        methods: {

            loadRelatedUserChatsList() {
                axios.post(window.API_VERSION_LINK + '/load_related_user_chats_list/' + this.request_type + '/' + this.filter_id).then((response) => {
                    this.relatedUserChatsList = response.data.relatedUserChatsList;
                    bus.$emit('setRelatedUserChatsListCountEvent', this.relatedUserChatsList.length );
                }).catch((error) => {
                    this.showPopupMessage('Error loading related user chats listing.', 'error');
                    this.showRunTimeError(error, this);
                });
            }, // loadRelatedUserChatsList() {


        } // methods:{

    }

</script>

<style scoped lang="css">
	[v-cloak] { display: none; }
</style>
