<template>
	<section>

		<!-- template for the modal component -->

		<div class="modal-mask" @click="close" v-show="computed_show">
			<div class="modal-wrapper">
				<div class="modal-container" @click.stop>

					<div class="modal-header">
						<slot name="header">
							Dialog
						</slot>
					</div>

					<div class="modal-body">

						<div class="row">
							<div class="col-xs-12 form-group">
								<label class="col-xs-12 col-sm-4 control-label" for="description">Message By '<span>{{ computed_editable_title }}'</span><span class="required">
									* </span></label>
								<div class="col-xs-12 col-sm-8">
									<textarea v-model="computed_editable_content_text" rows="10" class="form-control"></textarea>
								</div>
							</div>
						</div>

					</div>

					<div class="row modal-footer">
						<slot name="footer">
							<div>
								<small>Fill the form</small>
							</div>
							<div class="float-right">
								<button class="modal-default-button" @click="dialogSubmitted">OK</button> &nbsp;
								<button class="modal-default-button" @click="$emit('close')">Cancel</button>
							</div>
						</slot>
					</div>
				</div>
			</div>
		</div>

	</section>
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    export default {
        created() {
        },

        mounted: function () {
            document.addEventListener("keydown", (e) => {
                // alert( "?? pressed !::" + e.keyCode )
                if (this.show && e.keyCode == 27) {
                    // alert( "TO CLOSE 27 pressed !::" )
                    this.close();
                }
            });
        },

        props: {
            show: {
                type: Boolean,
                default: false,
                required: true,
            },

            editable_title: {
                type: String,
                default: 'Petrovich from component',
                required: true,
            },
            editable_content_text: {
                type: String,
                default: 'Some defualt Text from component',
                required: true,
            },


            editor_type: {
                type: String,
                default: '',
                required: true,
            },
            unique_id: {
                type: Number,
                default: '',
                required: true,
            },
        },

        data() {
            return {
//                title : 'Default Title',
//                message : '',
//                is_page_loaded:false,
//                is_page_updating:false,
            }
        },

        computed: {

            computed_show: {
                get() {
                    return this.show
                },
                set (show) {
                }
            }, // editable_title: {

            computed_editable_title: {
                get() {
                    return this.editable_title
                },
                set (editable_title) {
                }
            }, // editable_title: {

            computed_editable_content_text: {
                get() {
                    return this.editable_content_text
                },
                set(editable_content_text) {
                }
            }, // editable_content_text: {

        }, // computed: {


        mixins: [appMixin],


        methods: {


            dialogSubmitted: function () {
                alert( "dialogSubmitted ::" )
	            this.computed_show= false
//                this.$emit('close');
                alert( "AFTER::" )
                    bus.$emit('contentEditorDialogModifiedEvent', this.computed_editable_content_text, this.editor_type, this.unique_id);
//                this.computed_editable_title = '';
                alert( "++::" )
//                this.computed_editable_content_text = '';
                bus.$emit('close');
            }, // dialogSubmitted: function () {

            close: function () {
//                this.computed_editable_title = '';
//                this.computed_editable_content_text = '';
                alert( "?::" )
                bus.$emit('close');
//                this.$emit('close');
            }, // close: function () {


        }, // methods: {


    }
</script>


<style scoped lang="css">

	.modal-mask {
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .3s ease;
	}

	.modal-wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	.modal-container {
		/*width: 300px;*/
		height: 60%;
		width: 80%;
		margin: 20px auto;
		padding: 20px 30px;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
		transition: all .3s ease;
		/*font-family: Helvetica, Arial, sans-serif;*/
	}

	.modal-header h3 {
		margin-top: 0;
		color: #42b983;
	}

	.modal-body {
		margin: 20px 0;
	}

	.modal-default-button {
		float: right;
	}

	/*
	* The following styles are auto-applied to elements with
	* transition="modal" when their visibility is toggled
	* by Vue.js.
	*
	* You can easily play with the modal transition by editing
	* these styles.
	*/

	.modal-enter {
		opacity: 0;
	}

	.modal-leave-active {
		opacity: 0;
	}

	.modal-enter .modal-container,
	.modal-leave-active .modal-container {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	
	.modal-default-button {

	}

</style>
