<template>
	<section>

		<!--debug_id::{{ debug_id }};<br>-->
		<!--user_chat_id::{{ user_chat_id }};<br>-->
		<!-- EDIT ITEM MODAL START-->
		<div class="modal fade" id="user-chat-message-document-editor" tabindex="-1" role="dialog" aria-labelledby="user-chat-message-document-editor-label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title" id="user-chat-message-document-editor-label">Edit chat message document info</h4>
					</div>

					<div class="modal-body">

						<div class="form-group">
							<label for="editable_chat_message_document_info">
								<small>Info</small> :
							</label>
							<input name="editable_chat_message_document_info" id="editable_chat_message_document_info" class="form-control" v-model="editable_chat_message_document_info"   maxlength="255">
						</div>

						<div class="form-group">
							<label for="editable_chat_message_document_filename">
								<small>Filename</small> :
							</label>
							<input name="editable_chat_message_document_filename" id="editable_chat_message_document_filename" class="form-control"
							       v-model="editable_chat_message_document_filename" readonly>
						</div>

						<div class="form-group">
							<label >
								<small>About file</small> :
							</label>
							<span v-html="editable_chat_message_document_file_info"></span>
						</div>

					</div>

					<div class="modal-footer">
						<div class="btn-group float-right">
							<button type="button" @click.prevent="updateUserChatDocumentMessage()" class="btn btn-primary" style="margin-right: 20px;">
								<i class="fa fa-save"></i>&nbsp;Update
							</button>
							<button type="button"  @click="cancelUserChatDocumentMessage()" class="btn btn-cancel-action">
								<i class="fa fa-remove"></i>&nbsp;Cancel
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- EDIT ITEM MODAL END -->


		<div class="card">

			<div class="card-header  chat_title" v-if="is_page_loaded">
				<a data-toggle="collapse a_link" v-on:click="toggleDescriptionOfChatBlockIsVisible"  >
					<i class="fa fa-angle-down a_link" style="font-size:14px;"  title="Toggle chat description/documents"></i>
				</a>
				{{ title_of_chat }}<span v-if="only_in_view_mode" style="font-size: smaller;" class="text-warning">( In view mode )</span>

				<small> ( {{ participantUsersList.length }} user<span v-if="participantUsersList.length > 1">s</span> / {{ number_of_users_in_chat }} online)</small>
				<a data-toggle="collapse" href="#toggle_users_list_block" >
					<i class="fa fa-angle-down a_link" style="font-size:14px;" title="Toggle chat participants"></i>
				</a>

				<div class="float-right">
					<i class="fa fa-sync a_link p-5" title="Refresh" @click="loadUserChatRowData"></i>
				</div>


			</div>

			<div v-if="is_page_loaded" :class="{ 'chat_status_label text-info pl-3':true, 'text-info': status_of_chat == 'A', 'text-danger': status_of_chat == 'C' }">
				{{ status_label_of_chat }},
				<small>managed by</small>
				{{ manager_name_of_chat }}<span v-if="manager_id_of_chat == logged_user_id"> (you)</span>
			</div>

			<div class="list-group" v-show="description_of_chat_block_is_visible">
				<div v-if="description_of_chat" class="chat_description pb-3 pl-3 text-info">
					{{ description_of_chat }}

					<ul v-if="userChatMessageDocumentsList.length > 0">
						<h4>Attached files:</h4>
						<li v-for="nextUserChatMessageDocument, index in userChatMessageDocumentsList">
							<span v-if="manager_id_of_chat == logged_user_id && can_edit_and_delete_all_messages">
								<a @click='userChatMessageDocumentEdit(nextUserChatMessageDocument.id, index)' class="control_link">
									<i class="fa fa-edit mr-3" title="Edit chat message document info"></i>
								</a>&nbsp;
								<a @click='userChatMessageDocumentDelete(nextUserChatMessageDocument.id, nextUserChatMessageDocument.filename, index)' class="control_link"><i class="fa fa-remove" title="Delete chat message document"></i></a>&nbsp;&nbsp;
							</span>

							<span v-html="nextUserChatMessageDocument.file_info"></span>&nbsp;<a :href="nextUserChatMessageDocument.image_url" target="_blank">
								{{nextUserChatMessageDocument.filename}}
							</a>
							<span v-if="nextUserChatMessageDocument.info"><small>( {{ concatStr( nextUserChatMessageDocument.info, 100 ) }} )</small></span>

						</li>
					</ul>

				</div>
			</div>
			

			<div class="list-group collapse out" id="toggle_users_list_block">
				<div v-if="participantUsersList.length > 0" class="chat_users_list p-3 text-info">
					<ul>
						<li v-for="participantUser, index in participantUsersList">
							<router-link :to="{name: 'userProfileView', params: {id: participantUser.user_id} }" >{{participantUser.username}}
							</router-link>{{ participantUserInfo(participantUser) }}
							<span v-if="participantUser.visited_at">, {{ participantUser.visited_at | timeInAgoFormat }}
							</span>
							<span v-html="filter_only_online(participantUser.user_id)"></span>
						</li>
					</ul>
				</div>
			</div>



			<div v-if="message" class="text-danger">
				<center>{{ message }}</center>
			</div>
			<section class="card-body">

				<user-chat-listing :submit_message_by_enter="submit_message_by_enter"
				     :manager_id_of_chat="manager_id_of_chat" :logged_user_id="logged_user_id" :logged_username="logged_username" :user_chat_id="user_chat_id"
				     :logged_user_background_color="logged_user_background_color" :logged_user_color="logged_user_color" :status_of_chat="status_of_chat"
				     :status_label_of_chat="status_label_of_chat" :uploadedDocumentsExtensionsArray="uploadedDocumentsExtensionsArray"
				     :current_page=0 :only_in_view_mode="only_in_view_mode"
				></user-chat-listing>

			</section>

		</div>
	</section>
</template>

<script>

    import appMixin from '../../appMixin';
    import app from '../../app';

    Vue.component( 'user-chat-listing',  require( '../../components/user_chats/UserChatListing.vue') );
    Vue.component( 'user-chat-control',  require( '../../components/user_chats/UserChatControl.vue') );
    Vue.component( 'chat-add-new-message',  require( '../../components/user_chats/AddNewMessage.vue') );

    import {bus} from '../../app';

    Vue.use(require('vue-moment')); // https://www.npmjs.com/package/vue-moment

    export default {
        props: {
            debug_id: {
                type: Number,
                required: false,
                default: null
            },
        },

        data: function () {
            return {
                number_of_users_in_chat: 0,

                description_of_chat_block_is_visible : false,
                can_edit_and_delete_all_messages : false, 

                onlineUsersList: [],
                participantUsersList: [],
                uploadedDocumentsExtensionsArray: [],
                userChatMessageDocumentsList: [],
//                users_list_block_visible: false,
                user_chat_description_block_visible: false,
                is_page_loaded:false,

                user_chat_id: 0,
                title_of_chat: '',
                description_of_chat: '',
                status_of_chat: '',
                status_label_of_chat: '',
                manager_id_of_chat: -1,
                manager_name_of_chat: '',
                only_in_view_mode: false,

                logged_username: '',
                logged_user_id: -1,
                logged_user_background_color: '',
                logged_user_color: '',

                message: '',
	            chat: {
                    message: [],
                    user: [],
                    color: [],
                    time: []
                },
                submit_message_by_enter: true,
                editable_chat_message_document_id: '',
                editable_chat_message_document_filename: '',
                editable_chat_message_document_file_info: '',
                editable_chat_message_document_info: '',
            }
        },  // data: function () {
	    
        mixins : [appMixin],

        created() {

            this.user_chat_id= this.$route.params.id;
//            var chat_id= this.user_chat_id
            if ( typeof this.user_chat_id == "undefined" ) {
                this.user_chat_id= this.debug_id
            }

//            alert( "this.user_chat_id::"+(this.user_chat_id) )

            this.submit_message_by_enter = user_profile_submit_message_by_enter == "Y"
            bus.$on('setChartUsersListEvent', (event) => {
//                console.log(" setChartUsersListEvent  ::");
//                console.log(event.usersList);
                this.onlineUsersList = event.usersList
                this.number_of_users_in_chat = this.onlineUsersList.length;
            })

            bus.$on('reloadFileUploadingDocumentsListEvent', () => {
                this.loadUserChatMessageDocumentsList()
            })


            bus.$on('userChatMessageDocumentInfoToModifyEvent', (event) => { // sent from /components/user_chats/UserChatControl.vue:    userChatControlEdit
                console.log(" userChatMessageDocumentInfoToModifyEvent  event.typing_text::");
                console.log(event);
                if ( this.user_chat_id == event.user_chat_id ) { // delete from listing user chat message documents by user_chat_id
                    this.userChatMessageDocumentsList.map((nextUserChatMessageDocument, to_edit_row_index) => {
                        if ( nextUserChatMessageDocument.user_chat_id == event.user_chat_id && nextUserChatMessageDocument.id == event.user_chat_message_document_id) {
                            this.editable_chat_message_document_id= nextUserChatMessageDocument.id
                            this.editable_chat_message_document_filename= nextUserChatMessageDocument.filename
                            this.editable_chat_message_document_file_info= nextUserChatMessageDocument.file_info
                            this.editable_chat_message_document_info= nextUserChatMessageDocument.info
                            $("#user-chat-message-document-editor").modal('show');
                        }
                    });
                } // if ( this.user_chat_id == event.user_chat_id ) { // delete from listing user chat message by user_chat_id
            })

            bus.$on('userChatMessageDocumentInfoDeletedEvent', (event) => { // sent from /components/user_chats/UserChatControl.vue:    userChatControlDelete
                console.log(" userChatMessageDocumentInfoDeletedEvent  event");
                console.log(event);
                if ( this.user_chat_id == event.user_chat_id ) { // delete from listing user chat message by user_chat_id
                    this.userChatMessageDocumentsList.map((nextUserChatMessageDocument, deleted_row_index) => {
                        if ( nextUserChatMessageDocument.user_chat_id == event.user_chat_id && nextUserChatMessageDocument.id == event.user_chat_message_document_id) {
                            axios.delete(window.API_VERSION_LINK + '/user_chat_message_document_destroy/' + nextUserChatMessageDocument.id ).then((response) => {
                                this.userChatMessageDocumentsList.splice(deleted_row_index, 1);
                            }).catch((error) => {
                                this.showRunTimeError(error, this);
                            });
                        }
                    });

                } // if ( this.user_chat_id == event.user_chat_id ) { // delete from listing user chat message by user_chat_id
            })


            bus.$on('canEditAndDeleteAllMessagesEvent', (event) => { // sent from /components/user_chats/UserChatControl.vue:    userChatControlDelete
                if ( this.user_chat_id == event.user_chat_id ) {
	                this.can_edit_and_delete_all_messages= event.can_edit_and_delete_all_messages
                }
            })




        },

        mounted() {
            this.loadUserChatRowData()
        }, // mounted() {

        computed: { // https://ru.vuejs.org/v2/guide/computed.html
            now: function () {
                return Date.now()
            },
        }, // computed: {
	    
        methods: {

            loadUserChatMessageDocumentsList() {
                axios.get( window.API_VERSION_LINK + '/load_user_chat_message_documents?user_chat_id=' + this.user_chat_id ).then((response) => {
                    this.userChatMessageDocumentsList = response.data.userChatMessageDocumentsList;
                }).catch((error) => {
                    this.is_page_updating= false
                    this.showRunTimeError(error, this);
                });
            }, //loadUserChatMessageDocumentsList() {

            participantUserInfo(user) {
//                var dataArray = ["Tags", 12,  "  ", user['first_name']+' '+user['last_name'], user['user_status_label'], "Peccick", "Zasa"]
//	            alert( "user::"+( typeof user )+"  "+var_dump(user) )
                var dataArray = [ " ( " + user.first_name+' '+user.last_name, user.user_status_label + ') ' ]
//	            alert( "dataArray::"+var_dump(dataArray) )
//                return 'ZA';
                var ret= this.concatStrings(dataArray, ', ');
//                alert( "ret::"+var_dump(ret) )
                return ret;
            },

            loadUserChatRowData() {
                this.message = '';
                this.is_page_loaded = false
                axios.get( window.API_VERSION_LINK + '/user_chat_run/' + this.user_chat_id ).then((response) => {
                    this.is_page_loaded = true

//	                alert( "loadUserChatRowData response.data::"+var_dump(response.data) )

                    if ( parseInt(response.data.error_code) == 2 ) {
                        this.showPopupMessage(response.data.message, 'warning');
                        this.$router.push({path: '/'});
                        return;
                    }
                    if ( parseInt(response.data.error_code) == 4 || parseInt(response.data.error_code) == 3 ) {
                        this.only_in_view_mode= true
                        this.showPopupMessage(response.data.message, 'warning');
                    }
                    if ( parseInt(response.data.error_code) == 6 ) {
                        this.only_in_view_mode= true
                        this.showPopupMessage(response.data.message, 'warning');
                    }
                    if ( parseInt(response.data.error_code) == 9 ) {
//	                        alert( "inside::"+var_dump(1) )
                        this.showPopupMessage(response.data.message, 'error');
                        this.$router.push({path: '/'});
                        return;
                    }
                    this.logged_username = response.data.logged_username;
                    this.logged_user_id = response.data.logged_user_id;
                    this.logged_user_background_color = response.data.logged_user_background_color;
                    this.logged_user_color = response.data.logged_user_color;

//						alert( "before::"+var_dump(999) )
                    this.user_chat_id = response.data.userChat.id
                    this.title_of_chat = response.data.userChat.name
                    this.description_of_chat = response.data.userChat.description
                    this.status_of_chat = response.data.userChat.status
                    this.status_label_of_chat = response.data.userChat.status_label
                    this.manager_id_of_chat = response.data.userChat.manager_id
                    this.manager_name_of_chat = response.data.userChat.manager_name
                    this.participantUsersList = response.data.participantUsersList
                    this.uploadedDocumentsExtensionsArray = response.data.uploadedDocumentsExtensionsArray;

                    this.loadUserChatMessageDocumentsList()
                    this.setAppTitle("'"+this.title_of_chat+"' chat", false);
                    bus.$emit('pageOpenedEvent', 'user_chat', 'run', true, []);
                    //                    alert( "this.uploadedDocumentsExtensionsArray::"+var_dump(this.uploadedDocumentsExtensionsArray) )
                }).catch((error) => {
//                    alert( "error::"+var_dump(error.response.data) )
                    this.is_page_loaded = true
                    if ( parseInt(error.response.data.error_code) == 2 ) {
                        this.showPopupMessage(error.response.data.message, 'warning');
                        this.$router.push({path: '/'});
                        return;
                    }
                    this.showRunTimeError(error, this);
                });


            }, // loadUserChatRowData() {


            toggleDescriptionOfChatBlockIsVisible() {
                this.description_of_chat_block_is_visible= !this.description_of_chat_block_is_visible
            },


            filter_only_online: function (participant_user_id) {
	            var is_found= false;
                this.onlineUsersList.map((onlineUser,index) => {
	                if ( onlineUser.user_id == participant_user_id ) {
                        is_found= true;
                        return;
                    }
                });
                return ( is_found ? ', <i class="glyphicon glyphicon-time" title="is online"></i> ' : '');
            },

            userChatMessageDocumentEdit( user_chat_message_document_id, row_listing_index ) {
//                alert( "userChatMessageDocumentEdit user_chat_message_document_id::"+var_dump(user_chat_message_document_id) + "  row_listing_index::"+row_listing_index )
                bus.$emit('userChatMessageDocumentInfoToModifyEvent', { 'user_chat_message_document_id': user_chat_message_document_id, 'user_chat_id' : this.user_chat_id, 'logged_user_id':
                this.logged_user_id, 'row_listing_index': row_listing_index
                }); // components/user_chats/UserChatListing.vue will receive it
            },

            userChatMessageDocumentDelete(user_chat_message_document_id, user_chat_message_document_filename, row_listing_index) {
                this.message = '';
                this.confirmMsg("Do you want to delete '"+user_chat_message_document_filename+"' chat message document?", () => {
                    bus.$emit('userChatMessageDocumentInfoDeletedEvent', {
                        'user_chat_message_document_id': user_chat_message_document_id, 'user_chat_id': this.user_chat_id, 'logged_user_id':
                        this.logged_user_id, 'row_listing_index': row_listing_index
                    }); // this resources/assets/js/components/user_chats/UserChatsRun.vue file will receive it
                });

            },

            updateUserChatDocumentMessage: function() {  // http://itsolutionstuff.com/post/laravel-5-and-vue-js-crud-with-pagination-example-and-demo-from-scratchexample.html
                axios.patch(window.API_VERSION_LINK + '/update_user_chat_message_document/' + this.editable_chat_message_document_id, {
                    info:this.editable_chat_message_document_info } ).then((response) => {
                    this.is_page_updating = false
                    this.userChatMessageDocumentsList.map((nextUserChatMessageDocument, edited_row_index) => {
                        if ( nextUserChatMessageDocument.id == this.editable_chat_message_document_id) {
                            nextUserChatMessageDocument.info= this.concatStr( this.editable_chat_message_document_info, 100 )
                        }
                    });
                    this.cancelUserChatDocumentMessage()
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                });
            },

            cancelUserChatDocumentMessage: function(){
                this.editable_chat_message_document_id= ''
                this.editable_chat_message_document_filename= ''
                this.editable_chat_message_document_file_info= ''
                this.editable_chat_message_document_info= ''
                $("#user-chat-message-document-editor").modal('hide');
            },





        }, // methods: {

    }


</script>