<template>

	<section class="float-right mb-3 mt-3 ">
		<div v-if="manager_id_of_chat == logged_user_id && can_edit_and_delete_all_messages">
			<div v-if="user_chat_message_message_type=='T'" class="float-right">
				<div class="col-xs-3" >
					<a @click='userChatControlEdit()' class="control_link"><i class="fa fa-edit mr-3" title="Edit chat message"></i></a>
				</div>
				<div class="col-xs-3">
					<a @click='userChatControlDelete()' class="control_link"><i class="fa fa-remove" title="Delete chat message"></i></a>
				</div>
			</div>
            <div v-else>
				<div class="col-xs-3" >
					<i class="fa fa-edit mr-3 inactive"></i>
				</div>
				<div class="col-xs-3 left">
					<a @click='userChatControlDelete()' class="control_link"><i class="fa fa-remove" title="Delete chat message"></i></a>
				</div>

            </div>

		</div>
	</section>

</template>

<script>
import {bus} from '../../app';
import appMixin from '../../appMixin';

export default {         

    props: {
        logged_user_id: {
            type: Number,
            required: true,
        },
        manager_id_of_chat: {
            type: Number,
            required: true,
        },
        user_chat_id: {
//            type: Number,
            required: true,
        },
        user_chat_message_id: {
            type: Number,
            required: true,
        },
        user_chat_message_message_type: {
            type: String,
            required: true,
        },
        row_listing_index: {
            type: Number,
            required: true,
        },
    },

    data: function () {
        return {
            can_edit_and_delete_all_messages : false,
        }
    }, // data: function () {

    created() {
        bus.$on('canEditAndDeleteAllMessagesEvent', (event) => { // sent from /components/user_chats/UserChatControl.vue:    userChatControlDelete
            if ( this.user_chat_id == event.user_chat_id ) {
                this.can_edit_and_delete_all_messages= event.can_edit_and_delete_all_messages
            } 
        })

    }, // created: {

    mixins : [appMixin],

    methods: {
        userChatControlEdit() {
            bus.$emit('userChatMessageToModifyEvent', { 'user_chat_message_id': this.user_chat_message_id, 'user_chat_id' : this.user_chat_id, 'logged_user_id':
	            this.logged_user_id, 'row_listing_index': this.row_listing_index
            }); // components/user_chats/UserChatListing.vue will receive it
        },

        userChatControlDelete() {
            this.message = '';
            this.confirmMsg("Do you want to delete this message ?", () => {
                bus.$emit('userChatMessageDeletedEvent', {
                    'user_chat_message_id': this.user_chat_message_id, 'user_chat_id': this.user_chat_id, 'logged_user_id':
                    this.logged_user_id, 'row_listing_index': this.row_listing_index
                }); // components/user_chats/UserChatListing.vue will receive it
            });

        }

    }, // methods: {

}
</script>
