<template>
	<section class="card">

		<listing-header :show_loading_image=is_page_loaded :rows_count=rows_count :current_page=current_page :itemsList="userChats"
		                :header_icon="getHeaderIcon('user_chat')" :header_title=header_title :message=message :item_title="'row'"
		                :right_add_button_link="'editUserChat'"></listing-header>

		<div class="row card-subtitle ml-0 mr-0 pb-2 pt-2">
			<div class="col-xs-12 col-sm-4 pl-5">
				<input name="list_filter" type="radio" value="" v-model="list_filter" v-on:click="filterApplied('')"> All
			</div>
			<div class="col-xs-12 col-sm-4">
				<input name="list_filter" type="radio" value="A" v-model="list_filter" v-on:click="filterApplied('A')"> Only Active
			</div>
			<div class="col-xs-12 col-sm-4 pr-5">
				<input name="list_filter" type="radio" value="C" v-model="list_filter" v-on:click="filterApplied('C')"> Only Closed
			</div>
		</div> <!-- class="card-subtitle" -->

		<section class="card-body" v-if="is_page_loaded && userChats.length">

			<table class="table table-striped text-primary table-responsive">
				<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Status</th>
					<th></th>
					<th>Description</th>
					<th>Created at</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="nextUserChat, index in userChats">
					<td class="integer_cell">{{ nextUserChat.id }}</td>
					<td>
						{{ nextUserChat.name }}&nbsp;
						<i v-popover="{ name: 'hint_'+nextUserChat.id, event :'hover' }" class="a_link">
							<i class="fa fa-info"></i>
						</i>
						<popover :name="'hint_'+nextUserChat.id">
							<span v-html="userChatDetailsInfo(nextUserChat)"></span>
						</popover>

					</td>

					<td>
						<span v-if="nextUserChat.status=='A'">{{ nextUserChat.status_label }}</span>
						<span v-else><span class="inactive">{{ nextUserChat.status_label }}</span></span>
					</td>

					<td class="icon_cell">
							<span v-if="nextUserChat.status=='A'">
								<router-link :to="{name: 'runUserChat', params: {id: nextUserChat.id}}">
									<i class="fa fa-comment"></i>
								</router-link>&nbsp;&nbsp;
							</span>
						<span v-else>
								<router-link :to="{name: 'runUserChat', params: {id: nextUserChat.id}}">
									<i class="fa fa-comment inactive"></i>
								</router-link>&nbsp;&nbsp;
							</span>
					</td>

					<td>{{ concatStr(nextUserChat.description, 100) }}</td>
					<td class="datetime_cell">{{ nextUserChat.created_at_label }}</td>

					<td class="icon_cell">
						<router-link :to="{name: 'editUserChat', params: {id: nextUserChat.id}}">
							<i class="fa fa-edit mr-3" title="Edit chat"></i>
						</router-link>
					</td>
					<td class="icon_cell">
						<a v-on:click="removeUserChat(nextUserChat.id, nextUserChat.name, index)">
							<i class="fa fa-remove a_link" title="Delete chat"></i>
						</a>
					</td>

				</tr>
				</tbody>
			</table>

		</section>  <!-- class="card-body" -->

		<section class="card-footer">
			<listing-pagination :current="current_page" :total="rows_count" :items_per_page="per_page" :show_next_prior_buttons=false
			                    @paginationPageChangedEvent="loadUserChatsList"></listing-pagination>
		</section>

	</section> <!-- class="card" -->
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    Vue.component('listing-pagination', require('../../components/lib/ListingPagination.vue'));
    Vue.component('listing-header', require('../../components/lib/ListingHeader.vue'));
    export default {
        data: function () {
            return {
                header_title: 'Chats',
                is_page_loaded: false,
                userChats: [],
                list_filter: '',
                message: '',
                rows_count: 0,
                per_page: 20,
                current_page: 1,
                order_by: 'created_at',
                order_direction: 'desc'
            }
        },

        mixins: [appMixin],

        created() {
            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUser, loggedUserInGroups) => {
                this.loggedUser = loggedUser;
                var is_admin = this.checkUserGroupAccess(loggedUserInGroups, "Admin")
                var is_manager = this.checkUserGroupAccess(loggedUserInGroups, "Manager")
                if (!is_admin && !is_manager) {
                    this.showPopupMessage('You have no access to user\'s chats editor', 'error');
                    this.$router.push({path: '/admin/dashboard'});
                }
            })
        },


        mounted() {
            this.loadUserChatsList(1, this.order_by, this.order_direction)
        },
        methods: {
            userChatDetailsInfo(nextUserChat) {
                var dataArray = []
                if (typeof nextUserChat.manager_name != "undefined") {
                    dataArray[dataArray.length] = 'manager : ' + nextUserChat.manager_name
                }
                if (typeof nextUserChat.user_chat_messages_count != "undefined" && nextUserChat.user_chat_messages_count > 0) {
                    dataArray[dataArray.length] = 'messages: ' + nextUserChat.user_chat_messages_count
                }
                if (typeof nextUserChat.user_chat_participants_count != "undefined" && nextUserChat.user_chat_participants_count > 0) {
                    dataArray[dataArray.length] = 'participants: ' + nextUserChat.user_chat_participants_count
                }
                var ret = this.concatStrings(dataArray, ', ');
                return ret;
            }, // userChatDetailsInfo(nextUserChat)

            loadUserChatsList(page, order_by, order_direction) {
                this.message = '';
                if (typeof this.list_filter == "undefined") this.list_filter = 'all';
                this.is_page_loaded = false

                if (typeof order_by == "undefined") {
                    order_by = this.order_by
                }
                if (typeof order_direction == "undefined") {
                    order_direction = this.order_direction
                }
                var params_str = this.getPaginationParams(page, order_by, order_direction, false)
                this.current_page = page
                axios.get(window.API_VERSION_LINK + '/user_chats?list_filter=' + this.list_filter + params_str).then((response) => {
                    this.is_page_loaded = true
                    this.userChats = response.data.userChatsList;
                    this.setAppTitle(this.header_title, false);
                    bus.$emit('pageOpenedEvent', 'user_chats', 'listing', true, []);

                    this.rows_count = response.data.rows_count;
                    this.per_page = response.data.per_page
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadUserChatsList() {

            removeUserChat(id, user_chat_name, index) {
                this.message = '';
                this.confirmMsg("Do you want to delete '" + user_chat_name + "' chat with all related data ?", () => {
                    axios.delete(window.API_VERSION_LINK + '/user_chats/' + id).then((response) => {
                        this.loadUserChatsList(1, this.order_by, this.order_direction)
                        this.showPopupMessage('Chat deleted successfully. ', 'success');
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting chat. ', 'error');
                        this.showRunTimeError(error, this);
                    });
                });
            }, // removeUserChat(id, user_chat_name, index) {

            filterApplied(value) {
                this.list_filter = value;
                this.loadUserChatsList(1, this.order_by, this.order_direction)
            }
        }, // methods
    }
</script>
