<template>
	<section class="card col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">

		<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('user_chat')" :header_title=header_title
		               :message=message></editor-header>

		<section class="card-body">

			<form v-on:submit.prevent="validateBeforeSubmit()">

				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-xs-12 col-sm-4 col-form-label">
						ID&nbsp;&nbsp;
						<router-link :to="{name: 'runUserChat', params: {id: userChat.id}}">
							<i class="fa fa-comment"></i>&nbsp;Open Chat
						</router-link>&nbsp;&nbsp;
					</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" v-model="userChat.id" class="form-control integer_input" readonly>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="name">Name <span class="required"> * </span></label>
					<div class="col-xs-12 col-sm-8">
						<input v-validate="'required|max:255'" v-model="userChat.name"
						       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('name') }" name="name" id="name"
						       type="text" placeholder="name">
						<span v-show="vueErrorsList.has('name')" class="text-danger">{{ vueErrorsList.first('name') }}</span>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="status">Status <span class="required"> * </span></label>
					<div class="col-xs-12 col-sm-8">
						<select id="status" name="status" v-validate="'required'" :class="{ 'form-control':true, 'errors': vueErrorsList.has('status') }"
						        v-model="userChat.status">
							<option value=""> -Select status- </option>
							<option v-for="nextStatus, index in userChatStatusSelectionList" v-bind:value="nextStatus.key">{{ nextStatus.label }}
							</option>
						</select>
						<span v-show="vueErrorsList.has('status')" class="text-danger">{{ vueErrorsList.first('status') }}</span>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="task_id">Task
						<small class="form-text text-muted">Optional</small>
					</label>
					<div class="col-xs-12 col-sm-8">
						<v-select id="task_id" name="task_id" v-model="selection_task_id" :options=taskSelectionList></v-select>
						<span v-show="vueErrorsList.has('task_id')" class="text-danger">{{ vueErrorsList.first('task_id') }}</span>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="user_chat_content">Description <span class="required"> * </span></label>
					<div class="col-xs-12 col-sm-8">
						<markdown-editor :content="userChat.description" :editor_type="'user_chat'" :unique_id="user_chat_id"
						                 :how_short_help_text=true :show_full_help_link=true></markdown-editor>
					</div>
				</div>

				<div class="form-row mb-3">
					<!--<label class="col-xs-12 col-sm-4 col-form-label">Users in chat<span class="required"> * </span></label>-->

					<div class="card">

						<h5 class="card-title">You invite users to this chat</h5>

						<div class="row pb-3 m-1">
							<p class=" text-muted">
								You can select only one user as manager of this chat. If manager is not selected, you would be set as manager of this chat.</p>
							<div class="col-xs-12 col-sm-4">
								<input name="participating_filter" type="radio" value="All" v-model="participating_in_the_chat_filter"> All
							</div>
							<div class="col-xs-12 col-sm-4">
								<input name="participating_filter" type="radio" value="Only_Participating" v-model="participating_in_the_chat_filter"> Only participating
							</div>
							<div class="col-xs-12 col-sm-4">
								<input name="participating_filter" type="radio" value="Only_Not_Participating" v-model="participating_in_the_chat_filter">
								Only not participating
							</div>
						</div>

						<p v-if="errorsList.userChatParticipantsArray" class="card-subtitle mb-2 ml-3 text-danger">{{ errorsList.userChatParticipantsArray[0] }}</p>

						<div v-for="nextActiveUser, index in filteredActiveParticipatingUsersArray" v-bind:id="nextActiveUser.key" class="form-row mb-3">
							<label class="col-xs-12 col-sm-8 col-form-label text-right">{{ nextActiveUser.key }}=>{{ nextActiveUser.label }} : </label>
							<div class="col-xs-12 col-sm-4">
								<select v-model="nextActiveUser.participant_status" class="form-control"  v-on:change="errorsList= []">
									<option value="" selected> Select participation </option>
									<option v-for="nextUserChatParticipant, index in userChatParticipantStatusSelectionList" v-bind:value="nextUserChatParticipant.key">
										{{ nextUserChatParticipant.label }}
									</option>
								</select>
							</div>
						</div>

					</div>
				</div>

				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-xs-12 col-sm-4 col-form-label">Created at</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" v-model="userChat.created_at_label" class="form-control" readonly>
					</div>
				</div>

				<editor-buttons :submit_label="submit_label" :cancel_label="'Cancel'" :cancel_link="'#/admin/user_chats/all'" :is_page_updating="is_page_updating"></editor-buttons>

			</form>
		</section>  <!-- class="card-body" -->


	</section>  <!-- class="card" -->

</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import vSelect from 'vue-select'

    Vue.component('v-select', vSelect) // https://github.com/sagalbot/vue-select


    Vue.component('editor-header', require('../../components/lib/EditorHeader.vue'));
    Vue.component('editor-buttons', require('../../components/lib/EditorButtons.vue'));
    Vue.component('markdown-editor', require('../../components/lib/MarkdownEditor.vue'));

    export default {
        created() {
            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUser, loggedUserInGroups) => {
                var is_admin = this.checkUserGroupAccess(loggedUserInGroups, "Admin")
                var is_manager = this.checkUserGroupAccess(loggedUserInGroups, "Manager")
                if (!is_admin && !is_manager) {
                    this.showPopupMessage('You have no access to user\'s chats editor', 'error');
                    this.$router.push({path: '/admin/dashboard'});
                }
            }) // 7) use const { id, filter }= this.$route.params = 54 min
            if (this.$route.params.id == "new") {
                this.is_insert = true
                this.user_chat_id = "new"
                this.submit_label = "Add"
            } else {
                this.user_chat_id = this.$route.params.id
                this.participating_in_the_chat_filter = 'Only_Participating'
            }

            bus.$on('MarkdownEditorModifiedEvent', (editor_content, editor_type, unique_id) => {
                if (editor_type == 'user_chat' && ( ( unique_id == this.userChat.id && !this.is_insert ) || ( unique_id == "new" && this.is_insert ) )) {
                    this.userChat.description = editor_content;
                }
            })
            this.$validator.localize(window.CURRENT_LANG, {
                attributes: {
                    user_chat_content: 'description',
                    selection_task_id: 'task',
                }
            });

        }, // created() {

        mounted() {
            this.loadUserChatDictionaries();
            if (this.is_insert) { // retrieve row for editing
                this.is_page_loaded = true
                this.setUserChatDefaultValue();
            }
            this.setAppTitle(this.header_title, false);
            bus.$emit('pageOpenedEvent', 'user_chats', 'edit', true, []);
        }, // mounted() {

        mixins: [appMixin],

        data() {
            return {
                is_page_loaded: false,
                is_page_updating: false,
                is_insert: false,
                userChat: {
                    name: '',
                    description: '',
                    task_id: '',
                    status: '',
                    userChatParticipantsArray: [],
                },
                user_chat_id: '',
                submit_label: "Update",
                selection_task_id: {key: '', label: ' -Select Task- '},
                userChatStatusSelectionList: [],
                taskSelectionList: [],
                activeUsersSelectionList: [],
                userChatParticipantStatusSelectionList: [],
                message: '',
                errorsList: [],
                participating_in_the_chat_filter: 'All',
            }

        },

        computed: {
            header_title: function () {
                if (!this.is_insert) return "Edit chat";
                return "Add chat";
            },

            filteredActiveParticipatingUsersArray: function () {
                if (this.participating_in_the_chat_filter == 'All' || this.participating_in_the_chat_filter == "") {
                    return this.activeUsersSelectionList;
                }
                var filteredRetArray = []
                this.activeUsersSelectionList.map((nextFilteredActiveParticipatingUser, index) => {
                    var is_show_row = false
                    if (this.participating_in_the_chat_filter == 'Only_Participating' && ( nextFilteredActiveParticipatingUser.participant_status == 'M' ||
                            nextFilteredActiveParticipatingUser.participant_status == 'W' || nextFilteredActiveParticipatingUser.participant_status == 'R' )) {
                        is_show_row = true
                    }
                    if (this.participating_in_the_chat_filter == 'Only_Not_Participating' && ( nextFilteredActiveParticipatingUser.participant_status == '' ||
                            nextFilteredActiveParticipatingUser.participant_status == '' )) {
                        is_show_row = true
                    }
                    if (is_show_row) {
                        filteredRetArray[filteredRetArray.length] = nextFilteredActiveParticipatingUser;
                    }
                });
                return filteredRetArray
            }, // filteredActiveParticipatingUsersArray: function () {
        }, // computed: {


        methods: {

            loadUserChat() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/user_chats/' + this.user_chat_id).then((response) => {
                    this.is_page_loaded = true
                    this.userChat = response.data.userChat;
                    this.taskSelectionList.map((nextTaskSelection, index) => {
                        if (nextTaskSelection.key == this.userChat.task_id) {
                            this.selection_task_id = {key: this.userChat.task_id, label: nextTaskSelection.label};
                        }
                    });

                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/admin/user_chats/all'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, app);
                });
            }, // loadUserChat() {


            loadUserChatDictionaries() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/user_chats_dictionaries/' + this.user_chat_id).then((response) => {
                    this.is_page_loaded = true
                    this.userChatStatusSelectionList = response.data.userChatStatusSelectionList;
                    this.taskSelectionList = response.data.taskSelectionList;

                    this.activeUsersSelectionList = response.data.activeUsersSelectionList;
                    this.userChatParticipantStatusSelectionList = response.data.userChatParticipantStatusSelectionList;
                    if (!this.is_insert) { // retrieve row for editing only after all dictionaries are loaded
                        this.loadUserChat();
                    }

                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadUserChatDictionaries() {

            setUserChatDefaultValue() {
                this.userChat.status = 'A';
            }, //setUserChatDefaultValue() {

            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateUserChat()
                    } else {
                        bus.$emit('editorValidationFail', 'user_chat', this.user_chat_id);
                        this.showPopupMessage('Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' chat. ', 'error');
                    }
                })
            }, // validateBeforeSubmit() {

            updateUserChat() {
                this.participating_in_the_chat_filter = "All"
                this.is_page_updating = true
                this.userChat.userChatParticipantsArray = this.activeUsersSelectionList
                if (typeof this.selection_task_id == "object" && typeof this.selection_task_id.key != "undefined") {
                    this.userChat.task_id = this.selection_task_id.key
                }

                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: window.API_VERSION_LINK + '/user_chats' + ( !this.is_insert ? "/" + this.user_chat_id : ''),
                    data: this.userChat,
                }).then((response) => {
                    this.is_page_updating = false
                    this.$router.push({path: '/admin/user_chats/all'});
                    this.showPopupMessage('Chat ' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully. ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' chat. ', 'error');
                });
            } // updateUserChat() {

        }
    }
</script>

