<template>

	<section>

		<!-- EDIT ITEM MODAL START-->
		<div class="modal fade" id="user-chat-message-editor" tabindex="-1" role="dialog" aria-labelledby="user-chat-message-editor-label">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">

		      <div class="modal-header">
		        <h4 class="modal-title" id="user-chat-message-editor-label">Edit chat message</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		      </div>

		      <div class="modal-body">
						<div class="form-group">
							<label for="user_chat_message_content">
								<small>Created by</small> <span>{{ editable_chat_message_author_name }} </span>:
							</label>
							<textarea name="user_chat_message_content" id="user_chat_message_content" class="form-control" v-model="editable_chat_message" rows="10"></textarea>
						</div>

						<div class="form-group">
							<label>
								In top:
							</label>
							<el-checkbox v-model="editable_chat_message_is_top" size="medium" border >
								<span v-if="editable_chat_message_is_top">This message would be in the top of listing</span>
							</el-checkbox>
						</div>

		      </div> <!-- modal-body -->


			<div class="modal-footer">
			   <div class="btn-group float-right">
					<button type="button" @click.prevent="updateUserChatMessage()" class="btn btn-primary" style="margin-right: 20px;">
						<i class="fa fa-save"></i>&nbsp;Update
					</button>
					<button type="button"  @click="cancelUserChatMessage()" class="btn btn-cancel-action">
						<i class="fa fa-remove"></i>&nbsp;Cancel
					</button>
					</div>
				</div>
		    </div>
		  </div>
		</div>
		<!-- EDIT ITEM MODAL END -->


		<listing-header :show_loading_image=is_page_loaded :rows_count=userChatMessagesList.length :current_page=current_page :itemsList="userChatMessagesList"
			                :message=message :no_data_found_label="'Has no messages yet'"
			                :item_title="'message'"></listing-header>



		<div v-if="is_page_loaded && userChatMessagesList.length"> <!-- this chat has messages -->

			<div class="row p-3">
				<input type="text" class="form-control" v-model="search_text" placeholder="Search in this chat"/>
			</div>


    	    <div class="row">
				<div v-if="typing_text.length > 0" class="typing_text_block"  v-bind:style="{ 'color':typing_user_color,	'background-color':typing_user_background_color }">
					&nbsp;<i class="glyphicon glyphicon-text-color"></i> <b>{{ typing_username }}</b>	<small>typing : </small>'{{ concatStr(typing_text, 100) }}'
				</div>

				<div class="row div_chat_messages_listing">
					<ul v-chat-scroll class="pl-5 ul_chat_messages_listing">
						<li v-for="nextUserChatMessage, index in setFilterUserChatMessages" class="pl-3 mr-3"
						 :class="{even_chat_message: index % 2, odd_chat_message: !(index % 2)}">

							<div class="col-xs-12 rcorners1" v-bind:style="setMessageColors(nextUserChatMessage)" >
								<span v-if="nextUserChatMessage.is_top"><i class="glyphicon glyphicon-object-align-left" title="Is top"></i></span>&nbsp;
								<i v-if="nextUserChatMessage.user_user_chat_new_messages_count > 0" class="glyphicon glyphicon-new-window new_user_chat_text"title="That is new message !"></i>
								<span class="user_name">
									<router-link :to="{name: 'userProfileView', params: {id: nextUserChatMessage.user_id} }" >
										<img v-if="nextUserChatMessage.user_thumbnail_image_filename_url" v-bind:src="nextUserChatMessage.user_thumbnail_image_filename_url" class="m-r-5">
										{{ getUserChatMessageAuthorName(nextUserChatMessage) }}
									</router-link>
								</span>,
								<span v-if="nextUserChatMessage.updated_at_label">
									<small>modified at</small> <span class="timestamp_as_ago_label">{{ nextUserChatMessage.updated_at_label }}</span>
								</span>
								<span v-else>
									<span class="timestamp_as_ago_label">
										<span>{{ nextUserChatMessage.created_at | timeInAgoFormat }}</span>
										<span v-if="nextUserChatMessage.updated_at && nextUserChatMessage.updated_at_by_user_name">
											<small>, ( modified by {{ nextUserChatMessage.updated_at_by_user_name }}    {{ nextUserChatMessage.updated_at | timeInAgoFormat }} )</small>
										</span>
									</span>
								</span>
								: <span v-html="nextUserChatMessage.text" v-bind:style="setMessageTextStyle(nextUserChatMessage)" ></span>

							</div>
							<div class="col-xs-12 user_chat_control">
								<user-chat-control :logged_user_id="logged_user_id" :manager_id_of_chat= manager_id_of_chat :row_listing_index="index"
								:user_chat_id="user_chat_id" :user_chat_message_id="nextUserChatMessage.id"  :user_chat_message_message_type="nextUserChatMessage.message_type" ></user-chat-control>
							</div>
						</li>
					</ul>
					<!--countFilterUserChatMessages::{{ countFilterUserChatMessages() }}-->
				</div>


			</div>
		</div>  <!-- End this chat has messages -->

		<div v-if="!only_in_view_mode">
			<chat-add-new-message :submit_message_by_enter="submit_message_by_enter" :status_of_chat="status_of_chat" :manager_id_of_chat="manager_id_of_chat" :logged_user_id="logged_user_id"
			:user_chat_id="user_chat_id" :logged_username="logged_username" :logged_user_background_color="logged_user_background_color":logged_user_color="logged_user_color"
			:uploadedDocumentsExtensionsArray="uploadedDocumentsExtensionsArray" :only_in_view_mode="only_in_view_mode"></chat-add-new-message>
		</div>



	
	</section>
</template>



<script>
import {bus} from '../../app';
import appMixin from '../../appMixin';

Vue.use(require('vue-moment')); // https://www.npmjs.com/package/vue-moment


Vue.component( 'listing-header',  require( '../../components/lib/ListingHeader.vue') );

export default {
    props: {
        submit_message_by_enter: {
            type: Boolean,
            required: true,
        },
        only_in_view_mode: {
            type: Boolean,
            required: false,
            default: false,
        },
        status_of_chat: {
            type: String,
            required: true,
        },
        manager_id_of_chat: {
            type: Number,
            required: true,
        },
        logged_user_id: {
            type: Number,
            required: true,
        },
        user_chat_id: {
//            type: Number,
            required: true,
        },
        logged_username: {
            type: String,
            required: true,
        },
        logged_user_background_color: {
            type: String,
            required: true,
        },
        logged_user_color: {
            type: String,
            required: true,
        },
        status_label_of_chat: {
            type: String,
            required: true,
        },
        uploadedDocumentsExtensionsArray: {
            type: Array,
            required: false,
            default:() => [],
        },
    },

    components: {
    },

    data: function () {
        return {
            is_page_loaded:false,
            is_page_updating:false,
            search_text: '',
            typing_text: '',
            last_typing_text : '',
            seconds_to_check_last_typing_text : 5,
            typing_username: '',
            typing_user_background_color: '',
            typing_user_color: '',
            userChatMessagesList: [],

            current_page:0,
            editable_chat_message_id: 0,
            editable_chat_message_is_top: false,
            editable_chat_message:'Default value',
            editable_chat_message_author_name:'Default Author',
        }
    }, // data: function () {

    mixins : [appMixin],

    created() {
        this.loadUserChatMessagesList()
        bus.$on('newUserChatAddedEvent', (event) => {

//            console.log(" userChatMessagesList::  ::");
//            console.log(this.userChatMessagesList);
//            console.log(this.userChatMessagesList);
//
//            console.log(" event.user_chat_id::  ::");
//            console.log(event.user_chat_id);
//
            console.log(" event::  ::");
            console.log(event);
//
            console.log(" ????  newUserChatAddedEvent  this.user_chat_id::  ::");
            console.log(this.user_chat_id);

	        if ( event.user_chat_id == this.user_chat_id ) { // add new message text only in current chat by event.user_chat_id
                this.userChatMessagesList.push({ 'user_id': event.author_user_id, 'author_name': event.author_name, 'text': this.nl2br(event.text), 'created_at':
	                this.getNowDateTime(), 'message_type': 'T', 'id': event.user_chat_message_id,
	                'user_chat_id':event.user_chat_id, 'is_top':event.is_top})
                this.typing_username = ''
                this.typing_text = ''
		        if ( event.author_user_id!= this.logged_user_id ) { // not to show own message notification
                    this.showPopupMessage('New message was sent by ' + event.author_name + ' !', 'success');
                }
            }
        })
        bus.$on('setChartUserJoiningEvent', (event) => {
            console.log(" setChartUserJoiningEvent::");
            console.log(event.user);
            this.number_of_users_in_chat++;
            this.showPopupMessage(event.user.name + ' just joined this chat !', 'success');
            /*  setChartUserJoiningEvent::
app.js?dt=1521004299:166415
{user_id: 2, name: "Rod Bodrick"}
name
:
"Rod Bodrick"
user_id
:
2 */
        })

        bus.$on('setChartUserLeavingEvent', (event) => {
                console.log(" setChartUserLeavingEvent  ::");
                console.log(event.user);
            this.number_of_users_in_chat--;
        })

        bus.$on('userChatTypingEvent', (event) => {
//            console.log(" userChatTypingEvent  event.typing_text::");
//            console.log(event.typing_text);
//
//            console.log(" userChatTypingEvent  event::");
//            console.log(event);

	        if ( event.user_chat_id == this.user_chat_id ) { // whispering typing text only in modified chat
                this.typing_username = event.typing_username
                this.typing_text = event.typing_text
                this.typing_user_background_color = event.typing_user_background_color
                this.typing_user_color = event.typing_user_color
                this.last_typing_text= this.typing_text
//		        alert( "this.seconds_to_check_last_typing_textseconds_to_check_last_typing_text::"+(this.seconds_to_check_last_typing_text) )
//                setTimeout(this.checkTypingTextChanged, this.seconds_to_check_last_typing_text)
//                    seconds_to_check_last_typing_text : '',
            } // if ( event.user_chat_id == this.user_chat_id ) { // whispering typing text only in modified chat

        })
        bus.$on('userChatMessageDeletedEvent', (event) => { // sent from /components/user_chats/UserChatControl.vue:    userChatControlDelete
            console.log(" userChatMessageDeletedEvent  event.typing_text::");
            console.log(event);
	        if ( this.user_chat_id == event.user_chat_id ) { // delete from listing user chat message by user_chat_id

                this.userChatMessagesList.map((nextUserChatMessage, deleted_row_index) => {
                    if ( nextUserChatMessage.user_chat_id == event.user_chat_id && nextUserChatMessage.id == event.user_chat_message_id) {
                        axios.delete(window.API_VERSION_LINK + '/user_chat_message_destroy/' + nextUserChatMessage.id ).then((response) => {
                            this.userChatMessagesList.splice(deleted_row_index, 1);
                        }).catch((error) => {
                            this.showRunTimeError(error, this);
                        });
                    }
                });
                
	        } // if ( this.user_chat_id == event.user_chat_id ) { // delete from listing user chat message by user_chat_id
        })

        bus.$on('userChatMessageToModifyEvent', (event) => { // sent from /components/user_chats/UserChatControl.vue:    userChatControlEdit
            console.log(" userChatMessageToModifyEvent  event.typing_text::");
            console.log(event);
	        if ( this.user_chat_id == event.user_chat_id ) { // modify from listing user chat message by user_chat_id
                this.userChatMessagesList.map((nextUserChatMessage, to_edit_row_index) => {
                    if ( nextUserChatMessage.user_chat_id == event.user_chat_id && nextUserChatMessage.id == event.user_chat_message_id) {
	                    this.editable_chat_message_id= nextUserChatMessage.id
	                    this.editable_chat_message_is_top= nextUserChatMessage.is_top ? true: false
                        this.editable_chat_message= this.replaceAll( nextUserChatMessage.text, '<br />', '' )
                        this.editable_chat_message_author_name= nextUserChatMessage.author_name
                        $("#user-chat-message-editor").modal('show');
                    }
                });
	        } // if ( this.user_chat_id == event.user_chat_id ) { // modify from listing user chat message by user_chat_id
        })

    }, // created()

	mounted() {
//        alert( "mounted  ::app"+var_dump(app) )
//        alert( "-1 mounted  ::manager_id_of_chat"+(this.manager_id_of_chat) +"  logged_user_id::"+this.logged_user_id)
        bus.$on('reloadMultipleFileUploadingBlockEvent', (data_source_type, unique_id, params_str) => { // unique_id:user.id,
                alert(
                    "reloadMultipleFileUploadingBlockEvent  data_source_type::"+var_dump(data_source_type)
	            + "  unique_id::"+unique_id+" params_str::"+params_str+"  this.data_source_type:"+this.data_source_type)
            if ( this.data_source_type == data_source_type && this.user.id == unique_id) {
//                this.loadUserChatMessagesList()
                this.loadUserChatMessageDocumentsList(params_str)
            }
//                this.relatedUser_chats_list_count= relatedUser_chats_list_count
        })

    }, // mounted() {

	/* 							<div v-if="nextUserChatMessage.userProfileValuesArray" class="col-xs-12 pl-5" v-bind:style="{ 'color':nextUserChatMessage.userProfileValuesArray.color,
									'background-color':nextUserChatMessage.userProfileValuesArray.background_color }"  >
 */
    computed: {


        setFilterUserChatMessages: function () {
            return this.userChatMessagesList.filter((user_chat_message) => {
//                alert( "user_chat_message::"+var_dump(user_chat_message) )
                var res = user_chat_message.text.toLowerCase().match(   this.preg_quote(this.search_text.toLowerCase() )  );
                return res;
            });
        },


        sortedArray: function () {
            function compare(a, b) {
                if (a.is_top < b.is_top)
                    return -1;
                if (a.is_top > b.is_top)
                    return 1;


                if (a.created_at < b.created_at)
                    return 1;
                if (a.created_at > b.created_at)
                    return -1;

                return 0;
            }

            return this.arrays.sort(compare);
        },
    }, // computed: {
	
    methods: {

        loadUserChatMessageDocumentsList(params_str) {
            axios.get(window.API_VERSION_LINK + '/load_user_chat_message_documents?'+params_str ).then((response) => {
                this.itemDocumentsList = response.data.userChatMessageDocumentsList;
            }).catch((error) => {
                this.showRunTimeError(error, this);
            });
        }, //loadUserChatMessageDocumentsList() {


        checkTypingTextChanged: function () {
            alert( "checkTypingTextChanged  this.last_typing_text::"+(this.last_typing_text) +"  this.typing_text::"+this.typing_text )
            if ( this.last_typing_text == this.typing_text ) { // typing text was not changed during the time interval
                this.last_typing_text= '';
                this.typing_text= '';
            }
        },

        setMessageColors: function (nextUserChatMessage) {
	        var ret_styles= '';
            if ( typeof nextUserChatMessage.userProfileValuesArray != 'undefined' && typeof nextUserChatMessage.userProfileValuesArray.background_color != 'undefined' ) {
                ret_styles= ret_styles + " backgroundColor: "+nextUserChatMessage.userProfileValuesArray.background_color+" ; "
            }
            if ( typeof nextUserChatMessage.userProfileValuesArray != 'undefined' && typeof nextUserChatMessage.userProfileValuesArray.color != 'undefined' ) {
                ret_styles= ret_styles + " color: "+nextUserChatMessage.userProfileValuesArray.color+" ; "
            }
            return ret_styles;
        },


        setMessageTextStyle: function (nextUserChatMessage) {
//            alert( "nextUserChatMessage::"+var_dump(nextUserChatMessage) )
	        var ret_styles= '';
            if ( typeof nextUserChatMessage.user_user_chat_new_messages_count != 'undefined' && parseInt(nextUserChatMessage.user_user_chat_new_messages_count) > 0  ) {
                ret_styles= ret_styles + " font-weight : bold; "
            }
//            console.log(nextUserChatMessage.id+" : nextUserChatMessage ret_styles:::")
//            console.log(ret_styles)
            return ret_styles;
        },


        getUserChatMessageAuthorName: function (nextUserChatMessage) {
            var ret= '';
            if ( typeof nextUserChatMessage.author_first_name != 'undefined' ) {
                ret= ret + nextUserChatMessage.author_first_name
            }
            if ( typeof nextUserChatMessage.author_last_name != 'undefined' ) {
                ret= ret + (ret!= ""?" ":"") + nextUserChatMessage.author_last_name
            }
            if ( ret != "" ) return ret;
            return nextUserChatMessage.author_name;
        },

        updateUserChatMessage: function() {  // http://itsolutionstuff.com/post/laravel-5-and-vue-js-crud-with-pagination-example-and-demo-from-scratchexample.html
            axios.patch(window.API_VERSION_LINK + '/update_user_chat_message/' + this.editable_chat_message_id, { text:this.editable_chat_message, is_top : this.editable_chat_message_is_top
            } ).then((response) => {
                this.is_page_updating = false
                this.userChatMessagesList.map((nextUserChatMessage, edited_row_index) => {
                    if ( nextUserChatMessage.id == this.editable_chat_message_id) {
                        nextUserChatMessage.text= this.nl2br(this.editable_chat_message)
                        nextUserChatMessage.is_top= this.editable_chat_message_is_top ? 1 : 0
                    }
                });

                this.cancelUserChatMessage()
            }).catch((error) => {
                this.$setLaravelValidationErrorsFromResponse(error.response.data);
                this.is_page_updating = false
                this.showRunTimeError(error, this);
            });
        },

        cancelUserChatMessage: function(){
            this.editable_chat_message_id= 0;
            this.editable_chat_message_is_top= false;
            this.editable_chat_message_author_name= '';
	        this.editable_chat_message= '';
			$("#user-chat-message-editor").modal('hide');
        },

        loadUserChatMessagesList() {
            this.message = '';
            this.is_page_loaded = false
            axios.get( window.API_VERSION_LINK + '/load_user_chat_messages_list/' + this.user_chat_id ).then((response) => {
                this.is_page_loaded = true
                this.userChatMessagesList = response.data.userChatMessagesList;
//                alert( "-1  this.userChatMessagesList::"+var_dump(this.userChatMessagesList) )
            }).catch((error) => {
                if ( error.response.data.error_code == 11 ) {
                    this.showPopupMessage(error.response.data.message, 'error');
                    this.$router.push({path: '/'});
                }
                this.is_page_loaded = true
                this.showRunTimeError(error, this);
            });
//            alert( "-2  this.userChatMessagesList::"+var_dump(this.userChatMessagesList) )
        }, // loadUserChatMessagesList() {


//        getNowDateTime() {
//            return Date.now();
//            var current_ts = Date.now() / 1000 | 0;
//            return current_ts;
//        },

    } // methods: {

}
</script>

<style lang="css">

	.ul_chat_messages_listing {
		max-height: 780px;
		overflow-y: scroll;
		padding: 5px;
		/*border: 1px dotted red;*/
		/*background-color: yellow;*/

	}
	.even_chat_message {
		margin-left: 50px;
	}

	.odd_chat_message {
		margin-right: 50px;
	}

	.rcorners1 {
		border-radius: 10px;
		padding: 10px;
	}

</style>
