<template>
	<div class="card offset-md-1">


		<nav class="navbar navbar-expand-lg navbar-light bg-light" v-show="logged_user_id && logged_user_name">
			<a class="navbar-brand" href="/">
				{{ site_name }}<span class="test-device">____</span>
				<!--: {{ app_route_name }}-->
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			        :aria-expanded="false" aria-label="Toggle navigation" id="myCollapsible">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">



					<!--<li  :class="{ ' active ':app_route_name == 'user_chat', ' nav-item ':true }" >-->
						<!--<a href="#/admin/user_chat_run/1">Chat 1</a>-->
					<!--</li>-->


					<li  :class="{ ' active ':app_route_name == 'dashboard', ' nav-item ':true }" >
						<router-link :to="{ name: 'runUserChat', params: { id: '1'} }" class="nav-link">
							Chat 1
						</router-link>
					</li>

					<li  :class="{ ' active ':app_route_name == 'dashboard', ' nav-item ':true }" >
						<router-link :to="{ name: 'dashboardIndex' }" class="nav-link">
							Dashboard
						</router-link>
					</li>


					<li  :class="{ ' active ':app_route_name == 'tasks', ' nav-item ':true , ' dropdown ':true  }" >
						<a class="nav-link dropdown-toggle" href="#" id="tasks_dropdown_navbar" role="button" data-toggle="dropdown" aria-haspopup="true"
						   aria-expanded="false">
							Tasks
						</a>
						<div class="dropdown-menu" aria-labelledby="tasks_dropdown_navbar">
							<router-link :to="{ name: 'tasksIndex'  }" class="dropdown-item" >All tasks</router-link>
							<div class="dropdown-divider"></div>
							<router-link :to="{ name: 'tasksFilter', params: { filter: 'processing' } }" class="dropdown-item" >Processing tasks</router-link>
							<router-link :to="{ name: 'tasksFilter', params: { filter: 'checking' } }" class="dropdown-item" >Checking tasks</router-link>
							<router-link :to="{ name: 'editTask', params: { id: 'new' } }" class="dropdown-item" >New task</router-link>
						</div>
					</li>


					<li :class="{ ' active ':app_route_name == 'events', ' nav-item ':true , ' dropdown ':true  }">
						<a class="nav-link dropdown-toggle" href="#" id="events_dropdown_navbar" role="button" data-toggle="dropdown" aria-haspopup="true"
						   aria-expanded="false">
							Events
						</a>
						<div class="dropdown-menu" aria-labelledby="events_dropdown_navbar">
							<router-link :to="{ name: 'eventsIndex'  }" class="dropdown-item" >Events</router-link>
							<div class="dropdown-divider"></div>
							<router-link :to="{ name: 'editEvent', params: { id: 'new' } }" class="dropdown-item" >New event</router-link>
						</div>
					</li>

					<li :class="{ ' active ':app_route_name == 'user_chats', ' nav-item ':true , ' dropdown ':true  }">
						<a class="nav-link dropdown-toggle" href="#" id="user_chats_dropdown_navbar" role="button" data-toggle="dropdown" aria-haspopup="true"
						   aria-expanded="false">
							User chats
						</a>
						<div class="dropdown-menu" aria-labelledby="user_chats_dropdown_navbar">
							<router-link :to="{ name: 'userChatsIndex', params: { filter: 'A' }  }" class="dropdown-item" >User chats</router-link>
							<div class="dropdown-divider"></div>
							<router-link :to="{ name: 'editUserChat', params: { id: 'new' } }" class="dropdown-item" >New user chat</router-link>
						</div>
					</li>


					<li  :class="{ ' active ':app_route_name == 'user_task_types' || app_route_name == 'document_categories', ' nav-item ':true , ' dropdown ':true  }">
						<a class="nav-link dropdown-toggle" href="#" id="dictionaries_dropdown_navbar" role="button" data-toggle="dropdown" aria-haspopup="true"
						   aria-expanded="false">
							Dictionaries
						</a>
						<div class="dropdown-menu" aria-labelledby="dictionaries_dropdown_navbar">
							<router-link :to="{ name: 'userTaskTypesIndex'  }" class="dropdown-item" >User's task types</router-link>
							<router-link :to="{ name: 'editUserTaskType', params: { id: 'new' } }" class="dropdown-item" >New user's task type</router-link>
							<div class="dropdown-divider"></div>

							<router-link :to="{ name: 'documentCategoriesIndex'  }" class="dropdown-item" >Document categories</router-link>
							<router-link :to="{ name: 'editDocumentCategory', params: { id: 'new' } }" class="dropdown-item" >New document category</router-link>
						</div>
					</li>

					<li :class="{ ' active ':app_route_name == 'user_profile', ' nav-item ':true , ' dropdown ':true  }">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Profile
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<router-link :to="{ name: 'editUserProfiles' }" class="dropdown-item">My profile{{ logged_user_id }}={{ logged_user_name }}</router-link>
							<div class="dropdown-divider"></div>
							<a href="/logout" class="dropdown-item">Logout</a>
						</div>
					</li>

					<!--<li class="nav-item">-->
						<!--<a class="nav-link disabled" href="#">Disabled</a>-->
					<!--</li>-->

				</ul>
			</div>
		</nav>



	</div>
</template>

<script>
    import appMixin from '../../appMixin';
    import {bus} from '../../app';

    export default {

        data() {
            return {
                logged_user_id: '',
                logged_user_name: '',
                logged_user_first_name: '',
                logged_user_last_name: '',
                site_name: '',
                app_route_name: '',
                page_type: '',
                is_backend_page: '',
                pageOptionsArray: [],
            }
        },

        mixins: [appMixin],

	    created() {
        },

        mounted() {
//            alert( "AppHeader.vue mounted::"+(-1) )

            $('#myCollapsible').on('hide.bs.collapse', function (e) {
                alert( "myCollapsible hide.bs.collapse::"+(-99) )
                // во время закрытия
                console.log(e.target)  // цель по которой кликаем ( тут тебе и стили задать можно)
            })

            $('#myCollapsible').on('show.bs.collapse', function (e) {
                // во время открытия
                alert( "myCollapsible show.bs.collapse::"+(-88) )
                console.log(e.target)   // цель по которой кликаем ( тут тебе и стили задать можно)
            })
            alert( "created AFTER!::"+(-6) )

            this.logged_user_id = window.logged_user_id
            this.logged_user_name = window.logged_user_name
            this.logged_user_first_name = window.logged_user_first_name
            this.logged_user_last_name = window.logged_user_last_name
            this.site_name = window.SITE_NAME
            bus.$on('pageOpenedEvent', (app_route_name, page_type, is_backend_page, pageOptionsArray) => {
//                alert( "pageOpenedEvent app_route_name::"+app_route_name+" is_backend_page::"+(is_backend_page) )
                this.app_route_name = app_route_name;
                this.page_type = page_type;
                this.is_backend_page = is_backend_page;
                this.pageOptionsArray = pageOptionsArray;
//                $('#myCollapsible').collapse('hide');
//                $('#myCollapsible').collapse({
//                    toggle: false
//                })
//                $('.collapse').collapse(true)
            })




        },

        methods: {
            handleSelect(key, keyPath) {
//                alert( "handleSelect   key::"+key  +"   keyPath::"+keyPath )
                console.log(key, keyPath);
            }
        }

    }
</script>