<template>
	<div class="card-title pl-1 pt-3 mb-0">
		<div v-if="show_loading_image" class="loading"></div>
		<div v-if="!show_loading_image">
			<h4>
				<span v-if="header_icon" v-html="header_icon"></span>
				{{ header_title }}

				<div class="float-right" v-if="right_icon!= ''">
					<i :class="right_icon_class" title="Refresh" @click="triggerEditorHeaderRightButtonClickedEvent"></i>
				</div>

			</h4>
		</div>
		<div v-if="message" class="col-sm-12 text-danger">
			<center>{{ message }}</center>
		</div>

	</div>   <!-- class="card-title -->

</template>

<script>

    import {bus} from '../../app';

    export default {
        props: {
            message: {
                required: false,
                default: ''
            },
            header_title: {
                type: String,
                required: true,
                default: ''
            },
            header_icon: {
                type: String,
                required: false,
                default: ''
            },
            show_loading_image: {
                type: Boolean,
                required: true,
                default: true
            },

            right_icon: {
                type: String,
                required: false,
                default: ''
            },
            parent_component_key: {
                type: String,
                required: false,
                default: ''
            },

        },

        methods: {

            triggerEditorHeaderRightButtonClickedEvent() {
                bus.$emit('editorHeaderRightButtonClickedEvent', this.parent_component_key);
            }

        },
        computed: {

            right_icon_class() {
                return this.right_icon + ' a_link p-5';
            },

        }, // computed: {


    }
</script>

<style scoped lang="css">
	.loading {
		background-image: url(/images/big_loading.gif);
		background-repeat: no-repeat;
		width: 48px;
		height: 48px;
		margin: 0;
		padding: 0;
	}
</style>