<template>
	<div class="btn-group pr-3 mt-3 float-right">
		<div class="col-xs-6">
			<button type="submit" class=" btn btn-primary editor_button_submit" :disabled="is_page_updating" ><i v-if="show_icons" class="fa fa-save"></i>&nbsp;{{ submit_label
				}}</button>
			<!--button class=" btn btn-primary editor_button_submit" -->
		</div>

		<div class="col-xs-6" v-if="cancel_label">
			<a v-bind:href="cancel_link"  class="btn btn-cancel-action" :disabled="is_page_updating" >
				<i v-if="show_icons" class="fa fa-ban"></i>&nbsp;{{cancel_label}}
			</a>
		</div>
	</div>
</template>

<script>
    export default {
        props: {
            submit_label: {
                type: String,
                required: true,
                default: "Save"
            },
            cancel_label: {
                type: String,
                required: true,
                default: ""
            },
            cancel_link: {
                type: String,
                required: false,
                default: "#/"
            },
            show_icons: {
                type: Boolean,
                required: false,
                default: true
            },
            is_page_updating: {
                type: Boolean,
                required: false,
                default: false
            }
        }

    }
</script>