<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import moment from 'moment';

    import {fullCalendar} from 'fullcalendar';
    import 'fullcalendar/dist/fullcalendar.css'; // https://fullcalendar.io/docs

    Vue.component('events-calendar', {
        template: '<div></div>',

        props: {
            eventsArray: {
                type: Array,
                required: true
            },

            editable: {
                type: Boolean,
                required: false,
                default: false
            },

            droppable: {
                type: Boolean,
                required: false,
                default: false
            },
        },

        mixins: [appMixin],

        data: function()
        {
            return {
                cal: null,
            }
        },

        mounted: function()
        {
            var self = this;
            self.cal = $(self.$el);

            var args = {
                lang: 'en',
                header: {
                    left:   'prev,next today',
                    center: 'title',
                    right:  'month,agendaWeek,agendaDay'
                },
                height: "auto",
                allDaySlot: false,
                slotEventOverlap: false,
                timeFormat: 'HH:mm',

                events: self.eventsArray,

                eventRender: function(event, element) {

                    // https://stackoverflow.com/questions/22448097/fullcalendar-with-clickable-popup-on-hover
                    $(element).popover({title: event.title, content: event.start_time_label+"-"+event.end_time_label+" : "+event.description, trigger: 'hover', placement: 'auto right', delay: {"hide": 300 }});

                    if ( self.inArray ( 'is_past', event.event_class_name ) ) {
	                    if ( typeof window.settings_isPastColorsArray['is_past'] != "undefined" ) {
                            element.css({
                                'background-color': window.settings_isPastColorsArray['is_past'],
                                'border-color': window.settings_isPastColorsArray['is_past']
                            });
                        }
                    }

                    if ( self.inArray ( 'is_today', event.event_class_name ) ) {
	                    if ( typeof window.settings_isPastColorsArray['is_today'] != "undefined" ) {
                            element.css({
                                'background-color': window.settings_isPastColorsArray['is_today'],
                                'border-color': window.settings_isPastColorsArray['is_today']
                            });
                        }
                    }

                    if ( self.inArray ( 'is_tomorrow', event.event_class_name ) ) {
	                    if ( typeof window.settings_isPastColorsArray['is_tomorrow'] != "undefined" ) {
                            element.css({
                                'background-color': window.settings_isPastColorsArray['is_tomorrow'],
                                'border-color': window.settings_isPastColorsArray['is_tomorrow']
                            });
                        }
                    }

                    if ( self.inArray ( 'is_future', event.event_class_name ) ) {
	                    if ( typeof window.settings_isPastColorsArray['is_future'] != "undefined" ) {
                            element.css({
                                'color': '#282828',
                                'background-color': '#ffffff',
                                'border-color': '#ffffff'
                            });
                        }
                    }

                },


                prevClick: function(date)
                {
//                    alert( "-1 : prev:" + date )
//                    bus.$emit('userEventsCalendarClickEvent', date);
                },

                nextClick: function(date)
                {
//                    alert( "-1 : next:" + date )
//                    bus.$emit('userEventsCalendarClickEvent', date);
                },

                dayClick: function(date)
                {
//                    alert( "-1 : dayClick:" + date )
                    bus.$emit('userEventsCalendarClickEvent', date);
                },

                eventClick: function(event)
                {
//                    alert( "-21 : eventClick event:" + (event) )
	                if ( typeof event.start != "undefined" ) {
                        bus.$emit( 'userEventsCalendarClickEvent', event.start );
                    }
                }
            }

            if (self.editable)
            {
                args.editable = true;
                args.eventResize = function(event)
                {
//                    alert( "-22 : eventClick event:" + (event) )
                    bus.$emit('userEventsCalendarResizeEvent', event);
                }

                args.eventDrop = function(event)
                {
                    bus.$emit('userEventsCalendarDropEvent', date);
                }
            }

            if (self.droppable)
            {
                args.droppable = true;
                args.eventReceive = function(event)
                {
                    bus.$emit('userEventsCalendarReceiveEvent', date);
                }
            }
            this.cal.fullCalendar(args);

        }, // mounted: function()

        methods : {
            inArray : function(needle, haystack) {
                var length = haystack.length;
                for(var i = 0; i < length; i++) {
                    if(haystack[i] == needle) return true;
                }
                return false;
            },


        }, // methods : {


    }) // Vue.component('calendar', {



    export default {


        props: {
            debug_id: {
                type: Number,
                required: false,
                default: null
            },
        },
        mixins: [appMixin],

        mounted() {
        },

        data() {
            return {
            }
        }, // data() {



    }
	
</script>


