<template>
	<div class="card">

		<div class="content_editor_wrapper ">
			<!--validate_textarea::{{ validate_textarea }}<br>;-->
			<!--editor_type::{{ editor_type }}<br>;-->
			<!--show_short_help_text::{{ show_short_help_text }}<br>;-->
			<!--show_full_help_link::{{ show_full_help_link }}<br>;-->
			<!--computed_editor_content::{{ computed_editor_content }}<br>;-->
			<!--<div class="row">-->

			<div v-if="validate_textarea">
				<textarea v-model="computed_editor_content" v-validate="'required'" :rows="textarea_rows"
				          :class="{ 'form-control':true,	'content_editor':true, 'input': true, 'text-danger': vueErrorsList.has(computed_control_name) }"
				          :name="computed_control_name" :id="computed_control_name" ref="textarea_text"></textarea>
				<span v-show="vueErrorsList.has(computed_control_name) && show_validation_span" class="text-danger">{{ vueErrorsList.first(computed_control_name) }}</span>
			</div>
			<div v-if="!validate_textarea">
				<textarea v-model="computed_editor_content" :rows="textarea_rows"
				          :class="{ 'form-control':true,	'content_editor':true, 'input': true, 'text-danger': vueErrorsList.has(computed_control_name) }"
				          :name="computed_control_name" :id="computed_control_name" ref="textarea_text"></textarea>
				<span v-show="vueErrorsList.has(computed_control_name) && show_validation_span" class="text-danger">{{ vueErrorsList.first(computed_control_name) }}</span>
			</div>

			<div v-if="show_short_help_text">
				<p v-for="nextDefaultHelpTextRow in defaultHelpTextRowsArray">
					<b>{{nextDefaultHelpTextRow.tag}}</b> with syntax <i>{{nextDefaultHelpTextRow.syntax}}</i>,&nbsp;&nbsp;
					example : {{nextDefaultHelpTextRow.example}}<br>
				</p>
			</div>

			<span v-if="show_full_help_link">
					<a data-toggle="collapse" href="#toggle_content_preview_block">
						<i class="fa fa-angle-down a_link" title="Open/Hide preview"></i>
					</a>
				</span>

			<div class="float-right">
				<a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" target="_blank">
					<i class="fa fa-question" title="Markdown Help"></i>
				</a>
			</div>

		</div>

		<div class="row list-group collapse in out pl-3 pr-3" id="toggle_content_preview_block">
			<div class="content_preview" v-html="makeContentMarkdown">{{ computed_editor_content }}</div>
		</div>

	</div>

</template>

<script>
    import {bus} from '../../app';

    var marked = require('marked');
    console.log("marked::")
    console.log(marked)

    marked.setOptions({
        renderer: new marked.Renderer(),
        gfm: true,
        tables: true,
        breaks: true,
        pedantic: false,
        sanitize: false,
        smartLists: true,
        smartypants: false
    });

    export default {
        props: {
            editor_type: {
                type: String,
                required: true,
            },

            unique_id: {
                required: false,
                default: ''
            },

            content: {
                type: String,
                required: true,
                default: 'XX'
            },

            textarea_cols: {
                type: Number,
                required: false,
                default: 80
            },

            textarea_rows: {
                type: Number,
                required: false,
                default: 6
            },

            helpTextRows: {
                type: Array,
                required: false,
                default: this.defaultHelpTextRowsArray,
            },

            show_short_help_text: {
                type: Boolean,
                required: false,
                default: false,
            },

            show_full_help_link: {
                type: Boolean,
                required: false,
                default: false,
            },

            show_validation_span: {
                type: Boolean,
                required: false,
                default: true,
            },

            validate_textarea: {
                type: Boolean,
                required: false,
                default: true,
            },

        }, // props: {

        computed: {

            makeContentMarkdown() {
//                alert( "makeContentMarkdown ::"+( this.computed_editor_content ) )
//	            alert( "marked(this.computed_editor_content, {sanitize: true})::"+(marked(this.computed_editor_content, {sanitize: true})) )
                return marked(this.computed_editor_content, {sanitize: true})
            },
            computed_control_name: {
                get() {
                    return this.editor_type + '_content'
                },
            },

            computed_editor_content: {
                get() {
                    return this.content
                },
                set(content) {
                    bus.$emit('MarkdownEditorModifiedEvent', content, this.editor_type, this.unique_id);
                }
            }, // computed_editor_content: {

        }, // computed: {

        mounted() {
            bus.$on('editorValidationFail', (editor_type, unique_id) => {
                if (this.editor_type == editor_type && this.unique_id == unique_id) {
                    if (find({ref: 'textarea_text'})) {
                        this.$refs.textarea_text.focus()
                        this.$refs.textarea_text.blur()
                    }
                }
            })
        }, // mounted() {

        data: function () {
            return {
                defaultHelpTextRowsArray: Array(
                    {tag: 'Bold', syntax: '** ** or __ __', example: '**This is bold text**'},
                    {tag: 'Italic', syntax: '* * or _ _', example: '*This text is italicized*'},
                    {tag: 'Quoting code', syntax: '```', example: '```git status```'},
                    {tag: 'Lists', syntax: ' with - or *', example: '- George Washington'},
                    {tag: 'Strikethrough', syntax: '~~ ~~', example: '~~This was mistaken text~~'},
                    {tag: 'Bold and italic', syntax: '** ** and _ _', example: '**This text is _extremely_ important**'},
                ),
            }
        }, // data: function () {

        methods: {} //


    }
</script>

<style scoped lang="css">
	.content_editor_wrapper {
		height: 90%;
		margin: 0;
		/*border: 1px solid red;*/
		padding: 0;
	}

	.content_editor {
		font: inherit;
		outline: none;
	}

	.content_editor, .content_preview {
		width: 100%;
		height: 100%;
		padding: 5px;
		margin: 0;
		border: 1px dotted grey;
	}

	.content_preview {
		background-color: #EEE;
	}


</style>