<template>
	<section>

		<div class="card-header">
			<div v-if="message" class="text-danger col-xs-12">
				<center>{{ message }}</center>
			</div>

			<v-collapse-group :onlyOneActive="true">

				<v-collapse-wrapper>
					<div class="a_link" v-collapse-toggle>
						<h4>{{ source_filename_1 }}</h4>
					</div>

					<div v-collapse-content>
						<small><u>{{ description_1 }}</u></small>
						<div class="source_file_content">
							<pre><code :class="source_ext_1">{{ file_content_1 }}</code></pre>
						</div>
					</div>
				</v-collapse-wrapper>


				<v-collapse-wrapper>
					<div class="a_link" v-collapse-toggle>
						<h4>{{ source_filename_2 }}</h4>
					</div>

					<div v-collapse-content>
						<small><u>{{ description_2 }}</u></small>
						<div class="source_file_content">
							<pre><code :class="source_ext_2">{{ file_content_2 }}</code></pre>
						</div>
					</div>
				</v-collapse-wrapper>

				<v-collapse-wrapper>
					<div class="a_link" v-collapse-toggle>
						<h4>{{ source_filename_3 }}</h4>
					</div>

					<div v-collapse-content >
						<small><u>{{ description_3 }}</u></small>
						<div class="source_file_content">
							<pre><code :class="source_ext_3">{{ file_content_3 }}</code></pre>
						</div>
					</div>
				</v-collapse-wrapper>


				<v-collapse-wrapper>
					<div class="a_link" v-collapse-toggle>
						<h4>{{ source_filename_4 }}</h4>
					</div>

					<div v-collapse-content >
						<small><u>{{ description_4 }}</u></small>
						<div class="source_file_content">
							<pre><code :class="source_ext_4">{{ file_content_4 }}</code></pre>
						</div>
					</div>
				</v-collapse-wrapper>


				<v-collapse-wrapper>
					<div class="a_link" v-collapse-toggle>
						<h4>{{ source_filename_5 }}</h4>
					</div>

					<div v-collapse-content >
						<small><u>{{ description_5 }}</u></small>
						<div class="source_file_content">
							<pre><code :class="source_ext_5">{{ file_content_5 }}</code></pre>
						</div>
					</div>
				</v-collapse-wrapper>


				<v-collapse-wrapper>
					<div class="a_link" v-collapse-toggle>
						<h4>{{ source_filename_6 }}</h4>
					</div>

					<div v-collapse-content >
						<small><u>{{ description_6 }}</u></small>
						<div class="source_file_content">
							<pre><code :class="source_ext_6">{{ file_content_6 }}</code></pre>
						</div>
					</div>
				</v-collapse-wrapper>


				<!--<v-collapse-wrapper>-->

					<!--<div class="a_link" v-collapse-toggle>-->
						<!--<h4>2222222</h4>-->
					<!--</div>-->

					<!--<div v-collapse-content >-->
						<!--TEXT 222222-->
					<!--</div>-->
				<!--</v-collapse-wrapper>-->


			</v-collapse-group>





			<!--<v-collapse-group :onlyOneActive="true">-->


				<!--<div v-for="nextDayNumber,index in dayNumbersArray">-->

						<!--<v-collapse-wrapper :status="false">-->
							<!--<div class="a_link" v-collapse-toggle>-->
								<!--<h4><span v-if="nextDayNumber.key == 1">Tomorrow,</span> {{ nextDayNumber.label }}</h4>-->
							<!--</div>-->
							<!--<div class="" v-collapse-content>-->
								<!--<ul class="list-group weather_block">-->
									<!--<li v-for="nextWeatherData, index in weatherDataArray">-->
										<!--<div v-if="nextWeatherData.day_number == nextDayNumber.key">-->
											<!--<b>{{ nextWeatherData.time_label}}</b>:-->
											<!--<p class="text-info pb-5">-->
												<!--<img :src="nextWeatherData.icon_url" :alt="nextWeatherData.main_description">-->
												<!--{{ nextWeatherData.main_description}},-->
												<!--{{ nextWeatherData.temp}}&deg;C<br>-->
												<!--{{ concatWeatherDataInfo(nextWeatherData) }}-->
											<!--</p>-->
										<!--</div>-->
									<!--</li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</v-collapse-wrapper>-->

				<!--</div>-->

			<!--</v-collapse-group>-->


		</div>

	</section>

</template>

<script>
    import appMixin from '../../appMixin';

    import VueCollapse from 'vue2-collapse'
    Vue.use(VueCollapse) // https://roszpun.github.io/vue-collapse/#/?id=examples

    import 'highlight.js/styles/rainbow.css';

    import 'highlight.js/lib/highlight.js';

//    import 'highlightjs-line-numbers.js/dist/highlightjs-line-numbers.min.js';


    export default {


        data: function () {
            return {

                source_filename_1: 'app/Http/Controllers/DashboardController.php',
                description_1: 'Dashboard controller with methods for dashboard page and common app functionality, like retrieving  information data for status line, tasks assigned to the user, user\'s weather locations, user\'s todos, user\'s events, system information. ',
                source_ext_1: 'php',
                file_content_1: '',

                source_filename_2: 'resources/assets/js/components/document_categories/DocumentCategoryEdit.vue',
                description_2: 'Editor of document_categories row(in insert and in edit mode) with data validation on client(with vee-validate) and server. ',
                source_ext_2: 'vue',
                file_content_2: '',

                source_filename_3: 'resources/assets/js/components/tasks/TaskOperationHistory.vue',
                source_ext_3: 'vue',
                description_3: 'Listing of operations of the task by task_id',
                file_content_3: '',

                source_filename_4: 'resources/assets/js/components/tasks/TasksIndex.vue',
                description_4: 'Listing of tasks as a treeview by categories(subcategories) with tasks inside of any category. Can be filtered by tasks status.',
                source_ext_4: 'vue',
                file_content_4: '',

                source_filename_5: 'resources/assets/js/components/lib/MarkdownEditor.vue',
                source_ext_5: 'vue',
                description_5: 'Markdown editor in textarea with preview area and help info on markdown format',
                file_content_5: '',

                source_filename_6: 'resources/assets/js/components/lib/MultipleFileUploadingBlock.vue',
                source_ext_6: 'vue',
                description_6:
	                'Block for uploading of multiple files with validation on server. Uploading files decription and type of file can be filled. Can be used in different part of application. Uploaded files can be previewed/deleted.',
                file_content_6: '',

                message: '',
            }
        }, // data: function () {

        mixins: [appMixin],

        created() {
        },

        mounted() {
            this.loadSourceFile()
        }, // mounted() {

        methods: {

            loadSourceFile() {
                this.message = '';

                axios.post(window.API_VERSION_LINK + '/get_source_file', {'src_file': this.source_filename_1, 'file_type': this.source_ext_1}).then((response) => {
                    this.file_content_1 = response.data.file_content
                    this.message = ''
                    let hljs = require('highlight.js');
//                    let hljs__line_numbers = require('highlightjs-line-numbers.js');
                    console.log("hljs::")
                    console.log(hljs)
                    hljs.initHighlightingOnLoad();     // https://www.laravel-vuejs.com/vue-js-syntax-highlighting-with-highlight-js/
                    console.log("before initLineNumbersOnLoad::")
                    hljs.initLineNumbersOnLoad();
                    console.log("after initLineNumbersOnLoad::")
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showPopupMessage('Error loading the source of the file.', 'error');
                    this.showRunTimeError(error, this);
                });

                this.showPopupMessage('The source files were loaded !', 'success');
                return;

                axios.post(window.API_VERSION_LINK + '/get_source_file', {'src_file': this.source_filename_2, 'file_type': this.source_ext_2}).then((response) => {
                    this.file_content_2 = response.data.file_content
                    this.message = ''
                    let hljs = require('highlight.js');
                    console.log("hljs::")
                    console.log(hljs)
                    hljs.initHighlightingOnLoad();     // https://www.laravel-vuejs.com/vue-js-syntax-highlighting-with-highlight-js/
                    console.log("after initLineNumbersOnLoad::")
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showPopupMessage('Error loading the source of the file.', 'error');
                    this.showRunTimeError(error, this);
                });


                axios.post(window.API_VERSION_LINK + '/get_source_file', {'src_file': this.source_filename_3, 'file_type': this.source_ext_3}).then((response) => {
                    this.file_content_3 = response.data.file_content
                    this.message = ''
                    let hljs = require('highlight.js');
                    console.log("hljs::")
                    console.log(hljs)
                    hljs.initHighlightingOnLoad();     // https://www.laravel-vuejs.com/vue-js-syntax-highlighting-with-highlight-js/
                    console.log("after initLineNumbersOnLoad::")
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showPopupMessage('Error loading the source of the file.', 'error');
                    this.showRunTimeError(error, this);
                });

                axios.post(window.API_VERSION_LINK + '/get_source_file', {'src_file': this.source_filename_4, 'file_type': this.source_ext_4}).then((response) => {
                    this.file_content_4 = response.data.file_content
                    this.message = ''
                    let hljs = require('highlight.js');
                    console.log("hljs::")
                    console.log(hljs)
                    hljs.initHighlightingOnLoad();     // https://www.laravel-vuejs.com/vue-js-syntax-highlighting-with-highlight-js/
                    console.log("after initLineNumbersOnLoad::")
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showPopupMessage('Error loading the source of the file.', 'error');
                    this.showRunTimeError(error, this);
                });

                axios.post(window.API_VERSION_LINK + '/get_source_file', {'src_file': this.source_filename_5, 'file_type': this.source_ext_5}).then((response) => {
                    this.file_content_5 = response.data.file_content
                    this.message = ''
                    let hljs = require('highlight.js');
                    console.log("hljs::")
                    console.log(hljs)
                    hljs.initHighlightingOnLoad();     // https://www.laravel-vuejs.com/vue-js-syntax-highlighting-with-highlight-js/
                    console.log("after initLineNumbersOnLoad::")
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showPopupMessage('Error loading the source of the file.', 'error');
                    this.showRunTimeError(error, this);
                });

                axios.post(window.API_VERSION_LINK + '/get_source_file', {'src_file': this.source_filename_6, 'file_type': this.source_ext_6}).then((response) => {
                    this.file_content_6 = response.data.file_content
                    this.message = ''
                    let hljs = require('highlight.js');
                    console.log("hljs::")
                    console.log(hljs)
                    hljs.initHighlightingOnLoad();     // https://www.laravel-vuejs.com/vue-js-syntax-highlighting-with-highlight-js/
                    console.log("after initLineNumbersOnLoad::")
                }).catch((error) => {
                    this.is_page_updating = false
                    this.showPopupMessage('Error loading the source of the file.', 'error');
                    this.showRunTimeError(error, this);
                });

                this.showPopupMessage('The source files were loaded !', 'success');

            }, // loadSourceFile() {

        }, // methods: {


    }


</script>

<style scoped lang="css">

	/* for block of numbers */
	td.hljs-ln-numbers {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		text-align: center;
		color: #ccc;
		border-right: 1px solid #CCC;
		vertical-align: top;
		padding-right: 5px;

		/* your custom style here */
	}

	/* for block of code */
	td.hljs-ln-code {
		padding-left: 10px;
	}
</style>

