<template>
	<div class="p-3 col-sm-offset-1 ">


		<!-- INFO MODAL START-->
		<div class="modal fade" id="info_dialog" tabindex="-1" role="dialog" aria-labelledby="info_dialog_label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h4 class="modal-title" id="info_dialog_label"> Info</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					</div>

					<div class="modal-body text-info p-3">

						<div v-html="dialog_info_text"></div>
						<div>Vue :<b>{{ vue_version_text }}</b></div>
						<div>Device :<b>{{ device_text }}</b></div>
						<div v-if="bootstrap4_enabled_text">Bootstrap 4 :<b>{{ bootstrap4_enabled_text }}</b></div>
						<div v-if="bootstrap_tooltip_text">Bootstrap tooltip :<b>{{ bootstrap_tooltip_text }}</b></div>
						<div v-if="bootstrap_jquery_confirm_text">Jquery confirm text :<b>{{ bootstrap_jquery_confirm_text }}</b></div>
						<div>Bootstrap plugins :<span v-html="bootstrap_plugins_text"></span></div>
						<div v-if="jquery_version">jQuery version :<b>{{ jquery_version }}</b></div>
						<div v-if="jquery_ui_version">jQuery ui version :<b>{{ jquery_ui_version }}</b></div>


					</div> <!-- modal-body -->

					<div class="modal-footer">
						<div class="btn-group float-right">
							<button type="button" @click="cancelShowSystemInfoDialog()" class="btn btn-cancel-action">
								<i class="fa fa-remove"></i>&nbsp;Cancel
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- INFO MODAL END -->

		<!-- ASSIGNING TASKS DETAILS MODAL START-->
		<div class="modal fade" id="assigning_tasks_listing_dialog" tabindex="-1" role="dialog" aria-labelledby="assigning_tasks_listing_dialog_label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					
					<div class="modal-header">
						<h4 class="modal-title" id="assigning_tasks_listing_dialog_label"> Tasks assigned to you</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					</div>

					<div class="modal-body">

						<div class="card pb-2" v-for="nextAssigningTask, index in assigningTasksListing">

							<p class="card-text">
								<router-link :to="{ name: 'taskOperation', params: { id: nextAssigningTask.id } }" target="_blank">
									<span v-if="number_debugging">task_id # {{ nextAssigningTask.task_id }} ( subtask # {{ nextAssigningTask.id }} )</span>
									<span v-bind:style="getPriorityColor(nextAssigningTask.task_priority)">
										{{ nextAssigningTask.task_name}}
									</span>
								</router-link>
							</p>


							<p class="card-text">
								created by
								<router-link :to="{name: 'userProfileView', params: {id: nextAssigningTask.user_id} }" target="_blank">
									<span v-if="number_debugging">user_id # {{ nextAssigningTask.user_id }}</span>
									{{ nextAssigningTask.user_first_name }} {{ nextAssigningTask.user_last_name }}( {{ nextAssigningTask.username }} )
								</router-link>&nbsp;
							</p>

							<p class="card-text">
								at {{ nextAssigningTask.created_at_label }}
							</p>

						</div>

						<p class="text-info p-3">
							By task's link you can assign or cancel any task
						</p>
					</div> <!-- modal-body -->

					<div class="modal-footer">
						<div class="btn-group float-right">
							<button type="button" @click="cancelAssigningTasksListingDialog()" class="btn btn-cancel-action">
								<i class="fa fa-remove"></i>&nbsp;Cancel
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- ASSIGNING TASKS DETAILS MODAL END -->


		<div class="row  ">
			<div class="col-xs-12 col-sm-8 col-md-8 ">
				<router-link :to="{name: 'appDescription' }">Description</router-link>

				<a href="test" class="a_link">Test</a>

				<a class="a_link">Privacy</a>
				<a class="a_link">Security</a>
			</div>
			<div class="col-xs-12 col-sm-4 float-right" v-if="site_name">
				<p class="muted ">© 2017 {{ site_name }}</p>
			</div>
			<!--loggedUserProfile::{{ loggedUserProfile }}-->
		</div>


		<div class="row" v-if="loggedUserProfile.id">


			<div class="p-3">
				| <i class="fa fa-user"></i>
				<router-link :to="{name: 'userProfileView', params: {id: loggedUserProfile.id} }">
					{{ logged_user_name }}
				</router-link>

				<span v-for="nextLoggedUserInGroup, index in loggedUserInGroups">
					<a class="a_link" v-if="nextLoggedUserInGroup.status == 'A'"><span class="label label-info">{{ nextLoggedUserInGroup.group_name }}</span></a>&nbsp;
				</span>
				<span v-if="assigning_tasks_count > 0">
					| <i class="fa fa-tasks a_link" @click.prevent="viewAssigningTasks" :title="assigning_tasks_count + ' New task(s)'"></i>
				</span>


				<span v-if="future_events_count > 0">
					<router-link :to="{name: 'dashboardIndex', params: {default_block: 'events'}  }">
						<i class="bell bell-bell a_link" :title="events_label"></i>
					</router-link>
				</span>

				<span>
					| <router-link :to="{ name: 'weatherViewer' }">
					<i class="fa fa-bolt" :title="user_weather_locations_count + ' Weather location(s)'"></i>
					</router-link>
				</span>

				<span>
					| <router-link :to="{ name: 'userTodos'}">
					<i class="fa fa-check-circle" :title="user_todos_count+' Todo(s)'"></i>
					</router-link>
				</span>

				| <i class="fa fa-calendar-alt"></i> {{ date_time_label }}
				| <i class="fa fa-bug"></i> <a class="a_link" href="http://local-tasks.com/sqlmonitor">sqlmonitor</a>
				<a class="a_link" @click.prevent="showSystemInfo">| <i class="fa fa-info"></i></a>

			</div>


		</div> <!-- row -->

	</div>
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import Datepicker from 'vuejs-datepicker';

    import moment from "moment";

    Vue.use(require('vue-moment')); // https://www.npmjs.com/package/vue-moment

    // Messages notifications
    import Toaster from 'v-toaster';
    import 'v-toaster/dist/v-toaster.css'

    Vue.use(Toaster, {timeout: 4000})

    import VeeValidate from 'vee-validate'; // http://vee-validate.logaretm.com/  ,  http://vee-validate.logaretm.com/examples.html
    // http://jsfiddle.net/xcha53ub/6/, https://blog.pusher.com/complete-guide-to-form-validation-in-vue/
    import VeeValidateLaravel from 'vee-validate-laravel';

    const veeValidateConfigArray = {
        errorBagName: 'vueErrorsList', // change if property conflicts
        fieldsBagName: 'fields',
        delay: 0,
        locale: 'en',
        dictionary: null,
        strict: true,
        classes: false,
        classNames: {
            touched: 'touched', // the control has been blurred
            untouched: 'untouched', // the control hasn't been blurred
            valid: 'valid', // model is valid
            invalid: 'invalid', // model is invalid
            pristine: 'pristine', // control has not been interacted with
            dirty: 'dirty' // control has been interacted with
        },
        events: 'input|blur',
        inject: true,
        validity: false,
        aria: true,
        i18n: null, // the vue-i18n plugin instance,
        i18nRootKey: 'validations' // the nested key under which the validation messsages will be located
    };

    Vue.use(VeeValidate, veeValidateConfigArray);
    Vue.use(VeeValidateLaravel);


    import Popover from 'vue-js-popover'

    Vue.use(Popover)

    export default {
        data() {
            return {
                date_time_label: null,
                loggedUserProfile: {},
                loggedUserInGroups: {},
                assigning_tasks_count: 0,
                future_events_count: 0,
                tomorrow_events_count: 0,
                today_events_count: 0,
                user_weather_locations_count: 0,
                user_todos_count: 0,
                assigningTasksListing: [],
                site_name: '',
                container_dialog_type: '',
                show_container_dialog_label: '',
                number_debugging: false,
                dialog_info_text: '',
                vue_version_text: '',
                device_text: '',
                bootstrap_plugins_text: '',
                bootstrap4_enabled_text: '',
                bootstrap_tooltip_text: '',
                bootstrap_jquery_confirm_text: '',
                jquery_version: '',
                jquery_ui_version: '',

            }
        },

        computed: {

            logged_user_name() {
                if (typeof this.loggedUserProfile.name != 'undefined' && this.loggedUserProfile.first_name.length > 0 && this.loggedUserProfile.last_name.length > 0) {
                    return this.loggedUserProfile.id + "=" + this.loggedUserProfile.name + "(" + this.loggedUserProfile.first_name + ' ' + this.loggedUserProfile.last_name + ")"
                }
                if (typeof this.loggedUserProfile.name != 'undefined') {
                    return this.loggedUserProfile.name
                }
                return '#ccc'
            },

            events_label() {
                var dataArray = []
                if (typeof this.future_events_count != 'undefined' && this.future_events_count > 0) {
                    dataArray[dataArray.length] = this.future_events_count + ' future event(s)'
                }
                if (typeof this.today_events_count != 'undefined' && this.today_events_count > 0) {
                    dataArray[dataArray.length] = this.today_events_count + ' today event(s)'
                }
                if (typeof this.tomorrow_events_count != 'undefined' && this.tomorrow_events_count > 0) {
                    dataArray[dataArray.length] = this.tomorrow_events_count + ' tomorrow event(s), '
                }
                return this.concatStrings(dataArray, ', ');
            },

        }, // computed: {

        mixins: [appMixin],

        created() {
//            alert( "created::"+var_dump(-77) )
        },

        mounted() {
            bus.$on('UserProfileIsSetEvent', (username, site_name, loggedUserProfile, loggedUserInGroups) => {
//                if (typeof loggedUserProfile == 'undefined') {
//                    alert("not LOGGED::" + (-88))
//                    alert("UserProfileIsSetEvent  loggedUserProfile::" + (loggedUserProfile) + "  typeof loggedUserProfile::" + ( typeof loggedUserProfile ))
//
//                }
//                console.log("this.loggedUserProfile::");
//                console.log(this.loggedUserProfile);
//
//                console.log("this.loggedUserProfile.loggedUserInGroups::");
//                console.log(this.loggedUserProfile);

//                alert( "UserProfileIsSetEvent loggedUserInGroups::"+var_dump(loggedUserInGroups) )
                this.page_title = username + " of " + site_name;
                this.site_name = site_name;
                if (typeof loggedUserProfile != "undefined") {
                    this.loggedUserProfile = loggedUserProfile;
                }
                if (typeof loggedUserInGroups != "undefined") {
                    this.loggedUserInGroups = loggedUserInGroups;
                }

                this.refreshTasksEventsInfo();

//                this.is_admin= this.checkUserGroupAccess( this.loggedUserInGroups, "Admin" )
//                alert( "this.is_admin::"+(this.is_admin) )

//                this.is_manager= this.checkUserGroupAccess( this.loggedUserInGroups, "Manager" )
//                alert( "this.is_manager::"+(this.is_manager) )
            })


//            alert( "created loggedUser::"+var_dump(this.loggedUser) )
            this.refreshTime();
            setInterval(this.refreshTime, 1000);
//
            setInterval(this.refreshTasksEventsInfo, 30000);

        },

        methods: {

            refreshTime() {
                this.date_time_label = moment(new Date()).format('DD MMMM, YYYY HH:mm:ss');     // 30 December, 2017 6:50 PM
            },

            refreshTasksEventsInfo() {
//                alert( "refreshTasksEventsInfo::"+var_dump(this.loggedUserProfile) )
                axios.get(window.API_VERSION_LINK + '/refresh_user_profile_quick_info').then((response) => {
//                      alert( "refresh_user_profile_quick_info response.data::"+var_dump(response.data) )
                    this.assigning_tasks_count = response.data.assigning_tasks_count
                    this.user_weather_locations_count = response.data.user_weather_locations_count
                    this.user_todos_count = response.data.user_todos_count
                    this.future_events_count = response.data.future_events_count
                    this.tomorrow_events_count = response.data.tomorrow_events_count
                    this.today_events_count = response.data.today_events_count
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, app);
                });

            },

            showSystemInfo() {

                axios.get(window.API_VERSION_LINK + '/get_system_info').then((response) => {
                    this.dialog_info_text = response.data.system_info
                    this.bootstrap_plugins_text = this.getBootstrapPlugins()
                    this.vue_version_text = this.getVueVersion()

                    this.bootstrap4_enabled_text = ''
                    var bootstrap4_enabled = (typeof $().emulateTransitionEnd == 'function');
                    if (bootstrap4_enabled) {
                        this.bootstrap4_enabled_text = 'Bootstrap 4 enabled';
                    }

                    this.bootstrap_tooltip_text = $.fn.tooltip.Constructor.VERSION
//                    this.bootstrap_jquery_confirm_text = $.jqueryconfirm.version
                    console.log("$::")
                    console.log($)


                    this.jquery_version = $.fn.jquery;
                    if (typeof $.ui != "undefined") {
                        this.jquery_ui_version = $.ui.version;
                    }

                    var deviceParams = this.effectiveDeviceWidth()
                    if (typeof deviceParams.width != "undefined" && typeof deviceParams.height != "undefined") {
                        this.device_text = deviceParams.width + "*" + deviceParams.height
                    }

                    $("#info_dialog").modal('show');
                }).catch((error) => {
                    this.showRunTimeError(error, app);
                });
            },

            cancelShowSystemInfoDialog: function () {
                $("#info_dialog").modal('hide');
            },


            viewAssigningTasks() {
//                alert( "viewAssigningTasks::"+var_dump(-14) )
                axios.get(window.API_VERSION_LINK + '/get_assigning_tasks_details').then((response) => {
//                      alert( "get_assigning_tasks_details response.data::"+var_dump(response.data) )
                    this.assigningTasksListing = response.data.assigningTasksListing
                    $("#assigning_tasks_listing_dialog").modal('show');
//                    bus.$emit('setAssigningTasksListingEvent', {
//                        'assigningTasksListing': response.data.assigningTasksListing
//                    }); // this resources/assets/js/components/user_chats/UserChatsRun.vue file will receive it
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.showRunTimeError(error, app);
                });
            }, // viewAssigningTasks() {

            cancelAssigningTasksListingDialog: function () {
                $("#assigning_tasks_listing_dialog").modal('hide');
            },


            viewUserWeatherLocations() {
                this.container_dialog_type = 'viewUserWeatherLocations'
                this.show_container_dialog_label = 'Your Weather Locations'
                $("#show_container_dialog").modal('show');
            }, // viewUserWeatherLocations() {

            cancelUserWeatherLocationsDialog: function () {
                this.container_dialog_type = ''
                this.show_container_dialog_label = ''
                $("#show_container_dialog").modal('hide');
            },


        } // methods: {

    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
