<template>

	<section class="card col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">

		<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('weather')" :header_title=header_title
		               :message=message></editor-header>

		<!-- WEATHER INFORMATION RESULTS MODAL START-->
		<div class="modal fade" id="weather_information_results_dialog" tabindex="-1" role="dialog" aria-labelledby="weather_information_results_dialog_label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<!--cityInfoArray::{{ cityInfoArray }}<br>-->
					<!--dayNumbersArray::{{ dayNumbersArray }}<br>-->
					<div class="modal-header">
						<h4 class="modal-title" id="weather_information_results_dialog_label">Weather info on selected location</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					</div>

					<div class="modal-body">
					<div class="card">

						<p class="card-title pb-5">
							{{ cityInfoArray.city_name }}, {{ cityInfoArray.country_label }}<br> {{ cityInfoArray.lat }},{{ cityInfoArray.lon }}
						</p>

						<v-collapse-group :onlyOneActive="true">

							<v-collapse-wrapper>

								<div class="a_link" v-collapse-toggle>
									<h4>Today, {{ today_date_label }}</h4>
								</div>

								<div class="v-collapse-content-end" v-collapse-content>
									<ul class="list-group weather_block">
										<li v-for="nextWeatherData, index in weatherDataArray">
											<div v-if="nextWeatherData.day_number == 0">
												<b>{{ nextWeatherData.time_label}}</b>:
												<p class="card-text pb-5">
													<img :src="nextWeatherData.icon_url" :alt="nextWeatherData.main_description">
													{{ nextWeatherData.main_description}},
													{{ nextWeatherData.temp}}&deg;C<br>
													{{ concatWeatherDataInfo(nextWeatherData) }}
												</p>
											</div>
										</li>
									</ul>
								</div>
							</v-collapse-wrapper>

							<div v-for="nextDayNumber,index in dayNumbersArray">
								<div v-if="nextDayNumber.key != 0">

									<v-collapse-wrapper :status="false">
										<div class="a_link" v-collapse-toggle>
											<h4><span v-if="nextDayNumber.key == 1">Tomorrow,</span> {{ nextDayNumber.label }}</h4>
										</div>
										<div class="" v-collapse-content>
											<ul class="list-group weather_block">
												<li v-for="nextWeatherData, index in weatherDataArray">
													<div v-if="nextWeatherData.day_number == nextDayNumber.key">
														<b>{{ nextWeatherData.time_label}}</b>:
														<p class="text-info pb-5">
															<img :src="nextWeatherData.icon_url" :alt="nextWeatherData.main_description">
															{{ nextWeatherData.main_description}},
															{{ nextWeatherData.temp}}&deg;C<br>
															{{ concatWeatherDataInfo(nextWeatherData) }}
														</p>
													</div>
												</li>
											</ul>
										</div>
									</v-collapse-wrapper>      l

								</div>
							</div>

						</v-collapse-group>

					</div> <!-- card -->
					</div> <!-- modal-body -->

					<div class="modal-footer">
						<div class="btn-group float-right">
							<button type="button" @click="cancelWeatherInformationResults()" class="btn btn-cancel-action">
								<i class="fa fa-remove"></i>&nbsp;Cancel
							</button>
						</div>
					</div>


				</div>
			</div>
		</div>
		<!-- WEATHER INFORMATION RESULTS MODAL END -->

		<section class="card">

			<div class="form-row mb-3">
				<label class="col-xs-12 col-sm-4 control-label" for="new_user_weather_location_input">New weather location:</label>
				<div class="col-xs-12 col-sm-8">
					<input class="new-new-user-weather-location form-control" autofocus autocomplete="off" placeholder="Add new location(city, country)"
					       v-model="newUserWeatherLocation.location" id="new_user_weather_location_input" @keyup.enter="addUserWeatherLocation">
				</div>
			</div>


			<section class="main" v-show="userWeatherLocationsList.length" v-cloak>
				<ul class="user-weather-locations-list">
					<li v-for="nextUserWeatherLocation, index in userWeatherLocationsList"
					    :key="nextUserWeatherLocation.id"
					    :class="{ editing: nextUserWeatherLocation == editedUserWeatherLocation }">
						<div class="view">

							<table>
								<tr>

									<td>
										<i class="fa fa-bolt view_link" title="View weather info" @click="viewWeatherInfo(nextUserWeatherLocation)"></i>&nbsp;&nbsp;
									</td>

									<td>
										<label @dblclick="startUserWeatherLocationEditing(nextUserWeatherLocation)">
											{{ nextUserWeatherLocation.location }}
										</label>
									</td>

									<td>&nbsp;&nbsp;
										<i class="fa fa-remove destroy_link" title="Delete user's weather location"
										   @click="removeUserWeatherLocation(nextUserWeatherLocation)"></i>
									</td>
								</tr>
							</table>
						</div>
						<input class="edit" type="text"
						       v-model="nextUserWeatherLocation.location"
						       v-user-weather-location-item-focus="nextUserWeatherLocation == editedUserWeatherLocation"
						       @blur="editingFinishUserWeatherLocationEditing(nextUserWeatherLocation)"
						       @keyup.enter="editingFinishUserWeatherLocationEditing(nextUserWeatherLocation)"
						       @keyup.esc="cancelUserWeatherLocationEditing(nextUserWeatherLocation)">

					</li>
				</ul>

				<div class="p-5">
					Based on <a href="http://openweathermap.org/" target="_blank">Openweathermap.org</a> API
				</div>
			</section>
		</section>


	</section>  <!-- class="card"-->

</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    import VueCollapse from 'vue2-collapse'

    Vue.use(VueCollapse) // https://roszpun.github.io/vue-collapse/#/?id=examples

    export default {

        mixins: [appMixin],

        data: function () {
            return {
                header_title: 'Your weather location\'s',
                message: '',
                userWeatherLocationsList: [],
                dayNumbersArray: [],
                today_date_label: '',
                weatherDataArray: [],
                cityInfoArray: {},
                newUserWeatherLocation: {location: '', location_type: 'C'},
                editedUserWeatherLocation: null,
                editable_user_weather_location_text: '',
                is_page_loaded: false,
                is_page_updating: false,
                is_insert: true,
            }

        }, // data: function () {


        created() {
        }, // created() {


        mounted() {
            this.loadUserWeatherLocationsList()
        }, // mounted() {


        methods: {
            concatWeatherDataInfo(nextWeatherData) {
                var dataArray = []
                if (typeof nextWeatherData.clouds != "undefined") {
                    dataArray[dataArray.length] = 'clouds: ' + nextWeatherData.clouds
                }
                if (typeof nextWeatherData.humidity != "undefined") {
                    dataArray[dataArray.length] = 'humidity: ' + nextWeatherData.humidity
                }
                if (typeof nextWeatherData.pressure != "undefined") {
                    dataArray[dataArray.length] = 'pressure: ' + nextWeatherData.pressure
                }
                var ret = this.concatStrings(dataArray, ', ');
                return ret;
            },

            loadUserWeatherLocationsList() {
                this.message = '';
                this.is_page_loaded = false

                axios.get(window.API_VERSION_LINK + '/user_weather_location_load').then((response) => {
                    this.is_page_loaded = true
                    this.userWeatherLocationsList = response.data.userWeatherLocationsList;

//                    setTimeout(function() {
//                        $( "#default_btn_1" ).trigger( "click" );
//                    }, 100);

                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadUserWeatherLocationsList() {

            addUserWeatherLocation: function () {
                if (this.newUserWeatherLocation.location.trim() == '') {
                    return;
                }
                axios({
                    method: ( 'post' ),
                    url: window.API_VERSION_LINK + '/user_weather_location_store',
                    data: this.newUserWeatherLocation,
                }).then((response) => {
                    this.is_page_updating = false
                    this.newUserWeatherLocation = {location: '', location_type: 'C', id: -1};
                    this.loadUserWeatherLocationsList()
                    this.showPopupMessage('User\'s weather location added successfully . ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error adding user\'s weather location : ' + error.response.data.message, 'error');
                });

            },


            updateUserWeatherLocation: function () {
                if (this.editedUserWeatherLocation.location.trim() == '') {
                    return;
                }
                axios({
                    method: ( 'patch' ),
                    url: window.API_VERSION_LINK + '/user_weather_location_update/' + this.editedUserWeatherLocation.id,
                    data: this.editedUserWeatherLocation,
                }).then((response) => {
                    this.is_page_updating = false
                    this.editedUserWeatherLocation = {location: '', location_type: 'C', id: -1};
                    this.loadUserWeatherLocationsList()
                    this.newUserWeatherLocation.location = '';
                    this.showPopupMessage('User\'s weather location updated successfully . ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.newUserWeatherLocation.location = '';
                    this.showPopupMessage('Error updating user\'s weather location : ' + error.response.data.message, 'error');
                });

            },

            viewWeatherInfo: function (userWeatherLocation) {
                axios.get(window.API_VERSION_LINK + '/get_weather_info_by_location/' + userWeatherLocation.location).then((response) => {
                    this.weatherDataArray = response.data.weatherDataArray
                    this.cityInfoArray = response.data.cityInfoArray
                    this.dayNumbersArray = response.data.dayNumbersArray;
                    this.today_date_label = response.data.today_date_label;
                    $("#weather_information_results_dialog").modal('show');
                }).catch((error) => {
                    this.showPopupMessage('Error viewing weather location. ', 'error');
                    this.showRunTimeError(error, this);
                });

            },

            cancelWeatherInformationResults: function () {
                $("#weather_information_results_dialog").modal('hide');
            },

            removeUserWeatherLocation: function (userWeatherLocation) {
                this.confirmMsg("Do you want to delete user's weather location ?", () => {
                    axios.delete(window.API_VERSION_LINK + '/user_weather_location_destroy/' + userWeatherLocation.id).then((response) => {
                        this.loadUserWeatherLocationsList()
                        this.showPopupMessage('User\'s weather location deleted successfully. ', 'success');
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting user\'s weather location. ', 'error');
                        this.showRunTimeError(error, this);
                    });
                    this.userWeatherLocationsList.splice(this.userWeatherLocationsList.indexOf(userWeatherLocation), 1)
                });
            },

            startUserWeatherLocationEditing: function (userWeatherLocation) {
                this.editable_user_weather_location_text = userWeatherLocation.location
                this.editedUserWeatherLocation = userWeatherLocation
            },

            editingFinishUserWeatherLocationEditing: function (userWeatherLocation) {
                if (!this.editedUserWeatherLocation) {
                    return
                }
                this.updateUserWeatherLocation()
            },

            cancelUserWeatherLocationEditing: function (userWeatherLocation) {
                this.editedUserWeatherLocation = null
                userWeatherLocation.location = this.editable_user_weather_location_text
            },

        }, // methods


        directives: { // http://vuejs.org/guide/custom-directive.html
            'user-weather-location-item-focus': function (el, binding) {
                if (binding.value) {
                    el.focus()
                }
            }
        }


    } // export default {


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>


<style scoped lang="css">
	[v-cloak] {
		display: none;
	}

	.weather_block {
		max-height: 380px;
		overflow-y: scroll;
		padding: 5px;
		border: 1px dotted grey;
		/*background-color: yellow;*/
	}

	:focus {
		outline: 0;
	}

	.hidden {
		display: none;
	}

	.edit {
		position: relative;
		margin: 0;
		width: 100%;
		line-height: 1.4em;
		padding: 6px;
		border: 1px solid #999;
		box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
	}

	.new-new-user-weather-location {
		border: 1px double gray;
	}

	.main {
		position: relative;
		z-index: 2;
		border-top: 1px solid #e6e6e6;
	}

	.user-weather-locations-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.user-weather-locations-list li {
		position: relative;
		border-bottom: 1px solid #ededed;
	}

	.user-weather-locations-list li:last-child {
		border-bottom: none;
	}

	.user-weather-locations-list li.editing {
		border-bottom: none;
		padding: 0;
	}

	.user-weather-locations-list li.editing .edit {
		display: block;
		width: 506px;
		padding: 12px 16px;
		margin: 0 0 0 43px;
	}

	.user-weather-locations-list li.editing .view {
		display: none;
	}

	.user-weather-locations-list li label {
		word-break: break-all;
		padding: 15px 40px 15px 15px;
		margin-left: 15px;
		display: block;
		line-height: 1;
	}

	.user-weather-locations-list li.completed label {
		text-decoration: line-through;
	}

	.view_link {
		display: none;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 20px;
		/*right: -25px;*/
		bottom: 0;
		width: 30px;
		height: 30px;
		margin: auto 0;
		margin-bottom: 1px;
		margin-right: 20px;
	}

	li:hover .view_link {
		display: block;
	}

	.destroy_link {
		display: none;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: -10px;
		bottom: 0;
		width: 30px;
		height: 30px;
		margin: auto 0;
		margin-bottom: 1px;
	}

	li:hover .destroy_link {
		display: block;
	}

	.user-weather-locations-list li .edit {
		display: none;
	}

	.user-weather-locations-list li.editing:last-child {
		margin-bottom: -1px;
	}

	.clear-completed,
	html .clear-completed:active {
		float: right;
		position: relative;
		line-height: 20px;
		text-decoration: none;
		cursor: pointer;
	}

	.clear-completed:hover {
		text-decoration: underline;
	}

	.info {
		margin: 65px auto 0;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		text-align: center;
	}

	.info p {
		line-height: 1;
	}

	.info a {
		text-decoration: none;
	}

	.info a:hover {
		text-decoration: underline;
	}


</style>