<template>

	<section class="card col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">

		<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('document_category')" :header_title=header_title
		               :message=message></editor-header>


		<section class="card-body" v-show="is_page_loaded">


			<form @submit.prevent="validateBeforeSubmit">

				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-xs-12 col-sm-4 col-form-label">ID</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" v-model="documentCategory.id" class="form-control integer_input" readonly>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label">Name<span class="required"> * </span></label>
					<div class="col-xs-12 col-sm-8">
						<input id="name" name="name" v-validate="'required|max:255'" v-model="documentCategory.name"
						       :class="{ 'form-control':true, 'input': true, 'text-danger': vueErrorsList.has('name') }" type="text"
						       placeholder="Enter unique name of document category">
						<span v-show="vueErrorsList.has('name')" class="text-danger">{{ vueErrorsList.first('name') }}</span>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label">Type<span class="required"> * </span></label>
					<div class="col-xs-12 col-sm-8">
						<select id="type" name="type" v-validate="'required'" :class="{ 'form-control':true, 'errors':
								vueErrorsList.has('type') }"
						        v-model="documentCategory.type">
							<option value=""> -Select type- </option>
							<option v-for="nextType, index in documentCategoryTypeSelectionList" v-bind:value="nextType.key">{{ nextType.label }}
							</option>
						</select>
						<span v-show="vueErrorsList.has('type')" class="text-danger">{{ vueErrorsList.first('type') }}</span>
					</div>
				</div>


				<div class="form-row mb-3">
					<label class="col-xs-12 col-sm-4 col-form-label" for="document_category_content">Description<span class="required"> * </span>
						<br>
						<small style="font-weight: normal">Markdown format</small>
					</label>
					<div class="col-xs-12 col-sm-8">
						<markdown-editor :content="documentCategory.description" :editor_type="'document_category'" :unique_id="document_category_id"
						                 :how_short_help_text=true :show_full_help_link=true></markdown-editor>
					</div>
				</div>


				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-xs-12 col-sm-4 col-form-label">Created at</label>
					<div class="col-xs-12 col-sm-8">
						<input type="text" v-model="documentCategory.created_at_label" class="form-control" readonly>
					</div>
				</div>

				<editor-buttons :submit_label="submit_label" cancel_label="Cancel" :cancel_link="'#/admin/document_categories'" :is_page_updating="is_page_updating"></editor-buttons>
				
			</form>

		</section>   <!-- class="card-body" -->


	</section>  <!-- class="card" -->

</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    Vue.component('markdown-editor', require('../../components/lib/MarkdownEditor.vue'));
    Vue.component('editor-header', require('../../components/lib/EditorHeader.vue'));
    Vue.component('editor-buttons', require('../../components/lib/EditorButtons.vue'));

    export default {
        created() {
            if (this.$route.params.id == "new") {
                this.is_insert = true
                this.document_category_id = "new"
                this.submit_label = "Add"
            } else {
                this.document_category_id = this.$route.params.id
            }

            bus.$on('MarkdownEditorModifiedEvent', (editor_content, editor_type, unique_id) => {
                if (editor_type == 'document_category' && ( ( unique_id == this.documentCategory.id && !this.is_insert ) || ( unique_id == "new" && this.is_insert ) )) {
                    this.documentCategory.description = editor_content;
                }
            })

            this.$validator.localize(window.CURRENT_LANG, {
                attributes: {
                    document_category_content: 'description',
                }
            });

        },

        mixins: [appMixin],

        mounted() {
            if (!this.is_insert) { // retrieve row for editing
                this.loadDocumentCategory();
            }
            this.loadDocumentCategoryDictionaries();
            this.setAppTitle(this.header_title, false);
            bus.$emit('pageOpenedEvent', 'document_categories', 'edit', true, []);
        }, // mounted() {


        data: function () {
            return {
                is_page_loaded: false,
                is_page_updating: false,
                is_insert: false,
                submit_label: "Update",
                document_category_id: null,
                documentCategory: {
                    name: '',
                    description: '',
                },
                documentCategoryTypeSelectionList: [],
                message: '',
            }
        }, // data: function () {

        computed: {

            header_title: function () {
                if (!this.is_insert) return "Edit document category";
                return "Add document category";
            },

        }, // computed: {


        methods: {

            loadDocumentCategory() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/document_categories/' + this.$route.params.id).then((response) => {
                    this.is_page_loaded = true
                    this.documentCategory = response.data.documentCategory;
                }).catch((error) => {
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'error');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                    this.showRunTimeError(error, app);
                });
            }, // loadDocumentCategory() {

            loadDocumentCategoryDictionaries() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/document_categories_dictionaries').then((response) => {
                    this.is_page_loaded = true
                    this.documentCategoryTypeSelectionList = response.data.documentCategoryTypeSelectionList;
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });
            }, // loadDocumentCategoryDictionaries() {


            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateDocumentCategory()
                    } else {

                        bus.$emit('editorValidationFail', 'document_category', this.document_category_id);
                        this.showPopupMessage('Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' document category. ', 'error');
                    }
                })
            }, // validateBeforeSubmit() {

            updateDocumentCategory() {
                this.is_page_updating = true
                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
                    url: window.API_VERSION_LINK + '/document_categories' + ( !this.is_insert ? "/" + this.document_category_id : ''),
                    data: this.documentCategory,
                }).then((response) => {
                    this.is_page_updating = false
                    this.$router.push({path: '/admin/document_categories'});
                    this.showPopupMessage('Document category ' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully. ', 'success');
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showRunTimeError(error, this);
                    this.showPopupMessage('Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' document category. ', 'error');
                });

            }, // updateDocumentCategory() {

        } // methods: {

    }
</script>
