<template>
	<section class="card">

		<listing-header :show_loading_image=is_page_loaded :rows_count=rows_count :current_page=current_page :itemsList="documentCategories"
		                :header_icon="getHeaderIcon('document_category')" :header_title=header_title
		                :message=message :item_title="'row'" :right_add_button_link="'editDocumentCategory'"></listing-header>

		<section class="card-body" v-if="is_page_loaded && documentCategories.length">

			<table class="table table-striped text-primary table-responsive">
				<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Type</th>
					<th>Description</th>
					<th>Created at</th>
					<th width="100">&nbsp;</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="nextDocumentCategory, index in documentCategories">
					<td class="integer_cell">{{ nextDocumentCategory.id }}</td>
					<td>
						<span :id="'span_document_category_name_'+nextDocumentCategory.id">{{ nextDocumentCategory.name }}</span>
						<span v-if="nextDocumentCategory.user_profile_documents_count > 0">
									<span class="text-muted"><small> ( Used in {{ nextDocumentCategory.user_profile_documents_count }} profile
									document(s) )</small></span>
								</span>
						<span v-if="nextDocumentCategory.user_chat_message_documents_count > 0">
									<span class="text-muted"><small> ( Used in {{ nextDocumentCategory.user_chat_message_documents_count }}
									chat message(s) )</small></span>
								</span>
					</td>
					<td>{{ nextDocumentCategory.type_label }}</td>
					<td>{{ concatStr(nextDocumentCategory.description, 100) }}</td>
					<td class="datetime_cell">{{ nextDocumentCategory.created_at_label }}</td>

					<td>
						<router-link :to="{name: 'editDocumentCategory', params: {id: nextDocumentCategory.id}}">
							<i class="fa fa-edit mr-3" title="Edit document category"></i>
						</router-link>
						<a v-on:click="removeDocumentCategory(nextDocumentCategory.id, nextDocumentCategory.name, index)">
							<i class="fa fa-remove a_link" title="Delete document category"></i>
						</a>
					</td>

				</tr>
				</tbody>
			</table>

		</section>  <!-- class="card-body" -->

		<section class="card-footer">
			<listing-pagination :current="current_page" :total="rows_count" :items_per_page="per_page" :show_next_prior_buttons=false
			                    @paginationPageChangedEvent="loadDocumentCategoriesList"></listing-pagination>
		</section>

	</section>  <!-- class="card" -->
</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    Vue.component('listing-pagination', require('../../components/lib/ListingPagination.vue'));
    Vue.component('listing-header', require('../../components/lib/ListingHeader.vue'));

    export default {
        data: function () {
            return {
                header_title: 'Document Categories',
                is_page_loaded: false,
                documentCategories: [],
                message: '',
                rows_count: 0,
                per_page: 10,
                current_page: 1,
                order_by: 'created_at',
                order_direction: 'desc',
            }
        }, // data: function () {

        mixins: [appMixin],

        created() {
        },

        mounted() {
            this.loadDocumentCategoriesList(1, this.order_by, this.order_direction)
        }, // mounted() {

        methods: {

            loadDocumentCategoriesList(page, order_by, order_direction) {
//                alert( "loadDocumentCategoriesList page::"+page + "  order_by::"+order_by  + "  order_direction::"+order_direction )
                this.message = '';
                this.is_page_loaded = false
                if (typeof order_by == "undefined") {
                    order_by = this.order_by
                }
                if (typeof order_direction == "undefined") {
                    order_direction = this.order_direction
                }
                var params_str = this.getPaginationParams(page, order_by, order_direction, true)
                this.current_page = page
                axios.get(window.API_VERSION_LINK + '/document_categories' + params_str).then((response) => {
                    this.is_page_loaded = true
                    this.documentCategories = response.data.documentCategoriesList;
                    this.setAppTitle(this.header_title, false);
                    this.rows_count = response.data.rows_count;
                    this.per_page = response.data.per_page
                    bus.$emit('pageOpenedEvent', 'document_categories', 'listing', true, []);
                }).catch((error) => {
                    this.is_page_loaded = true
                    this.showRunTimeError(error, this);
                });

            }, // loadDocumentCategoriesList() {

            removeDocumentCategory(id, document_category_name, index) {
                this.message = '';
                this.confirmMsg("Do you want to delete '" + document_category_name + "' document category ?", () => {
                    axios.delete(window.API_VERSION_LINK + '/document_categories/' + id).then((response) => {
                        this.loadDocumentCategoriesList(1, this.order_by, this.order_direction)
                        this.showPopupMessage('Document category deleted successfully. ', 'success');
                    }).catch((error) => {
                        this.showPopupMessage('Error deleting document category. ', 'error');
                        this.showRunTimeError(error, this);
                    });
                });
            }, //removeDocumentCategory(id, document_category_name, index) {

        } // methods: {
    }
</script>
