<template>

	<div >

		<!--<h3>/test/Test.vue Start</h3>-->



		<!--<button v-popover:foo>Toggle popover</button>-->

		<!--<popover name="foo">-->
			<!--Hello 🎉-->
		<!--</popover>-->

		<hr><hr>

		<!--Hello, please check out the code below. I think you might have a mistake in your loop, it should be v-for"(item, index) in items". Also you passed a numeric value id from your popoverDataArray, when it should have been a String. Please try it out and play around with it.-->

		<!--event:   { type: String,  default: 'click' }-->
		<!--If you want Blade to ignore Vue's variable printing syntax, you can simply prepend it with @ like so @{{ vue-variable }}-->

		<!--popoverDataArray::{{ popoverDataArray }}-->
		<!--<ul>-->
			<!--<li v-for="(popoverData, index) in popoverDataArray">-->

				<!--<button v-popover="{ name: 'hint_'+popoverData.id, event :'hover' }" >-->

					<!--Toggle popover # {{ popoverData.id }}-->

				<!--</button>-->

				<!--<popover :name="'hint_'+popoverData.id">-->
					<!--<span v-html="popoverData.text"></span>-->
				<!--</popover>-->

			<!--</li>-->
		<!--</ul>-->


		<!--<ul>-->
			<!--<li v-for="popoverData, index in popoverDataArray">-->
				<!--<button v-popover:hint_+popoverData.id>Toggle popover # {{ popoverData.id }}</button>-->

				<!--<popover name="'hint_'+popoverData.id">-->
					<!--{{ popoverData.text }}-->
				<!--</popover>-->

			<!--</li>-->
		<!--</ul>-->

		<!--Looks like you're using shorthand directive syntax at :v-popover= should that be.. v-popover= or possibly :popover= – Alan Jenkins 2 hours ago-->

		<!--<task-operation :debugging_id="50"></task-operation>-->

		<!--<source-viewer ></source-viewer>-->
		<!--<user-profiles-edit  ></user-profiles-edit>-->
	<!--<weather-viewer></weather-viewer>-->
		<!--<tasks-edit  :debugging_id="1"></tasks-edit>-->
		<!--<events-edit  :debugging_id="1"></events-edit>-->

		<!--<tasks_index></tasks_index>-->


		<!--<user-chats-run :debug_id="1"></user-chats-run>-->

	</div>


</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

//    import CalendarView from "vue-simple-calendar"
//    require("vue-simple-calendar/dist/static/css/default.css")
//    require("vue-simple-calendar/dist/static/css/holidays-us.css")
// file:///_wwwroot/lar/tasks/node_modules/vue-simple-calendar/dist/static/css/default.css
    //
    
    Vue.component( 'task-operation',  require( '../../components/tasks/TaskOperation.vue') );
    Vue.component( 'user-chats-run',  require( '../../components/user_chats/UserChatsRun.vue' ) );  // import UserChatsRun from './components/user_chats/UserChatsRun.vue';
    Vue.component( 'weather-viewer',  require( '../../components/lib/WeatherViewer.vue' ) );  // resources/assets/js/components/lib/WeatherViewer.vue
    Vue.component( 'tasks-edit',  require( '../../components/tasks/TasksEdit.vue' ) );  // import TasksEdit from './components/tasks/TasksEdit.vue';
    Vue.component( 'events-edit',  require( '../../components/events/EventsEdit.vue' ) );  // import TasksEdit from './components/tasks/EventsEdit.vue';
    Vue.component( 'tasks_index',  require( '../../components/tasks/TasksIndex.vue' ) );  // resources/assets/js/components/tasks/TasksIndex.vue
    Vue.component( 'source-viewer',  require( '../../components/lib/SourceViewer.vue' ) );  // resources/assets/js/components/lib/SourceViewer.vue
//    Vue.component( 'user-events-calendar',  require( '../../components/lib/UserEventsCalendar.vue' ) );  // resources/assets/js/components/lib/UserEventsCalendar.vue
    Vue.component( 'user-profiles-edit',  require( '../../components/user_profiles/UserProfilesEdit.vue' ) );  // resources/assets/js/components/user_profiles/UserProfilesEdit.vue


//    import TaskOperation from './components/tasks/TaskOperation.vue';

//    var data= [
//        { startDate : "2018-02-12 16:00", endDate : "2018-02-12 18:20", title : "event1", id : 12, url : 'http://site.com/12' },
//        { startDate : "2018-02-12 19:30", endDate : "2018-02-14 22:35", title : "event2", id : 13, url : 'http://site.com/13' },
//        { startDate : "2018-02-12 20:10", endDate : "2018-02-14 23:50", title : "event3", id : 14, url : 'http://site.com/14' },
//    ];

    var demoEvents = [
        {
            title : 'Sunny Out of Office',
            start : '2018-02-12',
            end : '2018-02-27'
        },

	    {
            title : 'Let it be',
            start : '2018-02-09',
            end : '2018-02-14'
        },


        {
            title : 'Let it be233',
            start : '2018-02-02',
            end : '2018-02-18'
        },
        {
            title : 'Let it bezzzz',
            start : '2018-02-09',
            end : '2018-03-05'
        },

    ]
    export default {

        mixins: [appMixin],

        data: function () {
            return {
                header_title: 'Test',
                showDate: new Date(),
//                myProfileEvents : data,
                fcEvents : demoEvents,


                popoverDataArray:[
	                {id: 1, text : '<i>Lorem  ipsum dolor</i> sit <b>amet, 1111</b>' },
	                {id: 2, text : 'Lorem <b>ipsum dolor sit</b> amet, <u>2222.</u>' },
	                {id: 3, text : 'Lorem  ipsum dolor sit <i>amet, 3333.</i>' },
	                {id: 4, text : 'Lorem  ipsum dolor sit amet, 4444.' },
	                {id: 5, text : 'Lorem  ipsum dolor sit amet, 5555.' },
                ],

        }

        }, // data: function () {


        components: {
//            'full-calendar': require('vue-fullcalendar')
//            CalendarView
        }, // components: {

        created() {
        }, // created() {


        mounted() {
        }, // mounted() {

        methods: {
            setShowDate(d) {
                this.showDate = d;
            },
        }, // methods

    } // export default {



//
//    window.addEventListener('hashchange', onHashChange)
//    onHashChange()


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }
</script>


<style scoped lang="css">
	[v-cloak] { display: none; }





	/*#app {*/
		/*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
		/*color: #2c3e50;*/
		/*height: 67vh;*/
		/*width: 90vw;*/
		/*margin-left: auto;*/
		/*margin-right: auto;*/
	/*}*/



	/* Grid */

	/*.calendar-view .day .today {*/
		/*!*height: 7em !important;*!*/
		/*min-height: 200px;*/
		/*background-color: maroon !important;*/
	/*}*/

	/*.calendar-view .day .past {*/
		/*!*height: 7em !important;*!*/
		/*min-height: 200px;*/
		/*background-color: yellow !important;*/
		/*border: 2px solid red !important;*/
	/*}*/

	/*.calendar-view .day .outsideOfMonth {*/
		/*!*height: 7em !important;*!*/
		/*min-height: 200px;*/
		/*background-color: yellow !important;*/
		/*border: 2px solid red !important;*/
	/*}*/




</style>