<template>
	<section class="card col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">

		<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_title=header_title :message=message></editor-header>

		<section class="card-body">
			<form v-on:submit.prevent="updateDocumentCategory()">


				<div class="row">
					<div class="col-xs-12 form-group">
						<label class="col-xs-12 col-sm-4 control-label" for="name">Name<span class="required"> * </span></label>
						<div class="col-xs-12 col-sm-8">
							<input type="text" id="name" v-model="newUser.name" v-bind:class="{'form-control':true, 'text-danger': errorsList.name}">
							<div v-if="errorsList.name" class="text-danger">{{ errorsList.name[0] }}</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-xs-12 form-group">
						<label class="col-xs-12 col-sm-4 control-label" for="email">Email<span class="required"> * </span></label>
						<div class="col-xs-12 col-sm-8">
							<input type="text" id="email" v-model="newUser.email" v-bind:class="{'form-control':true, 'text-danger': errorsList.email}">
							<div v-if="errorsList.email" class="text-danger">{{ errorsList.email[0] }}</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-xs-12 form-group">
						<label class="col-xs-12 col-sm-4 control-label" for="password">Password<span class="required"> * </span></label>
						<div class="col-xs-12 col-sm-8">
							<input type="password" id="password" v-model="newUser.password" v-bind:class="{'form-control':true, 'text-danger': errorsList.password}">
							<div v-if="errorsList.password" class="text-danger">{{ errorsList.password[0] }}</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 form-group">
						<label class="col-xs-12 col-sm-4 control-label" for="password_2">Confirm Password<span class="required"> * </span></label>
						<div class="col-xs-12 col-sm-8">
							<input type="password_2" id="password_2" v-model="newUser.password_2" v-bind:class="{'form-control':true, 'text-danger': errorsList.password_2}">
							<div v-if="errorsList.password_2" class="text-danger">{{ errorsList.password_2[0] }}</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-xs-12 form-group">
						<label class="col-xs-12 col-sm-4 control-label" for="first_name">First name<span class="required"> * </span></label>
						<div class="col-xs-12 col-sm-8">
							<input type="text" id="first_name" v-model="newUser.first_name" v-bind:class="{'form-control':true, 'text-danger': errorsList.first_name}">
							<div v-if="errorsList.first_name" class="text-danger">{{ errorsList.first_name[0] }}</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-xs-12 form-group">
						<label class="col-xs-12 col-sm-4 control-label" for="last_name">Last name<span class="required"> * </span></label>
						<div class="col-xs-12 col-sm-8">
							<input type="text" id="last_name" v-model="newUser.last_name" v-bind:class="{'form-control':true, 'text-danger': errorsList.last_name}">
							<div v-if="errorsList.last_name" class="text-danger">{{ errorsList.last_name[0] }}</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-xs-12 form-group">
						<label class="col-xs-12 col-sm-4 control-label" for="phone">Phone<span class="required"> * </span></label>
						<div class="col-xs-12 col-sm-8">
							<input type="text" id="phone" v-model="newUser.phone" v-bind:class="{'form-control':true, 'text-danger': errorsList.phone}">
							<div v-if="errorsList.phone" class="text-danger">{{ errorsList.phone[0] }}</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-xs-12 form-group">
						<label class="col-xs-12 col-sm-4 control-label" for="website">Website<span class="required"> * </span></label>
						<div class="col-xs-12 col-sm-8">
							<input type="text" id="website" v-model="newUser.website" v-bind:class="{'form-control':true, 'text-danger': errorsList.website}">
							<div v-if="errorsList.website" class="text-danger">{{ errorsList.website[0] }}</div>
						</div>
					</div>
				</div>

				<editor-buttons submit_label="Update" cancel_label="Cancel" cancel_link="dashboard" :is_page_updating="is_page_updating"></editor-buttons>
				
			</form>

		</section> <!-- class="card-body" -->

	</section>  <!-- class="card" -->

</template>
<script>
    import Flash from '../../helpers/flash'
    import {post} from '../../helpers/api'
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    //    Vue.component( 'editor-header',  require( '../../components/lib/EditorHeader.vue') );
    //    Vue.component( 'editor-buttons',  require( '../../components/lib/EditorButtons.vue') );

    export default {

        created() {
//             alert( " /_wwwroot/lar/tasks/resources/assets/js/components/Auth/Register.vue  created::"+(1) )
        },
        mounted() {
//             alert( " /_wwwroot/lar/tasks/resources/assets/js/components/Auth/Register.vue  mounted::"+(123) )
        },
        data() {
            return {

                header_title: 'Create an Account',
                is_page_loaded: false,
                is_page_updating: false,
                newUser: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                },
                error: {},
                message: '',
                isProcessing: false
            }
        },
        methods: {
            register() {
                alert("newUser::" + var_dump(newUser))
//                this.isProcessing = true
//                this.error = {}
//                post('api/register', this.form)
//                    .then((res) => {
//                        if(res.data.registered) {
//                            Flash.setSuccess('Congratulations! You have now successfully registered.')
//                            this.$router.push('/login')
//                        }
//                        this.isProcessing = false
//                    })
//                    .catch((err) => {
//                        if(err.response.status === 422) {
//                            this.error = err.response.data
//                        }
//                        this.isProcessing = false
//                    })
            }
        }
    }
</script>
