// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Font Awesome
@import "~font-awesome/scss/font-awesome";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font-family: 'Lato', 'sans-serif';
  font-weight: normal !important;
  background-color: $body-bg;
}

/* MODAL DIALOG BLOCK START */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  //width: 300px;
  width: 90%;
  height: 90%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 10px;
  background-color: green;
}

.modal-footer {
  //margin: 10px 10px 20px 10px;
  //padding: 0 0 20px 0px;
  background-color: red;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* MODAL DIALOG BLOCK END */

/* DROPDOWN MENU BLOCK START */

//.dropdown-menu
//{
//  background-color: #34495e;
//  box-shadow: none;
//  -webkit-box-shadow: none;
//  width: 250px;
//  margin-left: -125px;
//  left: 50%;
//}
//.dropdown-menu .divider
//{
//  background:none;
//}
//.dropdown-menu>li>a
//{
//  color:#f5f5f5;
//}
//.dropup .dropdown-menu
//{
//  margin-bottom:10px;
//}
//.dropup .dropdown-menu:before
//{
//  content: "";
//  border-top: 10px solid #34495e;
//  border-right: 10px solid transparent;
//  border-left: 10px solid transparent;
//  position: absolute;
//  bottom: -10px;
//  left: 50%;
//  margin-left: -10px;
//  z-index: 10;
//}

/* DROPDOWN MENU BLOCK END */

/* JQUERY_CONFIRM LIBRARY BLOCK START */
.jconfirm .jconfirm-box div.title-c .title {
  background-color: $background_color;
  color: $text-color;
  font-weight: bold;
}

.jconfirm.jconfirm-white .jconfirm-box .buttons button {
  margin: 0.8em;
}

/* TREE VIEW BLOCK START */
.item {
  cursor: pointer;
  //background-color: green;
}

.tasks-treeview-item {
  padding-left: 2.5em;
  line-height: 2em;
  list-style-type: dot;
  //background-color: blue;
}

/* TREE VIEW BLOCK END */

/* COMMON BLOCK START */

//.card-body {
//  background-color: yellow!important;
//}
@if ($debug_mode  == 1) {

  .card {
    border: 2px solid red;
  }

  .card-title {
    border: 2px solid black;
    background-color: lightpink;
    margin: 0;
  }

  .card-header {
    border: 2px solid yellow;
    background-color: violet;
    margin: 0;
  }

  .card-subtitle {
    border: 2px solid maroon;
    background-color: lightgray;
    margin: 0;
    padding: 10px;
  }

  .card-body {
    border: 2px solid navy;
    background-color: lightgreen;
  }

  .card-footer {
    border: 2px solid red;
    background-color: yellow;
    margin: 0;
    padding: 10px;
  }
}

@if ($debug_mode  != 1) {
  .card {
  }

  .card-title {
    background-color: $body-bg !important;
  }

  .card-header {
    background-color: $body-bg !important;
  }

  .card-subtitle {
    background-color: $body-bg !important;
  }

  .card-body {
    background-color: $body-bg !important;
  }

  .card-footer {
    background-color: $body-bg !important;
  }
}


.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
  width: 34px;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  //margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

//.col-form-label {
//  color:#212529 !important;
//}
//
//.form-row > .col, .form-row > [class*="col-"] {
//  color:#212529 !important;
//}

.user_block {
  padding: 0 0 40px 0;
  border: 2px dotted pink;
  margin: 0;
}

.v-collapse-content-end {
  min-height: 760px;
  border: 1px solid gray;
  padding: 5px;
  margin: 0;
  font-weight: 700;
  //background-color: yellow;
}

.source_file_content {
  height: 740px;
  overflow-y: scroll;
  //border: 3px solid yellow;
  //background-color: maroon;
}

.task-editor-icon {
  color: #0542eb;
  background-color: #c5fffe;
}

.bold {
  font-weight: bold;
}

.pagination {
  margin: 10px !important;
  padding: 0 !important;
}

.panel-heading {
  border: none;
}

.no_data_found {
  margin: 0 0 100px 20px;
  font-weight: bold;
  text-align: left;
}

.highlight {
  background-color: yellow;
}

fieldset {
  padding: $indent_sm;
  margin: 0;
  border: 2px solid $border_color;
  width: 100%;
  legend {
    width: auto;
    margin: 0;
    padding: $indent_sm;
    border-bottom: 0;
  }
}

/* COMMON BLOCK END */

/* EDITORS BLOCK START */
//.form-control  {
//  background-color: green;
//  color: red;
//}

//.form-control {
//  @extend.color text-primary.color;
//  border: 1px dotted green;
//}

.col-xs-12 {
  padding: 0 0 0 10px;
}

.col-sm-6 {
  padding: 0 0 0 10px;
}

.editable_field {
  color: $text_color;
  @if ($debug_mode  == 1) {
    border: 2px darkgray solid;
  }
}

.money_input, .money_input:focus {
  text-align: right;
  color: $text_color;
  @if ($debug_mode  == 1) {
    border: 2px green dotted !important;
  }
}

.float_input, .float_input:focus {
  text-align: right;
  color: $text_color;
  @if ($debug_mode  == 1) {
    border: 2px maroon dotted !important;
  }
}

.td_right {
  text-align: right;
}

.td_center {
  text-align: center;
}

.integer_input, .integer_input:focus {
  text-align: right;
  color: $text_color;
  @if ($debug_mode  == 1) {
    border: 2px brown dotted !important;
  }
}

.string_input, .string_input:focus {
  text-align: left;
  color: $text_color;
  @if ($debug_mode  == 1) {
    border: 2px yellow dotted !important;
  }
}

.input_file {
  padding: 0px;
  border: none;
  background-color: #2579A9;
  color: white;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul_one_line {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    float: left;
    padding: $indent_sm;
  }
}

.ul_multiline {
  padding: $indent_sm $indent_sm $indent_sm $indent_sm;

  a {
    cursor: pointer;
  }

  li {
    list-style: none;
  }
}

input[type="file"] {
  margin: 0;
  padding: 5px 0px 25px 0 !important;
  //width: 0;
  height: 0;
  border: 130px;
  overflow: hidden;
  position: absolute;
}

.date_input, .date_input:focus {
  text-align: left;
  color: $text_color;
}

.textarea_input, .textarea_input:focus {
  text-align: left;
  color: $text_color;
  @if ($debug_mode  == 1) {
    border: 2px blue dotted !important;
  }
}

.select_input, .select_input:focus {
  @if ($debug_mode  == 1) {
    border: 2px red dotted !important;
  }
  padding: 0;
  margin: 5px;
}

.file_input, .file_input:focus {
  text-align: left;
  color: $text_color;
  @if ($debug_mode  == 1) {
    border: 2px lightgrey dotted !important;
  }
}

.integer_cell, .integer_cell:focus {
  text-align: right;
}

.float_cell, .float_cell:focus {
  text-align: right;
}

.icon_cell, .icon_cell:focus {
  text-align: center;
}

.datetime_cell, .center_cell, .datetime_cell:focus {
  text-align: center;
}

.regexp_item, .regexp_item :focus {
  font-family: DejaVu Sans Mono;
  font-size: 14px;
}

/* TEST VUE.JS BLOCK START */
.available {
  background-color: red;
}

/* TEST VUE.JS BLOCK end */

/* EL ELEMENTS BLOCK START */
//.el-input .el-input--suffix .is-focus{
//.el-select{
//  //color: ;
//  color: green !important;
//  background-color: yellow !important;
//  line-height: 1em;
//}

.el-select-dropdown__item {
  color: black !important;
  //background-color: maroon !important;
  line-height: 24px;

}

.el-select {
  color: $text-color !important;
  //background-color: yellow !important;
  line-height: 24px;
  //min-width: 400px;
}

.el-input__inner {
  color: $text-color !important;
  //background-color: yellow !important;
  line-height: 24px;
  //min-width: 400px;
  //border:2px dotted red;

}

/* EL ELEMENTS BLOCK END */

/* CHAR ELEMENTS BLOCK START */
.input_with_btn_at_right {
  display: flex;
  padding: 0;
}

.input_with_btn_at_right input {
  flex: 1 auto;
}

.input_with_btn_at_right button {
  border-radius: 0;
}

.typing_text_block {
  margin: 10px 10px 10px 10px;
  padding: 5px 0px 5px 0px;
}

//.div_chat_messages_listing {
//  background-color: green;
//  border:blue 2px dotted;
//}
//.ul_chat_messages_listing {
//  background-color: yellow;
//  border: red 2px dotted;
//}
.new_user_chat_text {
  color: red !important;
  background-color: white !important;
}

.chat_title {
  font-weight: 900;
  font-size: larger;
}

.chat_description {
  font-weight: normal;
  font-size: small;
}

.chat_status_label {
  font-weight: normal;
  font-size: medium;
}

.chat_users_list {
  //background-color: green;
}

.user_chat_control {
  border-bottom: 0px dotted darkgray;
  //border: none;
  margin: 0px; // 0px 20px 20px 10px;
  padding: 0px 50px 10px 50px;
}

.toggle_data_block {
  cursor: pointer;
}

.a_link {
  cursor: pointer;
}

.control_link {
  cursor: pointer;
}

/* CHAR ELEMENTS BLOCK END*/

/* BUTTONS BLOCK START */
.btn-cancel-action {
  margin-left: 20px;
  color: $button_color;
  background-color: $cancel_background_color;
}

//.btn-prev-action {
//  color: $button_color;
//  background-color: $prev_background_color;
//}
.btn-label {
  padding: 0;
  margin: 0;

}

.btn-group { /*   pull-right   */
  padding: 0px;
  margin: 0;
  //margin-bottom:  $indent_sm;
  //margin-top:  $indent_sm;
  border: 0px solid blue; /* DEBUGGING */
  z-index: 1000;
  vertical-align: text-top;
  //background-color: yellow;
}

.btn-file {
  padding-right: 100px;
}

.required {
  color: red;
}

.text-primary {
  color: black;
}

.text-info {
  //color: maroon;
}

.text-danger {
  color: red;
  //text-align: center;
}

.inactive {
  color: grey;
}

/* BUTTONS BLOCK END */

/* CONTENT BLOCK START */
.user_name {
  color: red;
  text-decoration: underline;
}

.timestamp_as_ago_label {
  text-decoration: blink;
}

/* CONTENT BLOCK END */

.file-upload {
  .files {
    margin-bottom: 15px;
    a {
      &:link {
        color: white;
      }
    }
    ul {
      li {

        a {
          cursor: pointer;
        }

        &.selected {
          font-weight: bold;
        }
      }
    }
  }
}

.loader-holder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(48, 151, 209, 0.3);
  z-index: 10000;

  .loader {
    position: relative;
    margin-top: 20%;
    text-align: center;
  }
}

/* FILE_UPLOAD BLOCK START */
.file_uploading_block_item {
  //width: 300px;
  //height: auto;
  margin: 0 5px 5px 0px;

}

.file_uploading_block_progress {
  margin: 5px 10px 5px 0px;
  position: relative;
  width: 250px;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
  display: inline-block;
  color: #FFFFFF;

}

.file_uploading_block_upload_bar {
  background-color: #0ba1b5;
  width: 0;
  height: 20px;
  border-radius: 3px;
  color: #FFFFFF;

}


.multiple_file_uploading_block {

  border: 2px dotted #A5A5C7;
  width: 420px;
  color: #DADCE3;
  text-align: left;
  vertical-align: middle;
  padding: 10px 10px 0px 10px;
}

.file_uploading_block_upload_button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  cursor: pointer;
  line-height: 20px;
  height: 25px;
  margin: 0 10px 10px 0;
  display: inline-block;
  background: #fff;
  border: 1px solid #e8e8e8;
  color: #A0C5E8;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 2px 0 0 #e8e8e8;
  -webkit-box-shadow: 0 2px 0 0 #e8e8e8;
  box-shadow: 0 2px 0 0 #e8e8e8;
  padding: 12px 10px 26px 10px;
  color: #fff;
  background: #2579A9;
  border: none;
  -moz-box-shadow: 0 2px 0 0 #13648d;
  -webkit-box-shadow: 0 2px 0 0 #13648d;
  box-shadow: 0 2px 0 0 #13648d;
  vertical-align: middle;
}

.multiple_file_uploading_block {

  border: 2px dotted #A5A5C7;
  width: 420px;
  color: #DADCE3;
  text-align: left;
  vertical-align: middle;
  padding: 10px 10px 0px 10px;
}

.state-hover {
  border: 2px solid #A5A5C7;
}


.file_uploading_block_statusbar {
  //border: 5px solid #0ba1b5;
  //margin-top: 10px;
  //width: 420px;
  //margin-right: 10px;
  margin: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 5px 25px 5px;
  min-height: 140px;
}

.file_upload_block {
  margin: 20px 0px 20px 0px;
  width: 100%;
  //border: 1px solid red;
  border: 1px solid #0ba1b5;
}

/* FILE_UPLOAD BLOCK END */

//.fc-today{
//  z-index: 999 !important;
//  background-color: #ffae9e !important;
//}
.popover {
  z-index: 1000 !important;
  background-color: #e8ffc9 !important;
}

/*  highlight library BLOCK START */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0
}

.hljs, .hljs-subst {
  color: #444
}

.hljs-comment {
  color: #888888
}

.hljs-keyword, .hljs-attribute, .hljs-selector-tag, .hljs-meta-keyword, .hljs-doctag, .hljs-name {
  font-weight: bold
}

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
  color: #880000
}

.hljs-title, .hljs-section {
  color: #880000;
  font-weight: bold
}

.hljs-regexp, .hljs-symbol, .hljs-variable, .hljs-template-variable, .hljs-link, .hljs-selector-attr, .hljs-selector-pseudo {
  color: #BC6060
}

.hljs-literal {
  color: #78A960
}

.hljs-built_in, .hljs-bullet, .hljs-code, .hljs-addition {
  color: #397300
}

.hljs-meta {
  color: #1f7199
}

.hljs-meta-string {
  color: #4d99bf
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}

td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;

  /* your custom style here */
}

/* for block of code */
td.hljs-ln-code {
  padding-left: 10px;
}

/*  highlight library BLOCK END */

/*  EVENT TIME TO THE CURRENT DAT BLOCK START */
.is_today {
  border: 2px #ff0000;
  background-color: #ff0000;
}

.is_tomorrow {
  border: 2px #ff661a;
  background-color: #ff661a;
}

.is_future {
  border: 2px #ffd693;
  background-color: #ffd693;
}

.is_past {
  border: 2px #ceceae;
  background-color: #ceceae;
}

/*  EVENT TIME TO THE CURRENT DAT BLOCK END */
