// Variables
@import "variables";

.test-device{
  background:url(/images/#{$current_dashboard_template}/test-device/xs480.png)center center no-repeat;
  border: 0 dotted #E90E0E;
}

.user_todo_listing {
  max-height: 300px;
  overflow-x: hidden;
  border: 1px dotted lightgray;
}


/* FORMS BLOCK START */

#wrapper {
  border: none;
  padding: 5px;
  margin: 0 0;
}

.form-group {
  margin-left: 0;
  margin-right: 0;

}
.form-group {
  margin-left: 0;
  margin-right: 0;
}
.white-box, .col-sm-12{
  padding-left: 0;
  padding-right: 0;
}
/* FORMS BLOCK END */

/* MODAL DIALOGS BLOCK START */

.modal-dialog {
  //padding: $indent_xs_2;
  max-height: 200px;
  padding-top: 0;
  margin-top: 10px !important;
}

.modal-content {
  min-width: 450px;
  min-height: 200px;
  padding: 0.1em;
  margin: 0;
}

.modal-body {
  padding: $indent_xs_2;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: 0;
  max-height: 180px;
  border: 0px solid red;
  background-color: $background_color;
}

.modal-content-3rows {
  min-width: 450px;
  min-height: 280px;
  padding: 0.5em;
  position: relative;
  background-color: $background_color;
  border: 1px solid $border_color;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}
.modal-dialog-3rows {
  max-width: 450px;
  max-height: 280px;
  position: relative;
  background-color: $background_color;
  width: 600px;
  margin: auto;
  margin-top: 5px;
  box-sizing: border-box;
  display: block;
}
.modal-body-3rows {
  padding: $indent_sm;
  max-height: 220px;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  border: 0px solid red;
  background-color: $background_color;
}

.modal-content-4rows {
  min-width: 450px;
  min-height: 790px;
  padding: 0.5em;
  position: relative;
  background-color: $background_color;
  border: 1px solid $border_color;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}


.modal-dialog-4rows {
  max-width: 450px;
  max-height: 790px;
  position: relative;
  background-color: $background_color;
  width: 600px;
  margin: auto;
  margin-top: 60px;
  box-sizing: border-box;
  display: block;
}


.modal-content-7rows {
  min-width: 450px;
  min-height: 1070px;
  padding: 0.5em;
  position: relative;
  background-color: $background_color;
  border: 1px solid $border_color;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-dialog-7rows {
  max-width: 450px;
  max-height: 1070px;
  position: relative;
  background-color: $background_color;
  width: 600px;
  margin: auto;
  margin-top: 60px;
  box-sizing: border-box;
  display: block;
}


.modal-title {
  font-size: medium;
}


.modal-dialog {
  max-width: 450px;
  max-height: 600px;
  margin: auto;
  margin-top: 60px;
}

/*
.modal-dialog-full-width {
  padding:  $indent_sm;
  width: 470px;
  background-color: $background_color;
  margin: auto;
}
.modal-content-full-width {
  width: 470px;
  border: 0 magenta;
  padding: $indent_xs_2;
  margin: 0;
}
*/


.modal-content-full-width {
  min-width: 480px;
  min-height: 320px;
  border: 0px red;
  padding: 0.5em;
  margin: auto;
  //margin-top: 30px;
  background-color: $background_color;
}

.modal-dialog-full-width {
  max-width: 480px;
  max-height: 320px;
  margin-top: 20px;
  background-color: $background_color ;
}

.modal-body-full-width {
  padding: $indent_sm;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  //max-height: 30px;
  border: 0px solid red;
  background-color: $background_color;
}

.modal-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* MODAL DIALOGS BLOCK END */

.pull_left_only_on_xs {
  text-align: left !important;
}

