// Variables
@import "variables";

.test-device{
  background:url(/images/#{$current_dashboard_template}/test-device/xs320.png)center center no-repeat;
  border: 0 dotted #E90E0E;
}


.user_todo_listing {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px dotted lightgray;
}

/* FORMS BLOCK START */
#wrapper {
  border: none;
  padding: 5px;
  margin: 0 0;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;

}
.form-group {
  margin-left: 0;
  margin-right: 0;
}
.white-box, .col-sm-12{
  padding-left: 0;
  padding-right: 0;
}
/* FORMS BLOCK END */

/* MODAL DIALOGS BLOCK START */
.modal-title {
  font-size: medium;
}


.modal-dialog {
  /* width: 800px; */
  //max-width: 300px;
  //max-height: 440px;
  margin-top: 20px !important;
  background-color: $background_color;
}
.modal-content {
  min-width: 300px;
  min-height: 440px;
  padding: 0.5em;
  margin: 0px;
  border: 3px red;
}
.modal-body {
  padding: $indent_xs;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  max-height: 380px;
  border: 0px solid red;
  background-color: $background_color;
}

.modal-dialog-3rows {
  max-width: 300px;
  max-height: 450px;
  position: relative;
  margin: 30px auto;
  margin-top: 20px;
  box-sizing: border-box;
  display: block;
}

.modal-content-3rows {
  min-width: 300px;
  min-height: 450px;
  padding: 0.5em;
  position: relative;
  background-color: $background_color;
  border: 5px solid $border_color;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}
.modal-body-3rows {
  padding: $indent_sm;
  max-height: 410px;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  border: 0px solid red;
  background-color: $background_color;
}

.modal-dialog-4rows {
  max-width: 300px;
  max-height: 790px;
  position: relative;
  margin: 30px auto;
  margin-top: 60px;
  box-sizing: border-box;
  display: block;
}


.modal-dialog-7rows {
  max-width: 300px;
  max-height: 1070px;
  position: relative;
  margin: 30px auto;
  margin-top: 60px;
  box-sizing: border-box;
  display: block;
}


.modal-dialog-full-width {
  padding:  $indent_sm;
  width: 300px;
  background-color: $background_color;
  margin: auto;
}


.modal-content-4rows {
  min-width: 300px;
  min-height: 790px;
  padding: 0.5em;
  position: relative;
  background-color: $background_color;
  border: 5px solid $border_color;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-content-7rows {
  min-width: 300px;
  min-height: 1070px;
  padding: 0.5em;
  position: relative;
  background-color: $background_color;
  border: 5px solid $border_color;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

//.modal-content-full-width {
//  width: 300px;
//  border: 0 magenta;
//  padding: $indent_xs_2;
//  margin: 0;
//}


.modal-content-full-width {
  min-width: 600px;
  min-height: 1000px;
  border: 0px red;
  padding: 0.5em;
  margin: auto;
  //margin-top: 30px;
  background-color: $background_color;
}

.modal-dialog-full-width {
  max-width: 600px;
  max-height: 1000px;
  margin-top: 20px;
  background-color: $background_color ;
}

.modal-body-full-width {
  padding: $indent_sm;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  max-height: 840px;
  border: 0px solid red;
  background-color: $background_color;
}

.modal-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* MODAL DIALOGS BLOCK END */

/* MARGINS_PADDINGS DIALOGS BLOCK START */
.top_margin_sm_only_on_xs {
  margin-top:$indent_sm;
}
.top_margin_md_only_on_xs {
  margin-top:$indent_sm;
}
.top_margin_lg_only_on_xs {
  margin-top: $indent_lg;
}

.pull_right_only_on_xs {
  float: right !important;
  //background-color: maroon;
}
.pull_left_only_on_xs {
  text-align: left !important;
  //background-color: yellow;
}

.pull_left_only_on_xs {
  text-align: left !important;
  //background-color: yellow;
}


/* MARGINS_PADDINGS DIALOGS BLOCK END */
